.airContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
    height: 100%;
}

#airSubTwo
{
    top: -42vh;
}

#airSubThree
{
    top: -90vh;
}

#airSubFour
{
    top: -125vh;
}

#airSubFive
{
    top: -210vh;
}

#airSubSix
{
    top: -250vh;
}

#airSubSeven
{
    top: -220vh;
}

#airSubEight
{
    top: -175vh;
}

#airSubNine
{
    top: -210vh;
}

#airSubTen
{
    top: -175vh;
}

#airSubEleven
{
    top: -270vh;
}

#airSubTwelve
{
    top: -305vh;
    height: 30vh;
}

#airVideoOne 
{
    position: relative;
    top: 32%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -2;
}

#airVideoTwo 
{
    position: relative;
    top: 45%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
}

#airVideoThree
{
    position: relative;
    top: 40%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}

#airVideoFour
{
    position: relative;
    top: 43%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: 5;
}

#airOne
{
    position: relative;
    top: 18%;
    left: 34.7%;
    z-index: -2;
}

#airTwo
{
    position: relative;
    top: -10%;
    left: 30%;
}

#airThree
{
    position: relative;
    top: 27%;
    left: 1.2%;
}

#airFour
{
    position: relative;
    top: 44%;
    left: -32.9%;
    z-index: -5;
}   

#airFive
{
    position: relative;
    top: 25%;
    left: 34.7%;
}

#airSix
{
    position: relative;
    top: 32%;
    left: -0.5%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}

#airSeven
{
    position: relative;
    top: 40%;
    left: -32.9%;
    z-index: -5;
}

#airEight
{
    position: relative;
    top: -35%;
    left: 34.7%;
}

#airNine
{
    position: relative;
    top: 23%;
    left: 1%;
}

#airTen
{
    position: relative;
    top: 30%;
    left: 1.2%;
}

#airEleven
{
    position: relative;
    top: 23%;
    left: 34.7%;
}

#airTwelve
{
    position: relative;
    top: 71%;
    left: -49.7%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}

.verticalGridContainerAir
{
    width: 50%;
    height: 53%;
    display: inline-grid;
    position: relative;
}

#airGridOne
{
    position: relative;
    top: 27%;
    left: -50%;
}

#airImageDescriptionOne
{
    position: relative;
    top: -1%;
    left: 35.3%;
    width: 9%;
}

#airImageDescriptionTwo
{
    position: relative;
    top: 39%;
    left: 35.3%;
    width: 9%;
}

#airImageDescriptionThree
{
    position: relative;
    top: 25%;
    left: 35.3%;
    width: 9%;
}

#airImageDescriptionFour
{
    position: relative;
    top: 35%;
    left: 35.3%;
    width: 9%;
}

#airImageDescriptionFive
{
    position: relative;
    top: 25%;
    left: 35.3%;
    width: 9%;
}

#airImageDescriptionSix
{
    position: relative;
    top: 65%;
    left: 35.3%;
    width: 9%;
}

#airImageDescriptionSeven
{
    position: relative;
    top: 38%;
    left: 35.3%;
    width: 9%;
}

#airImageDescriptionEight
{
    position: relative;
    top: 15%;
    left: 35.3%;
    width: 9%;
}

#airImageDescriptionNine
{
    position: relative;
    top: 18.5%;
    left: 35.3%;
    width: 9%;
}

#airImageDescriptionTen
{
    position: relative;
    top: 24%;
    left: 35.3%;
    width: 9%;
}

#airImageDescriptionEleven
{
    position: relative;
    top: 2%;
    left: 35.3%;
    width: 14%;
}

.endlineAir
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0vw;
    border-bottom: 1px solid black;
}

#gridImageMiddleAir
{
    width: 23.5vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

#gridImageMiddleAirLarger
{
    width: 30vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

@media(max-width: 1299px) 
{

    #airSubTwo
    {
        top: -20vh;
    }

    #airSubThree 
    {
        top: -55vh;
    }

    #airSubFour 
    {
        top: -75vh;
    }

    #airSubFive 
    {
        top: -140vh;
    }

    #airSubSix 
    {
        top: -170vh;
    }

    #airSubSeven 
    {
        top: -110vh;
    }

    #airSubEight 
    {
        top: -25vh;
    }

    #airSubNine 
    {
        top: -50vh;
    }

    #airSubTen 
    {
        top: 25vh;
    }

    #airSubEleven
    {
        top: -45vh;
    }

    #airSubTwelve 
    {
        top: -58vh;
        height: 30vh;
    }

    #airVideoOne 
    {
        top: 42%;
        left: -32.9%;
    }

    #airVideoTwo 
    {
        top: 57%;
        left: -32.9%;
    }

    #airVideoThree 
    {
        top: 50%;
        left: -32.9%;
    }

    #airVideoFour 
    {
        top: 53%;
        left: -32.9%;
    }

    #airOne 
    { 
        top: 30%;
        left: 34.5%;
    }

    #airTwo 
    {
        top: -15%;
        left: 30%;
    }

    #airThree 
    {
        top: 35%;
        left: 0.8%;
    }

    #airFour 
    {
        top: 52%;
        left: -32.9%;
    }

    #airFive 
    {
        top: 25%;
        left: 34.45%;
    }

    #airSix 
    {
        top: 35%;
        left: 0.1%;
    }

    #airSeven 
    {
        top: 50%;
        left: -32.9%;
    }

    #airEight 
    {
        top: -40%;
        left: 34.4%;
    }    

    #airNine 
    {
        top: 35%;
        left: 0.9%;
    }

    #airTen 
    {
        top: 30%;
        left: 0.9%;
    }

    #airEleven 
    {
        top: 23%;
        left: 34.45%;
    }

    #airTwelve 
    {
        top: 83%;
        left: -49.7%;
    }

    #airImageDescriptionOne 
    {
        top: -7%;
        left: 35.3%;
    }

    #airImageDescriptionTwo 
    {
        top: 52%;
    }

    #airImageDescriptionThree 
    {
        top: 32%;
        left: 35.3%;
    }

    #airImageDescriptionFour 
    {
        top: 45%;
        left: 35.3%;
    }

    #airImageDescriptionFive 
    {
        top: 27%;
        left: 35.3%;
    }

    #airImageDescriptionSix 
    {
        top: 80%;
        left: 35.3%;
    }

    #airImageDescriptionSeven 
    {
        top: 48%;
        left: 35.3%;
    }

    #airImageDescriptionEight 
    {
        top: 20%;
        left: 35.3%;
    }

    #airImageDescriptionNine 
    {
        top: 31.5%;
        left: 35.3%;
    }

    #airImageDescriptionEleven 
    {
        top: 23%;
        left: 35.3%;
    }

    #airGridOne 
    {
        top: 27%;
        left: -50.8%;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) 
{
    #airSubOne
    {
        top: -5vh;
    }

    #airSubTwo 
    {
        top: -48vh;
    }

    #airSubThree 
    {
        top: -102vh;
    }

    #airSubFour
    {
        top: -140vh;
    }

    #airSubFive 
    {
        top: -230vh;
    }    

    #airSubSix 
    {
        top: -278vh;
    }

    #airSubSeven 
    {
        top: -255vh;
    }

    #airSubEight 
    {
        top: -218vh;
    }

    #airSubNine 
    {
        top: -258vh;
    }

    #airSubTen 
    {
        top: -230vh;
    }

    #airSubEleven 
    {
        top: -320vh;
    }    

    #airSubTwelve 
    {
        top: -360vh;
        height: 30vh;
    }

    #airVideoOne 
    {
        top: 34%;
        left: -32.9%;
    }

    #airOne 
    {
        top: 21%;
        left: 34.5%;
    }

    #airThree 
    {
        top: 27%;
        left: 0.8%;
    }

    #airNine
    {
        top: 30%;
        left: 0.8%;
    }

    #airTen 
    {
        top: 30%;
        left: 0.8%;
    }

    #airFive 
    {
        top: 25%;
        left: 34.5%;
    }

    #airSix 
    {
        top: 32%;
        left: 0%;
    }

    #airEleven 
    {
        top: 20%;
        left: 34.5%;
    }

    #airGridOne 
    {
        top: 27%;
        left: -50.8%;
    }

    #airImageDescriptionNine 
    {
        top: 27.5%;
        left: 35.3%;
    }

    #airImageDescriptionTen 
    {
        top: 21%;
        left: 35.3%;
    }

    #airImageDescriptionEleven 
    {
        top: 8%;
        left: 35.3%;
    }
}

@media (min-width: 1400px) and (max-width: 1499px)
{

    #airSubOne
    {
        top: -4vh;
    }

    #airSubTwo 
    {
        top: -46vh;
    }

    #airSubThree 
    {
        top: -88vh;
    }

    #airSubFour 
    {
        top: -123vh;
    }

    #airSubFive 
    {
        top: -207vh;
    }

    #airSubSix 
    {
        top: -248vh;
    }

    #airSubSeven 
    {
        top: -210vh;
    }

    #airSubEight 
    {
        top: -157vh;
    }

    #airSubNine 
    {
        top: -198vh;
    }

    #airSubTen 
    {
        top: -160vh;
    }

    #airSubEleven 
    {
        top: -255vh;
    }

    #airSubTwelve 
    {
        top: -287vh;
        height: 30vh;
    }

    #airVideoOne 
    {
        top: 29%;
        left: -32.9%;
    }

    #airVideoTwo 
    {
        top: 43%;
        left: -32.9%;
    }

    #airVideoFour 
    {
        top: 40.2%;
        left: -32.9%;
    }

    #airOne 
    {
        top: 14%;
        left: 34.6%;
    }

    #airFour 
    {
        top: 40%;
        left: -32.9%;
    }

    #airFive 
    {   
        top: 25%;
        left: 34.5%;
    }

    #airSix 
    {
        top: 32%;
        left: -0.05%;
    }

    #airNine 
    {
        top: 23%;
        left: 1%;
        width: 31.2vw;
    }

    #airTen 
    {
        top: 30%;
        left: 1.05%;
    }

    #airEleven 
    {
        top: 18%;
        left: 34.6%;
    }

    #airTwelve 
    {
        top: 73%;
        left: -49.7%;
    }

    #airThree 
    {
        top: 27%;
        left: 1%;
        width: 31.3vw;
    }

    #airGridOne 
    {
        top: 27%;
        left: -50.5%;
    }

    #airImageDescriptionOne 
    {
        top: -2%;
        left: 35.3%;
    }

    #airImageDescriptionTwo 
    {
        top: 38%;
        left: 35.3%;
    }

    #airImageDescriptionSix 
    {
        top: 68%;
        left: 35.3%;
    }

    #airImageDescriptionSeven 
    {
        top: 35%;
        left: 35.3%;
    }

    #airImageDescriptionEight 
    {
        top: 12%;
        left: 35.3%;
    }

    #airImageDescriptionNine 
    {
        top: 20.5%;
        left: 35.3%;
    }

    #airImageDescriptionTen 
    {
        top: 19%;
        left: 35.3%;
        width: 9%;
    }

    #airImageDescriptionEleven 
    {
        top: 15%;
        left: 35.3%;
    }

    .airTitles 
    {
        position: relative;
        top: 20.8%;
        left: 1.7%;
    }

}