.airContainer {
	max-width: 100vw;
	flex: 100%;
	display: block;
	z-index: 10;
	height: 100%;
}
#airSubTwo {
    top: -35vh;
}
#airSubThree {
    top: -86.5vh;
}
#airSubFour {
    top: -122.1vh;
}
#airSubFive {
    top: -210vh;
}
#airSubSix {
    top: -242.7vh;
}
#airSubSeven {
    top: -215.4vh;
}
#airSubEight {
    top: -160vh;
}
#airSubNine {
    top: -197vh;
}
#airSubTen {
    top: -159.2vh;
}
#airSubEleven {
    top: -259.7vh;
}

#airSubTwelve {
    top: -292.3vh;
    height: 30vh;
}
#airVideoOne {
	position: relative;
	top: 28%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: -2;
}
#airVideoTwo {
	position: relative;
	top: 45%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
}
#airVideoThree {
	position: relative;
	top: 48%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: -5;
}
#airVideoFour {
	position: relative;
	top: 43%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: 5;
}
#airOne {
	position: relative;
	top: 22%;
	left: 34.7%;
	z-index: -2;
}
#airTwo {
	position: relative;
	top: -10%;
	left: 30%;
}
#airThree {
	position: relative;
	top: 27%;
	left: 1.2%;
}
#airFour {
	position: relative;
	top: 48%;
	left: -32.9%;
	z-index: -5;
}
#airFive {
	position: relative;
	top: 25%;
	left: 34.7%;
}
#airSix {
	position: relative;
	top: 46%;
	left: -0.5%;
	width: 45.7vw;
	height: auto;
	z-index: -5;
}
#airSeven {
    position: relative;
    top: 46%;
    left: -32.9%;
    z-index: -5;
}
#airEight {
	position: relative;
	top: -35%;
	left: 34.7%;
}
#airNine {
	position: relative;
	top: 23%;
	left: 1%;
}
#airTen {
	position: relative;
	top: 30%;
	left: 1.2%;
}
#airEleven {
	position: relative;
	top: 23%;
	left: 34.7%;
}
#airTwelve {
	position: relative;
	top: 85%;
	left: -49.7%;
	width: 45.7vw;
	height: auto;
	z-index: -5;
}
.verticalGridContainerAir {
	width: 50%;
	height: 53%;
	display: inline-grid;
	position: relative;
}
#airGridOne {
	position: relative;
	top: 27%;
	left: -50%;
}
#airImageDescriptionZero {
	position: relative;
	top: 21%;
	left: 35.3%;
	width: 14%;
}
#airImageDescriptionOne {
	position: relative;
	top: -1%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionTwo {
	position: relative;
	top: 39%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionThree {
	position: relative;
	top: 25%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionFour {
	position: relative;
	top: 42%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionFive {
	position: relative;
	top: 25%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionSix {
	position: relative;
	top: 65%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionSeven {
	position: relative;
	top: 38%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionEight {
    position: relative;
    top: 19%;
    left: 35.3%;
    width: 9%;
}
#airImageDescriptionNine {
	position: relative;
	top: 18.5%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionTen {
	position: relative;
	top: 24%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionEleven {
	position: relative;
	top: 2%;
	left: 35.3%;
	width: 14%;
}
.endlineAir {
	width: 64.5vw;
	height: 1vh;
	position: relative;
	top: 0%;
	left: 0vw;
	border-bottom: 1px solid black;
}
#gridImageMiddleAir {
	width: 23.5vw;
	margin-left: 30px;
	margin-right: 5px;
	margin-top: 3vh;
	height: auto;
	pointer-events: none;
}
#gridImageMiddleAirLarger {
	width: 30vw;
	margin-left: 30px;
	margin-right: 5px;
	margin-top: 3vh;
	height: auto;
	pointer-events: none;
}

/*-------------------------Resposivness---------------------*/
/*---------------------1000s----------------------*/

/*1024 x 600*/
@media (max-width: 1025px) and (min-height: 599px)  and (max-height: 680px) {
	#airVideoOne {
    position: relative;
    top: 32%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -2;
}
#airOne {
    position: relative;
    top: 26%;
    left: 34.3%;
    z-index: -2;
}
#airImageDescriptionZero {
    position: relative;
    top: 25%;
    left: 35.3%;
    width: 14%;
}
#airSubTwo {
    top: -27.2vh;
}
#airGridOne {
    position: relative;
    top: 27.4%;
    left: -51.5%;
}
#airTwo {
    position: relative;
    top: -5%;
    left: 30%;
}
#airImageDescriptionOne {
    position: relative;
    top: -5%;
    left: 35.3%;
    width: 9%;
}
#airSubThree {
    top: -81.4vh;
}
#airVideoTwo {
    position: relative;
    top: 55%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
}
#airImageDescriptionTwo {
    position: relative;
    top: 48.8%;
    left: 35.3%;
    width: 9%;
}
#airSubFour {
    top: -99vh;
}
#airThree {
    position: relative;
    top: 42%;
    left: 0.7%;
}
#airImageDescriptionThree {
    position: relative;
    top: 36%;
    left: 35.3%;
    width: 9%;
}
#airSubFive {
    top: -165.2vh;
}
#airVideoThree {
    position: relative;
    top: 56%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 50%;
    left: 35.3%;
    width: 9%;
}
#airSubSix {
    top: -185.4vh;
}
#airFour {
    position: relative;
    top: 58%;
    left: -32.9%;
    z-index: -5;
}
#airFive {
    position: relative;
    top: 36%;
    left: 34.3%;
}
#airImageDescriptionFive {
    position: relative;
    top: 35%;
    left: 35.3%;
    width: 9%;
}
#airSubSeven {
    top: -143.4vh;
}
#airSix {
    position: relative;
    top: 53%;
    left: 0.3%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}
#airTwelve {
    position: relative;
    top: 91%;
    left: -49.7%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}
#airImageDescriptionSix {
    position: relative;
    top: 85%;
    left: 35.3%;
    width: 9%;
}
#airSubEight {
    top: -76vh;
}
#airVideoFour {
    position: relative;
    top: 48%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: 5;
}
#airImageDescriptionSeven {
    position: relative;
    top: 42%;
    left: 35.3%;
    width: 9%;
}
#airSubNine {
    top: -104vh;
}
#airSeven {
    position: relative;
    top: 53%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    position: relative;
    top: 26.9%;
    left: 35.3%;
    width: 9%;
}
#airSubTen {
    top: -57vh;
}
#airNine {
    position: relative;
    top: 30%;
    left: 0.7%;
}
#airImageDescriptionNine {
    position: relative;
    top: 24.5%;
    left: 35.3%;
    width: 9%;
}
#airSubEleven {
    top: -147vh;
}
#airSubEleven {
    top: -147vh;
}
#airTen {
    position: relative;
    top: 42%;
    left: 0.7%;
}
#airEleven {
    position: relative;
    top: 30%;
    left: 34.1%;
}
#airImageDescriptionTen {
    position: relative;
    top: 29.7%;
    left: 35.3%;
    width: 9%;
}
#airSubTwelve {
    top: -172vh;
    height: 30vh;
}


}

/* 1024 x 768 */
@media (max-width: 1025px) and (min-height: 681px)  and (max-height: 780px) {
	#airVideoOne {
    position: relative;
    top: 22%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -2;
}
#airOne {
    position: relative;
    top: 16%;
    left: 34.2%;
    z-index: -2;
}
#airImageDescriptionZero {
    position: relative;
    top: 15.2%;
    left: 35.3%;
    width: 14%;
}

#airSubTwo {
    top: -43.1vh;
}
#airTwo {
    position: relative;
    top: -1%;
    left: 30%;
}
#airGridOne {
    position: relative;
    top: 27%;
    left: -51.4%;
}

#airSubThree {
    top: -107.5vh;
}
#airVideoTwo {
    position: relative;
    top: 35.1%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
}
#airImageDescriptionTwo {
    position: relative;
    top: 29%;
    left: 35.3%;
    width: 9%;
}
#airSubFour {
    top: -150.3vh;
}
#airThree {
    position: relative;
    top: 24%;
    left: 0.7%;
}
#airImageDescriptionThree {
    position: relative;
    top: 19%;
    left: 35.3%;
    width: 9%;
}
#airSubFive {
    top: -246vh;
}
#airVideoThree {
    position: relative;
    top: 36%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 30%;
    left: 35.3%;
    width: 9%;
}
#airSubSix {
    top: -290.2vh;
}
#airFour {
    position: relative;
    top: 37.2%;
    left: -32.9%;
    z-index: -5;
}
#airFive {
    position: relative;
    top: 17%;
    left: 34.3%;
}
#airImageDescriptionFive {
    position: relative;
    top: 17%;
    left: 35.3%;
    width: 9%;
}
#airSubSeven {
    top: -301vh;
}
#airSix {
    position: relative;
    top: 35%;
    left: 0.5%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}
#airSix {
    position: relative;
    top: 35%;
    left: 0.5%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}
#airTwelve {
    position: relative;
    top: 65%;
    left: -49.7%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}

#airImageDescriptionSix {
    position: relative;
    top: 59%;
    left: 35.3%;
    width: 9%;
}
#airSubEight {
    top: -288vh;
}
#airVideoFour {
    position: relative;
    top: 33%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: 5;
}
#airImageDescriptionSeven {
    position: relative;
    top: 26%;
    left: 35.3%;
    width: 9%;
}
#airSubNine {
    top: -335vh;
}
#airSeven {
    position: relative;
    top: 36%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    position: relative;
    top: 14%;
    left: 35.3%;
    width: 9%;
}
#airSubTen {
    top: -338vh;
}
#airNine {
    position: relative;
    top: 18%;
    left: 0.7%;
}
#airImageDescriptionNine {
    position: relative;
    top: 13.5%;
    left: 35.3%;
    width: 9%;
}
#airSubEleven {
    top: -448vh;
}
	#airTen {
    position: relative;
    top: 23%;
    left: 0.6%;
}
#airEleven {
    position: relative;
    top: 16%;
    left: 34.3%;
}
#airImageDescriptionTen {
    position: relative;
    top: 16%;
    left: 35.3%;
    width: 9%;
}
#airSubTwelve {
    top: -510.7vh;
    height: 30vh;
}
}

/*-------------------1200s----------------------*/
/*1280 x 582-*/
@media(min-width: 1026px) and (max-width: 1299px) {
#airSubTwo {
	top: -20vh;
}
#airSubThree {
	top: -55vh;
}
#airSubFour {
	top: -75vh;
}
#airSubFive {
	top: -140vh;
}
#airSubSix {
	top: -164vh;
}
#airSubSeven {
	top: -103vh;
}
#airSubEight {
	top: 1vh;
}
#airSubNine {
	top: -25vh;
}
#airSubTen {
	top: 53vh;
}
#airSubEleven {
	top: -22vh;
}
#airSubTwelve {
	top: -36vh;
	height: 30vh;
}
#airVideoOne {
	top: 34%;
	left: -32.9%;
}
#airVideoTwo {
	top: 57%;
	left: -32.9%;
}
#airVideoThree {
	top: 57%;
	left: -32.9%;
}
#airVideoFour {
	top: 53%;
	left: -32.9%;
}
#airOne {
	top: 28%;
	left: 34.5%;
}
#airTwo {
	top: -15%;
	left: 30%;
}
#airThree {
	top: 35%;
	left: 0.8%;
}
#airFour {
	top: 57%;
	left: -32.9%;
}
#airFive {
	top: 25%;
	left: 34.45%;
}
#airSix {
	top: 56%;
	left: 0.1%;
}
#airSeven {
	top: 55%;
	left: -32.9%;
}
#airEight {
	top: -40%;
	left: 34.4%;
}
#airNine {
	top: 35%;
	left: 0.9%;
}
#airTen {
	top: 30%;
	left: 0.9%;
}
#airEleven {
	top: 23%;
	left: 34.45%;
}
#airTwelve {
	top: 104%;
	left: -49.7%;
}
#airImageDescriptionZero {
	position: relative;
	top: 27%;
	left: 35.3%;
	width: 14%;
}
#airImageDescriptionOne {
	top: -7%;
	left: 35.3%;
}
#airImageDescriptionTwo {
	top: 52%;
}
#airImageDescriptionThree {
	top: 32%;
	left: 35.3%;
}
#airImageDescriptionFour {
	top: 51%;
	left: 35.3%;
}
#airImageDescriptionFive {
	top: 27%;
	left: 35.3%;
}
#airImageDescriptionSix {
	top: 80%;
	left: 35.3%;
}
#airImageDescriptionSeven {
	top: 48%;
	left: 35.3%;
}
#airImageDescriptionEight {
	top: 23%;
	left: 35.3%;
}
#airImageDescriptionNine {
	top: 31.5%;
	left: 35.3%;
}
#airImageDescriptionEleven {
	top: 23%;
	left: 35.3%;
}
#airGridOne {
	top: 27%;
	left: -50.8%;
}
}

/*------------ SAXONS BREAKPOINT 1 1280 x 689 ---------------*/
@media (min-width: 1026px) and (max-width: 1299px) and (min-height: 680px) and (max-height: 766px) {
#airSubTwo {
	top: -172.93px;
}
#airSubThree {
	top: -523.84px;
}
#airSubFour {
    top: -736.25px;
}
#airSubFive {
    top: -1248.6px;
}
#airSubSix {
    top: -1476.56px;
}
#airSubSeven {
    top: -1232.19px;
}
#airSubEight {
    top: -759.63px;
}
#airSubNine {
    top: -1015.3px;
}
	#airVideoTwo {
    top: 49%;
    left: -32.9%;
}
#airImageDescriptionTwo {
    top: 43%;
}

#airVideoThree {
    top: 49%;
    left: -32.9%;
}
#airImageDescriptionFour {
    top: 43%;
    left: 35.3%;
}

	#airFour {
    top: 49%;
    left: -32.9%;
}

#airSix {
    top: 47%;
    left: 0.1%;
}
#airTwelve {
    top: 88%;
    left: -49.7%;
}
#airImageDescriptionSix {
    top: 82%;
    left: 35.3%;
}

#airVideoFour {
    top: 45%;
    left: -32.9%;
}
#airImageDescriptionSeven {
    top: 39%;
    left: 35.3%;
}

#airSeven {
    top: 48%;
    left: -32.9%;
}
#airImageDescriptionEight {
    top: 22%;
    left: 35.3%;
}
#airSubTen {
    top: -679.93px;
}
#airSubEleven {
    top: -1238.28px;
}
#airSubTwelve {
    top: -209vh;
    height: 30vh;
}
}

/*------------ SAXONS BREAKPOINT 2 1280 x 768 ---------------*/
@media (min-width: 1026px) and (max-width: 1299px) and (min-height: 767px) and (max-height: 798px) {
#airSubTwo {
	top: -206.8px;
}
#airVideoTwo {
	top: 43%;
	left: -32.9%;
}
#airImageDescriptionTwo {
	top: 38%;
}
#airSubThree {
	top: -639.45px;
}
#airSubFour {
	top: -916.25px;
}
#airSubFive {
	top: -1506.6px;
}
#airVideoThree {
	top: 45%;
	left: -32.9%;
}
#airImageDescriptionFour {
	top: 40%;
	left: 35.3%;
}
#airSubSix {
	top: -1773.76px;
}
#airFour {
	top: 45%;
	left: -32.9%;
}
#airFive {
	top: 23%;
	left: 34.45%;
}
#airImageDescriptionFive {
	top: 24%;
	left: 35.3%;
}
#airSubSeven {
	top: -1642.19px;
}
#airSix {
	top: 43%;
	left: 0.1%;
}
#airTwelve {
	top: 81%;
	left: -49.7%;
}
#airImageDescriptionSix {
	top: 77%;
	left: 35.3%;
}
#airSubEight {
	top: -1233.73px;
}
#airVideoFour {
	top: 41%;
	left: -32.9%;
}
#airImageDescriptionSeven {
	top: 37%;
	left: 35.3%;
}
#airSubNine {
	top: -1518.75px;
}
#airSeven {
	top: 43%;
	left: -32.9%;
}
#airImageDescriptionEight {
	top: 19%;
	left: 35.3%;
}
#airSubTen {
	top: -1295.21px;
}
#airSubEleven {
	top: -1928.9px;
}
#airSubTwelve {
	top: -1898.34px;
	height: 30vh;
}
#airSubTwelve {
	top: -2244.34px;
	height: 30vh;
}
}

/*------------ SAXONS BREAKPOINT 3 1280 x 800 ---------------*/
@media (min-width: 1026px) and (max-width: 1299px) and (min-height: 799px) and (max-height: 801px) {
#airSubTwo {
	top: -209.8px;
}
#airGridOne {
	top: 25%;
	left: -50.8%;
}
#airTwo {
	top: -12%;
	left: 30%;
}
#airSubThree {
	top: -694.45px;
}
#airVideoTwo {
	top: 42%;
	left: -32.9%;
}
#airImageDescriptionTwo {
	top: 36%;
}
#airSubFour {
	top: -995.39px;
}
#airSubFive {
	top: -1615px;
}
#airVideoThree {
	top: 43%;
	left: -32.9%;
}
#airImageDescriptionFour {
	top: 37%;
	left: 35.3%;
}
#airSubSix {
	top: -1918.76px;
}
#airFour {
	top: 43%;
	left: -32.9%;
}
#airFive {
	top: 21%;
	left: 34.45%;
}
#airImageDescriptionFive {
	top: 22%;
	left: 35.3%;
}
#airSubSeven {
	top: -1837.67px;
}
#airSix {
	top: 42%;
	left: 0.1%;
}
#airTwelve {
	top: 78%;
	left: -49.7%;
}
#airImageDescriptionSix {
	top: 73%;
	left: 35.3%;
}
#airSubEight {
	top: -1479.31px;
}
#airVideoFour {
	top: 39%;
	left: -32.9%;
}
#airImageDescriptionSeven {
	top: 34%;
	left: 35.3%;
}
#airSubNine {
	top: -1808.75px;
}
#airSeven {
	top: 42%;
	left: -32.9%;
}
#airImageDescriptionEight {
	top: 18%;
	left: 35.3%;
}
#airSubTen {
	top: -1646.33px;
}
#airSubEleven {
	top: -2306.48px;
}
#airSubTwelve {
	top: -2654.03px;
	height: 30vh;
}
}

/*-------------------1300s----------------------*/
/*1366 x 768*/
@media (min-width: 1300px) and (max-width: 1399px) {
#airSubOne {
	top: -5vh;
}
#airSubTwo {
	top: -42vh;
}
#airSubThree {
	top: -97vh;
}
#airSubFour {
	top: -138vh;
}
#airSubFive {
	top: -230vh;
}
#airSubSix {
	top: -269vh;
}
#airSubSeven {
	top: -248vh;
}
#airSubEight {
	top: -191vh;
}
#airSubNine {
	top: -234vh;
}
#airSubTen {
	top: -201vh;
}
#airSubEleven {
	top: -294vh;
}
#airSubTwelve {
	top: -333vh;
	height: 30vh;
}
#airVideoOne {
	top: 30%;
	left: -32.9%;
}
#airOne {
	top: 24%;
	left: 34.5%;
}
#airThree {
	top: 27%;
	left: 0.8%;
}
#airNine {
	top: 30%;
	left: 0.8%;
}
#airTen {
	top: 30%;
	left: 0.8%;
}
#airFive {
	top: 25%;
	left: 34.5%;
}
#airSix {
	top: 45%;
	left: 0%;
}
#airSeven {
	position: relative;
	top: 47%;
	left: -32.9%;
	z-index: -5;
}
#airEleven {
	top: 20%;
	left: 34.5%;
}
#airGridOne {
	top: 27%;
	left: -50.8%;
}
#airImageDescriptionZero {
	position: relative;
	top: 23%;
	left: 35.3%;
	width: 14%;
}
#airImageDescriptionSix {
	position: relative;
	top: 80%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionEight {
	position: relative;
	top: 20%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionNine {
	top: 27.5%;
	left: 35.3%;
}
#airImageDescriptionTen {
	top: 21%;
	left: 35.3%;
}
#airImageDescriptionEleven {
	top: 8%;
	left: 35.3%;
}
}

/*------------ SAXONS BREAKPOINT 4 1387 x 540 ---------------*/
@media (min-width: 1300px) and (max-width: 1399px)  and (min-height: 539px) and (max-height: 679px) {
#airVideoOne {
	top: 36%;
	left: -32.9%;
}
#airOne {
	top: 33%;
	left: 34.5%;
}
#airImageDescriptionZero {
	position: relative;
	top: 34%;
	left: 35.3%;
	width: 14%;
}
#airSubTwo {
	top: -74.78px;
}
#airTwo {
	position: relative;
	top: -24%;
	left: 30%;
}
#airImageDescriptionOne {
	position: relative;
	top: -12%;
	left: 35.3%;
	width: 9%;
}
#airSubThree {
	top: -185.57px;
}
#airVideoTwo {
	position: relative;
	top: 58%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
}
#airImageDescriptionTwo {
	position: relative;
	top: 53%;
	left: 35.3%;
	width: 9%;
}
#airSubFour {
	top: -297.32px;
}
#airThree {
	top: 35%;
	left: 0.8%;
}
#airSubFive {
	top: -683.46px;
}
#airVideoThree {
	position: relative;
	top: 58%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: -5;
}
#airImageDescriptionFour {
	position: relative;
	top: 53%;
	left: 35.3%;
	width: 9%;
}
#airSubSix {
	top: -805.21px;
}
#airFour {
	position: relative;
	top: 61%;
	left: -32.9%;
	z-index: -5;
}
#airSubSeven {
	top: -344.63px;
}
#airSix {
	top: 57%;
	left: 0%;
}
#airTwelve {
	position: relative;
	top: 114%;
	left: -49.7%;
	width: 45.7vw;
	height: auto;
	z-index: -5;
}
#airImageDescriptionSix {
	position: relative;
	top: 109%;
	left: 35.3%;
	width: 9%;
}
#airSubEight {
	top: 437.41px;
}
#airVideoFour {
	position: relative;
	top: 52%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: 5;
}
#airImageDescriptionSeven {
	position: relative;
	top: 47%;
	left: 35.3%;
	width: 9%;
}
#airSubNine {
	top: 278.66px;
}
#airSeven {
	position: relative;
	top: 61%;
	left: -32.9%;
	z-index: -5;
}
#airImageDescriptionEight {
	position: relative;
	top: 27%;
	left: 35.3%;
	width: 9%;
}
#airSubTen {
	top: 911.97px;
}
#airSubEleven {
	top: 507.32px;
}
#airSubTwelve {
	top: 478.59px;
	height: 30vh;
}
}

/*------------ SAXONS BREAKPOINT 5 1366 x 695 ---------------*/
@media (min-width: 1300px) and (max-width: 1399px) and (min-height: 680px) and (max-height: 749px) {

#airVideoOne {
    top: 34%;
    left: -32.9%;
}
#airOne {
    top: 28%;
    left: 34.5%;
}
#airImageDescriptionZero {
    position: relative;
    top: 26.7%;
    left: 35.3%;
    width: 14%;
}
#airSubTwo {
    top: -254.78px;
}
#airImageDescriptionOne {
    position: relative;
    top: -9%;
    left: 35.3%;
    width: 9%;
}
#airSubThree {
    top: -622.57px;
}
#airSubFour {
    top: -886.32px;
}
#airSubFive {
    top: -1503.46px;
}
#airSubSix {
    top: -1738.21px;
}
#airSubSeven {
    top: -1503.63px;
}
#airSubEight {
    top: -967.59px;
}
#airSubNine {
    top: -1248.34px;
}
#airSubTen {
    top: -880.03px;
}
#airSubEleven {
    top: -1514.68px;
}
#airSubTwelve {
    top: -1732.41px;
    height: 30vh;
}	
	
#airVideoTwo {
	position: relative;
	top: 50%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
}
#airImageDescriptionTwo {
	position: relative;
	top: 44%;
	left: 35.3%;
	width: 9%;
}

#airVideoThree {
	position: relative;
	top: 52%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: -5;
}
#airImageDescriptionFour {
	position: relative;
	top: 47%;
	left: 35.3%;
	width: 9%;
}

#airFour {
	position: relative;
	top: 52%;
	left: -32.9%;
	z-index: -5;
}

#airSix {
	top: 50%;
	left: 0%;
}
#airTwelve {
	position: relative;
	top: 94%;
	left: -49.7%;
	width: 45.7vw;
	height: auto;
	z-index: -5;
}
#airImageDescriptionSix {
	position: relative;
	top: 88%;
	left: 35.3%;
	width: 9%;
}

#airVideoFour {
	position: relative;
	top: 47%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: 5;
}
#airImageDescriptionSeven {
	position: relative;
	top: 41%;
	left: 35.3%;
	width: 9%;
}

#airSeven {
	position: relative;
	top: 52%;
	left: -32.9%;
	z-index: -5;
}
#airImageDescriptionEight {
	position: relative;
	top: 23%;
	left: 35.3%;
	width: 9%;
}

}

/*------------ SAXONS BREAKPOINT 6 1366 x 1024 ---------------*/
@media (min-width: 1300px) and (max-width: 1399px)  and (min-height: 781px) and (max-height: 1025px) {
.airContainer .mainTitle {
	top: 16%;
	font-size: 22px;
	line-height: 25px;
}
.airContainer .copyText {
	font-size: 13px;
	line-height: 17px;
	top: 16%;
}
#airVideoOne {
	top: 23%;
	left: -32.9%;
}
#airOne {
	top: 16.3%;
	left: 34.5%;
}
#airImageDescriptionZero {
	position: relative;
	top: 16%;
	left: 35.3%;
	width: 14%;
}
#airTwo {
	position: relative;
	top: -1%;
	left: 30%;
}
.airContainer .mainTitle {
	top: 16%;
	font-size: 22px;
	line-height: 25px;
}
.airContainer .copyText {
	font-size: 13px;
	line-height: 17px;
	top: 16.1%;
}
#airSubTwo {
	top: -546.6px;
}
#airTwo {
	position: relative;
	top: -3%;
	left: 30%;
}
#airSubThree {
	top: -1253.94px;
}
	#airVideoTwo {
    position: relative;
    top: 35%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
}
#airImageDescriptionTwo {
    position: relative;
    top: 28%;
    left: 35.3%;
    width: 9%;
}

#airSubFour {
    top: -1783.57px;
}
#airSubFive {
    top: -2771.31px;
}


#airVideoThree {
	position: relative;
	top: 37%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: -5;
}
#airImageDescriptionFour {
	position: relative;
	top: 32%;
	left: 35.3%;
	width: 9%;
}
	#airImageDescriptionFive {
    position: relative;
    top: 18%;
    left: 35.3%;
    width: 9%;
}#airFive {
    top: 18%;
    left: 34.5%;
}


#airSubSix {
    top: -3242.78px;
}
#airFour {
    position: relative;
    top: 38%;
    left: -32.9%;
    z-index: -5;
}


#airSubSeven {
    top: -3439.54px;
}

#airSix {
	top: 36%;
	left: 0%;
}
#airTwelve {
	top: 66%;
	left: -49.7%;
}
#airImageDescriptionSix {
	position: relative;
	top: 60%;
	left: 35.3%;
	width: 9%;
}
#airSubEight {
    top: -3345.73px;
}
#airVideoFour {
	position: relative;
	top: 33%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: 5;
}
#airImageDescriptionSeven {
	position: relative;
	top: 27%;
	left: 35.3%;
	width: 9%;
}
#airSubNine {
    top: -3880.92px;
}
#airSeven {
	position: relative;
	top: 37.2%;
	left: -32.9%;
	z-index: -5;
}
#airImageDescriptionEight {
	position: relative;
	top: 15%;
	left: 35.3%;
	width: 9%;
}
#airSubTen {
    top: -3966.5px;
}
#airSubEleven {
    top: -4953.45px;
}
#airSubTwelve {
    top: -5546.33px;
    height: 30vh;
}
}

/*-------------------1400s----------------------*/
/*1400 x 768*/
@media (min-width: 1400px) and (max-width: 1499px) {
#airSubOne {
	top: -4vh;
}
#airSubTwo {
	top: -40vh;
}
#airSubThree {
	top: -86vh;
}
#airSubFour {
	top: -123vh;
}
#airSubFive {
	top: -209vh;
}
#airSubSix {
	top: -242vh;
}
#airSubSeven {
	top: -206vh;
}
#airSubEight {
	top: -147vh;
}
#airSubNine {
	top: -188vh;
}
#airSubTen {
	top: -150vh;
}
#airSubEleven {
	top: -255vh;
}
#airSubTwelve {
	top: -287vh;
	height: 30vh;
}
#airVideoOne {
	top: 25%;
	left: -32.9%;
}
#airVideoTwo {
	top: 43%;
	left: -32.9%;
}
#airVideoFour {
	top: 40.2%;
	left: -32.9%;
}
#airOne {
	top: 19%;
	left: 34.6%;
}
#airFour {
	top: 46%;
	left: -32.9%;
}
#airFive {
	top: 25%;
	left: 34.5%;
}
#airSix {
	top: 42%;
	left: -0.05%;
}
#airNine {
	top: 23%;
	left: 1%;
	width: 31.2vw;
}
#airTen {
	top: 30%;
	left: 1.05%;
}
#airEleven {
	top: 18%;
	left: 34.6%;
}
#airTwelve {
	top: 83%;
	left: -49.7%;
}
#airThree {
	top: 27%;
	left: 1%;
	width: 31.3vw;
}
#airGridOne {
	top: 27%;
	left: -50.5%;
}
#airImageDescriptionZero {
	position: relative;
	top: 18%;
	left: 35.3%;
	width: 14%;
}
#airImageDescriptionOne {
	top: -2%;
	left: 35.3%;
}
#airImageDescriptionTwo {
	top: 38%;
	left: 35.3%;
}
#airImageDescriptionSix {
	top: 68%;
	left: 35.3%;
}
#airImageDescriptionSeven {
	top: 35%;
	left: 35.3%;
}
#airImageDescriptionEight {
	top: 12%;
	left: 35.3%;
}
#airImageDescriptionNine {
    top: 13.5%;
    left: 35.3%;
}
#airImageDescriptionTen {
	top: 19%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionEleven {
	top: 15%;
	left: 35.3%;
}
.airTitles {
	position: relative;
	top: 20.8%;
	left: 1.7%;
}
}

/*------------ SAXONS BREAKPOINT 7 1400 x 833 ---------------*/
@media (min-width: 1400px) and (max-width: 1499px)  and (min-height: 800px) and (max-height: 850px) {
.airContainer .mainTitle {
	top: 16%;
	font-size: 22px;
	line-height: 25px;
}
.airContainer .copyText {
	font-size: 13px;
	line-height: 17px;
	top: 16%;
}
#airVideoOne {
	top: 23%;
	left: -32.9%;
}
#airOne {
	top: 16.3%;
	left: 34.5%;
}
#airImageDescriptionZero {
	position: relative;
	top: 16%;
	left: 35.3%;
	width: 14%;
}
#airTwo {
	position: relative;
	top: -1%;
	left: 30%;
}
.airContainer .mainTitle {
	top: 18.8%;
	font-size: 22px;
	line-height: 25px;
}
.airContainer .copyText {
	font-size: 13px;
	line-height: 17px;
	top: 18.8%;
}
#airSubTwo {
	top: -345.6px;
}
#airTwo {
	position: relative;
	top: -11%;
	left: 30%;
}
#airSubThree {
    top: -768.94px;
}
#airSubFour {
    top: -1143.57px;
}
#airSubFive {
    top: -1869.31px;
}
#airSubSix {
    top: -2240.78px;
}
#airFour {
	top: 40%;
	left: -32.9%;
}
#airSubSeven {
    top: -2129.54px;
}
	#airSubEight {
    top: -1727.73px;
}
	#airSubNine {
    top: -2124.92px;
}
#airSubTen {
    top: -1931.5px;
}
#airSubEleven {
    top: -2743.45px;
}
#airSubTwelve {
    top: -3068.33px;
    height: 30vh;
}
#airImageDescriptionSix {
	top: 73%;
	left: 35.3%;
}
#airSeven {
    position: relative;
    top: 37%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    top: 10%;
    left: 35.3%;
}

#airVideoTwo {
    top: 37%;
    left: -32.9%;
}
#airImageDescriptionTwo {
    top: 31%;
    left: 35.3%;
}

#airVideoThree {
    position: relative;
    top: 38%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 32%;
    left: 35.3%;
    width: 9%;
}

#airFive {
    top: 17%;
    left: 34.5%;
}
#airImageDescriptionFive {
    position: relative;
    top: 17%;
    left: 35.3%;
    width: 9%;
}

#airSix {
    top: 38%;
    left: -0.05%;
}
#airTwelve {
    top: 76%;
    left: -49.7%;
}
#airImageDescriptionSix {
    top: 70%;
    left: 35.3%;
}

#airVideoFour {
    top: 35.2%;
    left: -32.9%;
}
#airImageDescriptionSeven {
    top: 29%;
    left: 35.3%;
}




}

/*------------ SAXONS BREAKPOINT 8 1400 x 900 ---------------*/
@media (min-width: 1400px) and (max-width: 1499px) and (min-height: 851px) and (max-height: 901px) {
.airContainer .mainTitle {
	top: 16%;
	font-size: 22px;
	line-height: 25px;
}
.airContainer .copyText {
	font-size: 13px;
	line-height: 17px;
	top: 16%;
}
#airVideoOne {
	top: 23%;
	left: -32.9%;
}
#airOne {
	top: 16.3%;
	left: 34.5%;
}
#airImageDescriptionZero {
	position: relative;
	top: 16%;
	left: 35.3%;
	width: 14%;
}
#airTwo {
	position: relative;
	top: -1%;
	left: 30%;
}
.airContainer .mainTitle {
	top: 17.5%;
	font-size: 22px;
	line-height: 25px;
}
.airContainer .copyText {
	font-size: 13px;
	line-height: 17px;
	top: 17.6%;
}
#airSubTwo {
	top: -381.6px;
}
#airTwo {
	position: relative;
	top: -11%;
	left: 30%;
}
#airSubThree {
    top: -871.74px;
}
#airVideoTwo {
    top: 37%;
    left: -32.9%;
}
#airImageDescriptionTwo {
    top: 31%;
    left: 35.3%;
}


#airSubFour {
    top: -1258.57px;
}
#airSubFive {
    top: -2045.31px;
}

#airVideoThree {
	position: relative;
	top: 38%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: -5;
}
#airImageDescriptionFour {
	position: relative;
	top: 33%;
	left: 35.3%;
	width: 9%;
}
#airSubSix {
    top: -2419.78px;
}
#airFive {
    top: 16%;
    left: 34.5%;
}
#airImageDescriptionFive {
    position: relative;
    top: 16%;
    left: 35.3%;
    width: 9%;
}

#airFour {
	top: 38%;
	left: -32.9%;
}
#airSubSeven {
    top: -2388.54px;
}
#airSix {
    top: 35%;
    left: -0.05%;
}
#airTwelve {
    top: 70%;
    left: -49.7%;
}
#airImageDescriptionSix {
    top: 63.4%;
    left: 35.3%;
}
#airSubEight {
    top: -2096.73px;
}
#airVideoFour {
    top: 32.2%;
    left: -32.9%;
}
#airImageDescriptionSeven {
    top: 26%;
    left: 35.3%;
}
#airSubNine {
    top: -2550.92px;
}

	
#airSeven {
	position: relative;
	top: 36%;
	left: -32.9%;
	z-index: -5;
}
#airSubTen {
    top: -2420.5px;
}
#airSubEleven {
    top: -3294.45px;
}
#airSubTwelve {
    top: -3696.33px;
    height: 30vh;
}
}

/*-------------------1500s----------------------*/
/* 1536 x 730*/
@media (min-width: 1500px) and (max-width: 1599px) {
#airSubTwo {
	top: -25vh;
}
#airSubThree {
	top: -68vh;
}
#airSubFour {
	top: -90vh;
}
#airSubFive {
	top: -167vh;
}
#airSubSix {
	top: -195vh;
}
#airSubSeven {
	top: -148vh;
}
#airSubEight {
	top: -45vh;
}
#airSubNine {
	top: -77vh;
}
#airSubTen {
	top: -4vh;
}
#airSubEleven {
	top: -93vh;
}
#airSubTwelve {
	top: -113vh;
	height: 30vh;
}
#airVideoOne {
	top: 33%;
}
#airVideoTwo {
	top: 57%;
}
#airVideoThree {
	position: relative;
	top: 56%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: -5;
}
#airVideoFour {
	top: 51%;
	left: -32.9%;
}
#airGridOne {
	top: 27%;
	left: -50.4%;
}
#airImageDescriptionZero {
	position: relative;
	top: 27%;
	left: 35.3%;
	width: 14%;
}
#airImageDescriptionOne {
	top: -6%;
	left: 35.3%;
}
#airImageDescriptionTwo {
	top: 52%;
	left: 35.3%;
}
#airImageDescriptionThree {
	top: 31%;
	left: 35.3%;
}
#airImageDescriptionFour {
	position: relative;
	top: 50%;
	left: 35.3%;
	width: 9%;
}
#airImageDescriptionSix {
	top: 98%;
	left: 35.3%;
}
#airImageDescriptionSeven {
	top: 46%;
	left: 35.3%;
}
#airImageDescriptionEight {
	top: 26%;
	left: 35.3%;
}
#airImageDescriptionNine {
	top: 25%;
	left: 35.3%;
}
#airImageDescriptionEleven {
	top: 12%;
	left: 35.3%;
}
#airImageDescriptionTen {
	top: 26%;
	left: 35.3%;
}
#airOne {
	position: relative;
	top: 27%;
	left: 34.7%;
	z-index: -2;
}
#airThree {
	top: 27%;
	left: 0.9%;
}
#airFour {
	position: relative;
	top: 58%;
	left: -32.9%;
	z-index: -5;
}
#airTwelve {
	top: 78%;
	left: -49.7%;
}
#airSix {
	top: 58%;
	left: -0.12%;
}
#airSeven {
	position: relative;
	top: 57%;
	left: -32.9%;
	z-index: -5;
}
#airNine {
	top: 29%;
	left: 1%;
}
#airTen {
	top: 30%;
	left: 0.9%;
}
#airEleven {
	top: 26%;
	left: 34.55%;
}
#airTwelve {
	top: 104%;
	left: -49.7%;
}
}

/*------------ SAXONS BREAKPOINT 9 1536 x 757 ---------------*/
@media (min-width: 1500px) and (max-width: 1599px)  and (min-height: 751px) and (max-height: 780px) {
.airContainer .mainTitle {
	top: 16%;
	font-size: 22px;
	line-height: 25px;
}
.airContainer .copyText {
	font-size: 13px;
	line-height: 17px;
	top: 16%;
}
#airVideoOne {
	top: 26%;
	left: -32.9%;
}
#airOne {
	top: 21.3%;
	left: 34.5%;
}
#airImageDescriptionZero {
	position: relative;
	top: 21%;
	left: 35.3%;
	width: 14%;
}
#airTwo {
	position: relative;
	top: -1%;
	left: 30%;
}
#airSubTwo {
    top: -221.75px;
}#airTwo {
    position: relative;
    top: -10%;
    left: 30%;
}
#airSubThree {
    top: -532.12px;
}
#airVideoTwo {
    top: 40%;
}
#airImageDescriptionTwo {
    top: 34%;
    left: 35.3%;
}
#airSubFour {
    top: -851.1px;
}
#airImageDescriptionThree {
    top: 22%;
    left: 35.3%;
}
#airSubFive {
    top: -1503.53px;
}
#airVideoThree {
    position: relative;
    top: 41%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 35%;
    left: 35.3%;
    width: 9%;
}
#airSubSix {
    top: -1838.92px;
}
#airFour {
    position: relative;
    top: 41%;
    left: -32.9%;
    z-index: -5;
}
#airFive {
    position: relative;
    top: 17%;
    left: 34.5%;
}
#airImageDescriptionFive {
    position: relative;
    top: 17%;
    left: 35.3%;
    width: 9%;
}
#airSubSeven {
    top: -1582.32px;
}
#airSix {
    top: 39%;
    left: -0.12%;
}
#airTwelve {
    top: 84%;
    left: -49.7%;
}
#airImageDescriptionSix {
    top: 78%;
    left: 35.3%;
}
#airSubEight {
    top: -1019.55px;
}
#airVideoFour {
	top: 41%;
	left: -32.9%;
}
#airImageDescriptionSeven {
	top: 37%;
	left: 35.3%;
}
#airSubNine {
    top: -1316.43px;
}
#airSeven {
    position: relative;
    top: 39%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    top: 9%;
    left: 35.3%;
}
#airSubTen {
    top: -965.36px;
}
#airSubEleven {
    top: -1602.87px;
}
#airSubTwelve {
    top: -1773.67px;
    height: 30vh;
}
}

/*------------ SAXONS BREAKPOINT 10 1536 x 792 ---------------*/
@media (min-width: 1500px) and (max-width: 1599px)  and (min-height: 781px) and (max-height: 810px) {
.airContainer .mainTitle {
	top: 18.5%;
	font-size: 22px;
	line-height: 25px;
}
.airContainer .copyText {
	font-size: 13px;
	line-height: 17px;
	top: 18.8%;
}
#airVideoOne {
	top: 28%;
	left: -32.9%;
}
#airOne {
	top: 22.3%;
	left: 34.5%;
}
#airImageDescriptionZero {
	position: relative;
	top: 23%;
	left: 35.3%;
	width: 14%;
}
#airSubTwo {
	top: -248.75px;
}
#airTwo {
	position: relative;
	top: -13%;
	left: 30%;
}
#airSubThree {
	top: -635.12px;
}
#airVideoTwo {
	top: 43%;
}
#airImageDescriptionTwo {
	top: 40%;
	left: 35.3%;
}
#airSubFour {
	top: -927.1px;
}
#airImageDescriptionThree {
	top: 21%;
	left: 35.3%;
}
#airSubFive {
	top: -1661.53px;
}
#airVideoThree {
	position: relative;
	top: 45%;
	width: 61.5vw;
	height: 61.5vh;
	left: -32.9%;
	z-index: -5;
}
#airImageDescriptionFour {
	position: relative;
	top: 41%;
	left: 35.3%;
	width: 9%;
}
#airSubSix {
	top: -1963.05px;
}
#airFour {
	position: relative;
	top: 46%;
	left: -32.9%;
	z-index: -5;
}
#airSubSeven {
	top: -1681.32px;
}
#airSix {
	top: 41%;
	left: -0.12%;
}
#airTwelve {
	top: 84%;
	left: -49.7%;
}
#airImageDescriptionSix {
	top: 79%;
	left: 35.3%;
}
#airSubEight {
	top: -1147.55px;
}
#airVideoFour {
	top: 40%;
	left: -32.9%;
}
#airImageDescriptionSeven {
	top: 36%;
	left: 35.3%;
}
#airSubNine {
	top: -1496.43px;
}
#airSeven {
	position: relative;
	top: 43%;
	left: -32.9%;
	z-index: -5;
}
#airImageDescriptionEight {
	top: 15%;
	left: 35.3%;
}
#airSubTen {
	top: -1147.36px;
}
#airSubEleven {
	top: -1855.87px;
}
#airSubTwelve {
	top: -2074.67px;
	height: 30vh;
}
}

/*------------ SAXONS BREAKPOINT 11 1536 x 864 ---------------*/
@media (min-width: 1500px) and (max-width: 1599px)  and (min-height: 811px) and (max-height: 870px) {
#airSubThree {
    top: -673.8px;
}
#airSubFour {
    top: -935.268px;
}
#airSubFive {
    top: -1626.78px;
}
#airSubSix {
    top: -1917.6px;
}
#airSubSeven {
    top: -1710.6px;
}
#airSubEight {
    top: -1137.36px;
}
#airSubNine {
    top: -1475.4px;
}
#airSubTen {
    top: -1130.08px;
}
#airSubEleven {
    top: -1915px;
}
#airSubTwelve {
    top: -2201.52px;
    height: 30vh;
}
	
#airFour {
    position: relative;
    top: 50%;
    left: -32.9%;
    z-index: -5;
}

#airSix {
    top: 49%;
    left: -0.12%;
}
#airTwelve {
    top: 89%;
    left: -49.7%;
}
#airImageDescriptionSix {
    top: 83%;
    left: 35.3%;
}

#airVideoFour {
    top: 44%;
    left: -32.9%;
}
#airImageDescriptionSeven {
    top: 38%;
    left: 35.3%;
}

#airSeven {
    position: relative;
    top: 48%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    top: 21%;
    left: 35.3%;
}



#airVideoTwo {
    top: 49%;
}
#airImageDescriptionTwo {
    top: 43%;
    left: 35.3%;
}

#airThree {
    top: 34%;
    left: 0.9%;
}

#airVideoThree {
    position: relative;
    top: 49%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 43%;
    left: 35.3%;
    width: 9%;
}



}

/*-------------------1600s----------------------*/
/*1600 x 750*/
@media (min-width: 1600px) and (max-width: 1699px) {
#airSubTwo {
	top: -30vh;
}
#airSubThree {
	top: -72vh;
}
#airSubFour {
	top: -107vh;
}
#airSubFive {
	top: -193vh;
}
#airSubSix {
	top: -233vh;
}
#airSubSeven {
	top: -185vh;
}
#airSubEight {
	top: -100vh;
}
#airSubNine {
	top: -142vh;
}
#airSubTen {
	top: -84vh;
}
#airSubEleven {
	top: -172vh;
}
#airSubTwelve {
	top: -203vh;
	height: 30vh;
}
#airVideoOne {
	top: 31.2%;
	left: -32.9%;
}
#airVideoTwo {
	top: 49%;
	left: -32.9%;
}
#airVideoFour {
	top: 45%;
	left: -32.9%;
}
#airOne {
	position: relative;
	top: 25%;
	left: 34.7%;
	z-index: -2;
}
#airTwo {
	top: -18%;
	left: 30%;
}
#airThree {
	top: 27%;
	left: 1%;
}
#airFour {
	position: relative;
	top: 50%;
	left: -32.9%;
	z-index: -5;
}
#airSix {
	top: 47%;
	left: -0.1%;
}
#airSeven {
	position: relative;
	top: 47%;
	left: -32.9%;
	z-index: -5;
}
#airEight {
	top: -48%;
	left: 34.7%;
}
#airNine {
	top: 28%;
	left: 1%;
}
#airTen {
	top: 30%;
	left: 1%;
}
#airEleven {
	top: 17%;
	left: 34.7%;
}
#airTwelve {
	top: 93%;
	left: -49.7%;
}
#airGridOne {
	top: 27%;
	left: -50.35%;
}
#airImageDescriptionZero {
	position: relative;
	top: 24%;
	left: 35.3%;
	width: 14%;
}
#airImageDescriptionOne {
	top: -5.5%;
	left: 35.3%;
}
#airImageDescriptionSix {
	top: 87%;
	left: 35.3%;
}
#airImageDescriptionTwo {
	top: 44%;
}
#airImageDescriptionSeven {
	top: 40%;
	left: 35.3%;
}
#airImageDescriptionEight {
	top: 16%;
	left: 35.3%;
}
#airImageDescriptionNine {
	top: 25.5%;
	left: 35.3%;
}
#airImageDescriptionTen {
	top: 18%;
	left: 35.3%;
}
#airImageDescriptionEleven {
	top: 15%;
	left: 35.3%;
}
}

/*------------ SAXONS BREAKPOINT 12 1600 x 829 ---------------*/
@media (min-width: 1600px) and (max-width: 1699px)  and (min-height: 786px) and (max-height: 830px) {
.airContainer .mainTitle {
    top: 18.5%;
    font-size: 22px;
    line-height: 25px;
}
.airContainer .copyText {
    font-size: 13px;
    line-height: 17px;
    top: 18.5%;
}
#airVideoOne {
    top: 27%;
    left: -32.9%;
}
#airOne {
    top: 21.3%;
    left: 34.5%;
}
#airImageDescriptionZero {
    position: relative;
    top: 20.3%;
    left: 35.3%;
    width: 14%;
}
#airTwo {
	position: relative;
	top: -1%;
	left: 30%;
}

#airSubTwo {
    top: -299.8px;
}
#airTwo {
    position: relative;
    top: -10%;
    left: 30%;
}
#airSubThree {
    top: -705.8px;
}
#airVideoTwo {
    top: 41%;
    left: -32.9%;
}
#airImageDescriptionTwo {
    top: 35%;
}
#airSubFour {
    top: -1075.268px;
}
#airSubFive {
    top: -1796.78px;
}
#airVideoThree {
    position: relative;
    top: 42%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 36%;
    left: 35.3%;
    width: 9%;
}
#airSubSix {
    top: -2178.6px;
}
#airFour {
    position: relative;
    top: 42%;
    left: -32.9%;
    z-index: -5;
}
#airFive {
    position: relative;
    top: 17%;
    left: 34.7%;
}
#airImageDescriptionFive {
    position: relative;
    top: 17%;
    left: 35.3%;
    width: 9%;
}
#airSubSeven {
    top: -1995.6px;
}
#airSix {
    top: 39%;
    left: -0.1%;
}
#airTwelve {
    top: 82%;
    left: -49.7%;
}
#airImageDescriptionSix {
    top: 76%;
    left: 35.3%;
}
#airSubEight {
    top: -1483.36px;
}
#airVideoFour {
    top: 37%;
    left: -32.9%;
}
#airImageDescriptionSeven {
    top: 31%;
    left: 35.3%;
}
#airSubNine {
    top: -1915.4px;
}
#airSeven {
    position: relative;
    top: 40%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    top: 12%;
    left: 35.3%;
}
#airSubTen {
    top: -1600.08px;
}
#airSubEleven {
    top: -2344px;
}
#airSubEleven {
    top: -2344px;
}
#airSubTwelve {
    top: -2664.52px;
    height: 30vh;
}
	
}

/*------------ SAXONS BREAKPOINT 13 1600 x 900 ---------------*/
@media (min-width: 1600px) and (max-width: 1699px)  and (min-height: 831px) and (max-height: 900px) {
.airContainer .mainTitle {
    top: 17.1%;
    font-size: 22px;
    line-height: 25px;
}
.airContainer .copyText {
    font-size: 13px;
    line-height: 17px;
    top: 17.3%;
}
#airVideoOne {
    top: 25%;
    left: -32.9%;
}
#airOne {
    top: 19.3%;
    left: 34.5%;
}
#airImageDescriptionZero {
    position: relative;
    top: 19%;
    left: 35.3%;
    width: 14%;
}
#airSubTwo {
    top: -344.8px;
}
#airTwo {
    position: relative;
    top: -7%;
    left: 30%;
}
#airSubThree {
    top: -822.8px;
}
#airVideoTwo {
    top: 37%;
    left: -32.9%;
}
#airImageDescriptionTwo {
    top: 31%;
}
#airSubFour {
    top: -1260.268px;
}
#airSubFive {
    top: -2065.78px;
}
#airVideoThree {
    position: relative;
    top: 37%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 31%;
    left: 35.3%;
    width: 9%;
}
#airSubSix {
    top: -2524.6px;
}
#airFour {
    position: relative;
    top: 38%;
    left: -32.9%;
    z-index: -5;
}
#airFive {
    position: relative;
    top: 9%;
    left: 34.5%;
}
#airImageDescriptionFive {
    position: relative;
    top: 9%;
    left: 35.3%;
    width: 9%;
}
#airSubSeven {
    top: -2525.6px;
}
#airSix {
    top: 37%;
    left: -0.1%;
}
#airTwelve {
    top: 76%;
    left: -49.7%;
}
#airImageDescriptionSix {
    top: 70%;
    left: 35.3%;
}
#airSubEight {
    top: -2110.36px;
}
#airVideoFour {
    top: 35%;
    left: -32.9%;
}
#airImageDescriptionSeven {
    top: 29%;
    left: 35.3%;
}
#airSubNine {
    top: -2579.4px;
}
#airSeven {
    position: relative;
    top: 37%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    top: 10%;
    left: 35.3%;
}
#airSubTen {
    top: -2382.08px;
}
#airSubEleven {
    top: -3205px;
}
#airSubTwelve {
    top: -3608.52px;
    height: 30vh;
}
	
}

/*------------ SAXONS BREAKPOINT 14 1600 x 1050 ---------------*/
@media (min-width: 1600px) and (max-width: 1699px)  and (min-height: 901px) and (max-height: 1051px) {

#airVideoOne {
	top: 23%;
	left: -32.9%;
}
#airOne {
	top: 16.3%;
	left: 34.5%;
}
#airImageDescriptionZero {
	position: relative;
	top: 16%;
	left: 35.3%;
	width: 14%;
}
.airContainer .mainTitle {
    top: 15.4%;
    font-size: 22px;
    line-height: 25px;
}
.airContainer .copyText {
    font-size: 13px;
    line-height: 17px;
    top: 15.5%;
}
#airSubTwo {
    top: -454.8px;
}
#airTwo {
    position: relative;
    top: -7%;
    left: 30%;
}
#airSubThree {
    top: -1060.8px;
}
#airVideoTwo {
    top: 31%;
    left: -32.9%;
}
#airImageDescriptionTwo {
    top: 25%;
}
#airSubFour {
    top: -1640.268px;
}
#airSubFive {
    top: -2600.78px;
}
#airVideoThree {
    position: relative;
    top: 32%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 26%;
    left: 35.3%;
    width: 9%;
}
#airSubSix {
    top: -3189.6px;
}
#airFour {
    position: relative;
    top: 33%;
    left: -32.9%;
    z-index: -5;
}
#airFive {
    position: relative;
    top: 9%;
    left: 34.6%;
}
#airImageDescriptionFive {
    position: relative;
    top: 9%;
    left: 35.3%;
    width: 9%;
}
#airSubSeven {
    top: -3312.6px;
}
#airSix {
    top: 32%;
    left: -0.1%;
}
#airTwelve {
    top: 67%;
    left: -49.7%;
}
#airImageDescriptionSix {
    top: 60%;
    left: 35.3%;
}
#airSubEight {
    top: -3066.36px;
}
#airVideoFour {
    top: 32%;
    left: -32.9%;
}
#airImageDescriptionSeven {
    top: 25.9%;
    left: 35.3%;
}
#airSubNine {
    top: -3638.4px;
}
#airSeven {
    position: relative;
    top: 32%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    top: 7%;
    left: 35.3%;
}
#airSubTen {
    top: -3600.08px;
}
#airSubEleven {
    top: -4569px;
}
#airSubTwelve {
    top: -5122.52px;
    height: 30vh;
}
}

/*-------------------1900s----------------------*/	
	
/*------------ SAXONS BREAKPOINT 15 1920 x 930 ---------------*/
@media (min-width: 1900px) and (max-width: 1999px)  and (min-height: 920px) and (max-height: 950px) {
.airContainer .mainTitle {
	top: 16%;
	font-size: 22px;
	line-height: 25px;
}
.airContainer .copyText {
	font-size: 13px;
	line-height: 17px;
	top: 16%;
}

#airSubOne{
    top: 6.2%;
}

#airSubTwo {
    top: -227.8px;
}
#airSubThree {
    top: -590.8px;
}
#airSubFour {
    top: -1080.268px;
}
#airSubFive {
    top: -1805.78px;
}

#airSubSix {
    top: -2283.6px;
}
#airSubSeven {
    top: -2026.1px;
}
#airSubEight {
    top: -1375.36px;
}
#airSubNine {
    top: -1892.4px;
}
#airSubTen {
    top: -1492.08px;
}
#airSubEleven {
    top: -2349px;
}
#airSubTwelve {
    top: -2552.52px;
    height: 30vh;
}
#airVideoOne {
    top: 25%;
    left: -32.9%;
}
#airOne {
    top: 19.3%;
    left: 34.5%;
}
#airImageDescriptionZero {
    position: relative;
    top: 19%;
    left: 35.3%;
    width: 14%;
}

#airTwo {
    position: relative;
    top: -12%;
    left: 30%;
}
#airImageDescriptionOne {
    position: relative;
    top: -11%;
    left: 35.3%;
    width: 9%;
}

#airVideoTwo {
    position: relative;
    top: 33%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
}
#airImageDescriptionTwo {
    position: relative;
    top: 26%;
    left: 35.3%;
    width: 9%;
}


#airVideoThree {
    position: relative;
    top: 34%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 28%;
    left: 35.3%;
    width: 9%;
}

#airFour {
    position: relative;
    top: 34%;
    left: -32.9%;
    z-index: -5;
}
#airFive {
    position: relative;
    top: 9%;
    left: 34.7%;
}
#airImageDescriptionFive {
    position: relative;
    top: 8%;
    left: 35.3%;
    width: 9%;
}

#airSix {
    position: relative;
    top: 33%;
    left: -0.5%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}
#airTwelve {
    position: relative;
    top: 79%;
    left: -49.7%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}
#airImageDescriptionSix {
    position: relative;
    top: 72%;
    left: 35.3%;
    width: 9%;
}

#airVideoFour {
    position: relative;
    top: 31%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: 5;
}
#airImageDescriptionSeven {
    position: relative;
    top: 24%;
    left: 35.3%;
    width: 9%;
}

#airSeven {
    position: relative;
    top: 33%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    position: relative;
    top: 3%;
    left: 35.3%;
    width: 9%;
}


}

/*------------ SAXONS BREAKPOINT 16 1920 x 1007 ---------------*/
@media (min-width: 1900px) and (max-width: 1999px)  and (min-height: 951px) and (max-height: 1008px) {
.airContainer .mainTitle {
    top: 18.4%;
    font-size: 22px;
    line-height: 25px;
}
.airContainer .copyText {
    font-size: 13px;
    line-height: 17px;
    top: 18.7%;
}
#airVideoOne {
    top: 25.6%;
    left: -32.9%;
}
#airOne {
    top: 19.3%;
    left: 34.5%;
}
#airImageDescriptionZero {
    position: relative;
    top: 19%;
    left: 35.3%;
    width: 14%;
}

#airTwo {
    position: relative;
    top: -8%;
    left: 30%;
}
#airImageDescriptionOne {
    position: relative;
    top: -8%;
    left: 35.3%;
    width: 9%;
}

#airVideoTwo {
    position: relative;
    top: 35%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
}
#airImageDescriptionTwo {
    position: relative;
    top: 28%;
    left: 35.3%;
    width: 9%;
}

#airVideoThree {
    position: relative;
    top: 36%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 30%;
    left: 35.3%;
    width: 9%;
}

#airFour {
    position: relative;
    top: 35%;
    left: -32.9%;
    z-index: -5;
}
#airFive {
    position: relative;
    top: 13%;
    left: 34.7%;
}
#airImageDescriptionFive {
    position: relative;
    top: 13%;
    left: 35.3%;
    width: 9%;
}

#airSix {
    position: relative;
    top: 34%;
    left: -0.5%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}
#airTwelve {
    position: relative;
    top: 76%;
    left: -49.7%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}
#airImageDescriptionSix {
    position: relative;
    top: 69%;
    left: 35.3%;
    width: 9%;
}

#airVideoFour {
    position: relative;
    top: 33%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: 5;
}
#airImageDescriptionSeven {
    position: relative;
    top: 26%;
    left: 35.3%;
    width: 9%;
}

#airSeven {
    position: relative;
    top: 34%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    position: relative;
    top: 5%;
    left: 35.3%;
    width: 9%;
}

	#airSubTwo {
    top: -377.8px;
}
#airSubThree {
    top: -878.7px;
}
#airSubFour {
    top: -1419.268px;
}
#airSubFive {
    top: -2289.78px;
}
#airSubSix {
    top: -2816.6px;
}
#airSubSeven {
    top: -2629.1px;
}
#airSubEight {
    top: -2105.36px;
}
#airSubNine {
    top: -2674.4px;
}
#airSubTen {
    top: -2402.08px;
}
#airSubEleven {
    top: -3403px;
}
#airSubTwelve {
    top: -3706.52px;
    height: 30vh;
}
}

/*------------ SAXONS BREAKPOINT 17 1920 x 1200 ---------------*/
@media (min-width: 1900px) and (max-width: 1999px)  and (min-height: 1101px) and (max-height: 1210px) {

.airContainer .copyText {
    font-size: 13px;
    line-height: 17px;
    top: 15.7%;
}.airContainer .mainTitle {
    top: 15.2%;
    font-size: 22px;
}
#airVideoOne {
    position: relative;
    top: 23%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -2;
}
#airOne {
    position: relative;
    top: 16.6%;
    left: 34.7%;
    z-index: -2;
}
#airImageDescriptionZero {
    position: relative;
    top: 16%;
    left: 35.3%;
    width: 14%;
}

#airTwo {
    position: relative;
    top: -7%;
    left: 30%;
}
#airGridOne {
    position: relative;
    top: 22%;
    left: -50%;
}
#airImageDescriptionOne {
    position: relative;
    top: -7%;
    left: 35.3%;
    width: 9%;
}

#airVideoTwo {
    position: relative;
    top: 29%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
}
#airImageDescriptionTwo {
    position: relative;
    top: 22%;
    left: 35.3%;
    width: 9%;
}


#airVideoThree {
    position: relative;
    top: 30%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionFour {
    position: relative;
    top: 23%;
    left: 35.3%;
    width: 9%;
}

#airFour {
    position: relative;
    top: 30%;
    left: -32.9%;
    z-index: -5;
}
#airFive {
    position: relative;
    top: 14%;
    left: 34.7%;
}
#airImageDescriptionFive {
    position: relative;
    top: 14%;
    left: 35.3%;
    width: 9%;
}

#airSix {
    position: relative;
    top: 28%;
    left: -0.5%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}
#airTwelve {
    position: relative;
    top: 63%;
    left: -49.7%;
    width: 45.7vw;
    height: auto;
    z-index: -5;
}
#airImageDescriptionSix {
    position: relative;
    top: 56%;
    left: 35.3%;
    width: 9%;
}

#airVideoFour {
    position: relative;
    top: 27%;
    width: 61.5vw;
    height: 61.5vh;
    left: -32.9%;
    z-index: 5;
}
#airImageDescriptionSeven {
    position: relative;
    top: 20%;
    left: 35.3%;
    width: 9%;
}

#airSeven {
    position: relative;
    top: 29%;
    left: -32.9%;
    z-index: -5;
}
#airImageDescriptionEight {
    position: relative;
    top: 4%;
    left: 35.3%;
    width: 9%;
}

	#airSubTwo {
    top: -507.8px;
}
#airSubThree {
    top: -1286.7px;
}
#airSubFour {
    top: -1991.268px;
}
#airSubFive {
    top: -3068.78px;
}
#airSubSix {
    top: -3767.6px;
}
#airSubSeven {
    top: -3786.1px;
}
#airSubEight {
    top: -3551.36px;
}
#airSubNine {
    top: -4293.4px;
}
#airSubTen {
    top: -4273.08px;
}
#airSubEleven {
    top: -5487px;
}

#airSubTwelve {
    top: -5997.52px;
    height: 30vh;
}
}