.chennaiContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
}

#chennaiSubTwo {
    top: 35vh;
}
#chennaiSubThree {
    top: 204.5vh;
}
#chennaiSubFour {
    top: 441vh;
}
#chennaiSubFive {
    top: 573vh;
}
#chennaiSubSix {
    top: 729.3vh;
}
#chennaiSubSeven {
    top: 755vh;
}
#chennaiSubEight {
    top: 783vh;
}
#chennaiSubNine {
    top: 1263vh;
}
#chennaiSubTen {
    top: 1422vh;
}
#chennaiSubEleven {
    top: 1455vh;
}

#ChennaiVideoOne {
    position: relative;
    left: -10%;
    top: -34%;
    width: 150vw;
    height: 150vh;
    z-index: -5;
}

#ChennaiVideoTwo {
    position: relative;
    left: -33%;
    top: -71%;
    width: 55.1vw;
    height: 55.1vh;
}

#ChennaiVideoThree
{
    position: relative;
    left: -33%;
    top: -10%;
    width: 55vw;
    height: 55vh;
}

#ChennaiVideoFour
{
    position: relative;
    left: -33%;
    top: 15%;
    width: 55.3vw;
    height: 55.3vh;
}

#ChennaiVideoFive
{
    position: relative;
    left: -33%;
    top: 15%;
    width: 30.7vw;
    height: 30.7vh;
    z-index: 5;
}

#chennaiOne
{
    position: relative;
    left: -32.9%;
    top: -45%;
    z-index: 0;
    width: 55.2vw;
}

#chennaiTwo
{
    position: relative;
    left: -16.7%;
    top: 15%;
    z-index: 0;
    width: 55.4vw;
}

#chennaiFour {
    position: relative;
    left: 7.8%;
    top: -5.2%;
    z-index: 0;
}
#chennaiThree {
    position: relative;
    left: -77.6%;
    top: 28%;
}

#chennaiFive {
    position: relative;
    left: -33%;
    top: -4.4%;
    z-index: -5;
    width: 40vw;
}

#chennaiSix {
    position: relative;
    left: 7.8%;
    top: -31.5%;
    z-index: 0;
}

#chennaiSeven
{
    position: relative;
    left: -33.5%;
    top: 16.5%;
    z-index: 0;
}

#chennaiEight
{
    position: relative;
    left: -33.5%;
    top: 16.5%;
    z-index: 0;
}

#chennaiNine
{
    position: relative;
    left: 7.8%;
    top: -32%;
    z-index: 0;
}

#chennaiTen
{
    position: relative;
    left: -32.9%;
    top: -45%;
    z-index: 0;
    width: 61.3vw;
}

#chennaiEleven
{
    position: relative;
    left: -33.3%;
    top: -50%;
    z-index: 0;
    width: 61vw;
}

#chennaiTwelve
{
    position: relative;
    left: -33.3%;
    top: -55%;
    z-index: 0;
    width: 61vw;
}

#chennaiThirteen
{
    position: relative;
    left: -33.3%;
    top: 15%;
    z-index: -5;
    width: 61vw;
}

#chennaiFourteen
{
    position: relative;
    left: 34.7%;
    top: -65%;
    z-index: 0;
}

#chennaiFifteen
{
    position: relative;
    left: 34.6%;
    top: -154.3%;
    z-index: 0;
    width: 31.15vw;
}

#chennaiSixteen
{
    position: relative;
    left: -33.3%;
    top: -167%;
    z-index: 0;
    width: 7.5vw;
}

#chennaiSeventeen
{
    position: relative;
    left: -33.3%;
    top: -50%;
    z-index: 0;
    width: 62vw;
}

#chennaiEighteen
{
    position: relative;
    left: -72.95%;
    top: 18%;
    z-index: 0;
    width: 18vw;
}

#chennaiNineteen
{
    position: relative;
    left: 18%;
    top: 14%;
    z-index: -5;
    width: 46.7vw;
}

#chennaiTwenty {
    position: relative;
    left: 7.8%;
    top: -11.5%;
    z-index: 0;
}

#chennaiTwentyOne {
    position: relative;
    left: 7.8%;
    top: -11%;
    z-index: -2;
}

#chennaiTwentyTwo
{
    position: relative;
    left: 34.5%;
    top: -31.5%;
    z-index: -5;
}

#chennaiTwentyThree {
    position: relative;
    left: 7.8%;
    top: -4.4%;
    z-index: -5;
}
#chennaiTwentyFour
{
    position: relative;
    left: 34.7%;
    top: -51%;
    z-index: -5;
}

#chennaiTwentyFive {
    position: relative;
    left: 34.7%;
    top: -50.2%;
    z-index: -5;
}

#chennaiTwentySix
{
    position: relative;
    left: -32.5%;
    top: 15%;
    z-index: -5;
    width: 57vw;
}

#chennaiTwentySeven
{
    position: relative;
    left: 7.8%;
    top: 15%;
    z-index: -5;
    width: 33vw;
}

#chennaiTwentyEight
{
    position: relative;
    left: 34.7%;
    top: -8%;
    z-index: -5;
}

#chennaiTwentyNine {
    position: relative;
    left: -14.2%;
    top: 12%;
    z-index: -5;
    width: 46vw;
}


#chennaiThirty {
    position: relative;
    left: -82%;
    top: 29%;
    z-index: -5;
    width: 10.9vw;
}

#chennaiThirtyOne
{
    position: relative;
    left: -32.9%;
    top: 0%;
    width: 55.5vw;
}

#chennaiThirtyTwo
{
    position: relative;
    left: -32.7%;
    top: -4%;
    z-index: -5;
    width: 56vw;
}

#chennaiThirtyThree
{
    position: relative;
    left: 7.9%;
    top: -8%;
}

#chennaiThirtyFour
{
    position: relative;
    left: -32.7%;
    top: -15%;
    z-index: -5;
    width: 62vw;
}

#chennaiThirtyFive
{
    position: relative;
    left: -32.7%;
    top: -15%;
    z-index: -5;
    width: 62vw;
}

#chennaiThirtySix {
    position: relative;
    left: -19.5%;
    top: 15%;
    z-index: -5;
    width: 19vw;
}

.chennaiMapContainerOne
{
    position: relative;
    left: 1.7%;
    top: 15%;
    z-index: 0;
    width: 61.5vw;
}

.chennaiMapContainerTwo
{
    position: relative;
    left: 1.7%;
    top: 15%;
    z-index: 0;
    width: 61.5vw;
}


#chennaiImageDescriptionExtra {
    position: relative;
    top: 9%;
    left: 35.25%;
    width: 15%;
}
#chennaiImageDescriptionOne
{
    position: relative;
    top: -50%;
    left: 8.3%;
    width: 14%;
}

#chennaiImageDescriptionTwo {
    position: relative;
    top: -4.5%;
    left: 8.3%;
    width: 14%;
}


#chennaiImageDescriptionThree
{
    position: relative;
    top: -39%;
    left: 8.3%;
    width: 14%;
}

#chennaiImageDescriptionFour
{
    position: relative;
    top: -35%;
    left: 8.3%;
    width: 14%;
}

#chennaiImageDescriptionFive
{
    position: relative;
    top: -55%;
    left: 35.3%;
    width: 14%;
}

#chennaiImageDescriptionSix
{
    position: relative;
    top: -58%;
    left: 35.3%;
    width: 25%;
}

#chennaiImageDescriptionSeven
{
    position: relative;
    top: -79%;
    left: 35.3%;
    width: 15%;
}

#chennaiImageDescriptionEight
{
    position: relative;
    top: -171%;
    left: 35.3%;
    width: 25%;
}

#chennaiImageDescriptionNine
{
    position: relative;
    top: 17%;
    left: 8.3%;
    width: 15%;
}

#chennaiImageDescriptionTen
{
    position: relative;
    top: -28%;
    left: 35.25%;
    width: 15%;
}

#chennaiImageDescriptionEleven
{
    position: relative;
    top: -15%;
    left: 35.25%;
    width: 15%;
}

#chennaiImageDescriptionTwelve
{
    position: relative;
    top: 26%;
    left: 8.3%;
    width: 15%;
}

#chennaiImageDescriptionThirteen
{
    position: relative;
    top: -1%;
    left: 8.3%;
    width: 15%;
}

#chennaiImageDescriptionFourteen
{
    position: relative;
    top: -6%;
    left: 8.3%;
    width: 12%;
}

#chennaiImageDescriptionFifteen
{
    position: relative;
    top: -10%;
    left: 8.3%;
    width: 12%;
}

#chennaiImageDescriptionSixteen
{
    position: relative;
    top: 10%;
    left: 8.3%;
    width: 15%;
}

#chennaiImageDescriptionSeventeen
{
    position: relative;
    top: -80.5%;
    left: 35.3%;
    width: 15%;
}

#chennaiImageDescriptionEighteen
{
    position: relative;
    top: 18%;
    left: 8.3%;
    width: 15%;
}

#chennaiImageDescriptionNineteen 
{
    position: relative;
    top: 5%;
    left: 35.3%;
    width: 31%;
    font-size: 14px;
}
.chennaiCopyOne
{
    position: relative;
    top: 10%;
}

.chennaiCopyTwo {
    position: relative;
    top: -31%;
    left: 8.3%;
    width: 23%;
}


.chennaiCopyThree
{
    position: relative;
    top: -32%;
    left: 8%;
    width: 23%;
}

.chennaiCopyFour
{
    position: relative;
    top: 14%;
    left: 35.25%;
    width: 28%;
}

.chennaiCopyFive
{
    position: relative;
    top: -32%;
    left: 8.3%;
    width: 20%;
}

.chennaiCopySix
{
    position: relative;
    top: -67%;
    left: 8.3%;
    width: 20%;
}

.chennaiCopySeven
{
    position: relative;
    top: 10%;
    left: 35.3%;
    width: 25%;
}

.chennaiCopyEight
{
    position: relative;
    top: 13.3%;
    left: 35.3%;
    width: 25%;
}

.chennaiCopyNine
{
    position: relative;
    top: -98.5%;
    left: 8.3%;
    width: 18%;
}

.chennaiCopyTen
{
    position: relative;
    top: -32%;
    left: 35.25%;
    width: 25%;
}

.chennaiCopyEleven
{
    position: relative;
    top: -3%;
    left: 8.3%;
    width: 18%;
}

.chennaiCopyTwelve
{
    position: relative;
    top: -11%;
    left: 35.3%;
    width: 25%;
}
.chennaiCopyThirteen
{
    position: relative;
    top: -2%;
    left: 35.3%;
    width: 25%;
}

.chennaiCopyFourteen
{
    position: relative;
    top: -2%;
    left: 35.3%;
    width: 25%;
}

.chennaiCopyFifteen
{
    position: relative;
    top: 0.5%;
    left: 35.3%;
    width: 25%;
}

.chennaiCopySixteen
{
    position: relative;
    top: -71.5%;
    left: 8.3%;
    width: 25%;
}

.chennaiCopySeventeen
{
    position: relative;
    top: -85%;
    left: 8.3%;
    width: 18%;
}

.chennaiCopyNineteen
{
    position: relative;
    top: 4.5%;
    left: 35.3%;
    width: 21%;
}

#chennaiGridOne {
    position: relative;
    top: -73%;
    left: -16.4%;
}


#chennaiGridTwo
{
    position: relative;
    top: -50%;
    left: -43.5%;
}

#chennaiGridThree
{
    position: relative;
    top: -77%;
    left: -43.4%;
}

#chennaiGridFour
{
    position: relative;
    top: 10%;
    left: -43.4%;
}

#chennaiGridFive
{
    position: relative;
    top: 5%;
    left: -39%;
}

#chennaiGridSix
{
    position: relative;
    top: -30%;
    left: -43.3%;
}

#chennaiGridSeven
{
    position: relative;
    top: -65%;
    left: -16.3%;
}

#chennaiGridEight
{
    position: relative;
    top: -73%;
    left: 0.7%;
}

#chennaiGridNine
{
    position: relative;
    top: -80%;
    left: 0.7%;
}

#chennaiGridTen 
{
    position: relative;
    top: 21%;
    left: -32.65%;
}

.chennaiMapContainer
{
    width: 46vw;
    height: auto;
    position: relative;
    top: 90%;
    left: 10%;
}

.endlineChennai 
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineChennaiTwo 
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 7%;
    left: 0%;
    border-bottom: 1px dotted black;
}

.endlineChennaiThree 
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 16%;
    left: 0%;
    border-bottom: 1px dotted black;
}
.endlineChennaiFour
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 110%;
    left: 0%;
    border-bottom: 2px solid black;
}

.referenceChennai
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}

.referenceBlockChennai
{
    width: 102%;
    height: 6%;
    position: relative;
    top: 5%;
    left: 35.2%;
}

.referenceBlockChennaiTwo {
    width: 102%;
    height: 6%;
    position: relative;
    top: 9%;
    left: 35.2%;
}

.referenceBlockChennaiThree 
{
    width: 90%;
    height: 70%;
    position: relative;
    top: 18%;
    left: 35.2%;
    padding-bottom: 3vh;
}

.gridImageMiddleChennai 
{
    width: 23.8vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;   
}

#gridImageMiddleChennaiTwo
{
    width: 23.8vw;
    margin-left: 20px;
    height: auto;
}

#gridImageSmallChennai {
    width: 14.05vw;
    margin-left: 21px;
    margin-right: 0px;
    height: auto;
}

/* ----------------------Responsive code starts here --------------------------*/


/*-----------------------1200s------------------*/
/*1280 x 582*/
@media (max-width: 1299px) {
#ChennaiVideoOne {
    top: -49%;
    height: 180vh;
}
#chennaiOne {
    top: -60%;
}
#chennaiImageDescriptionOne {
    top: -64%;
}
#chennaiSubTwo {
    top: 70vh;
}
	#chennaiTwo {
    position: relative;
    left: -16.7%;
    top: 12%;
    z-index: 0;
    width: 55.4vw;
}

#chennaiThree {
    top: 27.5%;
}

#chennaiFour {
    left: 7.58%;
    top: -13.2%;
}
#chennaiImageDescriptionTwo {
    top: -11.6%;
    left: 8.3%;
}
#chennaiFive {
    left: -32.7%;
    top: -13%;
}
#chennaiImageDescriptionThree {
    top: -51.5%;
}
#chennaiSix {
    position: relative;
    left: 7.57%;
    top: -47%;
}

#chennaiGridOne {
    top: -97.8%;
    left: -17.4%;
}
.chennaiCopyTwo {
    top: -47%;
}
	
#ChennaiVideoTwo {
    top: -96.5%;
    height: 68vh;
}
#chennaiSubThree {
    top: 300vh;
}
#chennaiNine {
left: 7.5%;
    top: -39%;
}
#chennaiSeven {
    left: -33.1%;
    top: 18%;
}
#chennaiEight {
    left: -32.7%;
    top: 17.4%;
}
.chennaiCopyFive {
    top: -36%;
}
#chennaiImageDescriptionFive {
    top: -64%;
}
#chennaiTen {
    top: -49%;
}
#chennaiSubFour {
    top: 640vh;
}
#chennaiTwelve {
    left: -33.3%;
    top: -54.4%;
}
#chennaiThirteen {
top: 17.5%;
    left: -32.7%;
    width: 61.8vw;
}
#chennaiGridTwo {
    position: relative;
    top: -63%;
    left: -44.2%;
}
.chennaiCopySeven {
    top: 14%;
}
#chennaiFourteen {
    left: 34.4%;
    top: -80%;
}
.chennaiCopySix {
    top: -86%;
}

#chennaiImageDescriptionSeven {
    top: -100%;

}
#chennaiGridThree {
    top: -100%;
    left: -44.2%;
}
#chennaiFifteen {
    top: -194.5%;
}
#chennaiSixteen {
    top: -207%;
}
#chennaiImageDescriptionEight {
    top: -210%;
    width: 21%;
}
#chennaiSubFive {
    top: 835vh;
}

#chennaiNineteen {
    left: 17.7%;
}
#chennaiTwenty {
    left: 7.4%;
    top: -17.5%;
}
#chennaiTwentyOne {
    left: 7.4%;
    top: -17.5%;
}
#chennaiTwentyTwo {
    top: -43%;
}
.chennaiCopyNine {
    top: -125%;
}

#chennaiTwentyFour {
    left: 34.5%;
    top: -68%;
}
#chennaiTwentyFive {
    left: 34.5%;
    top: -68%;
}
#chennaiTwentyThree {
    left: 7.5%;
    top: -10.1%;
}
#chennaiSubSix {
    top: 1064vh;
}
#chennaiGridFour {
    left: -44.2%;
}
.chennaiCopyTen {
    top: -41.3%;
}
#chennaiImageDescriptionTen {
    top: -35.5%;
}
#chennaiSubSeven {
    top: 1136vh;
}
#chennaiTwentySeven {
    left: 7.55%;
}
#chennaiTwentyEight {
    top: -16%;
}
.chennaiCopyEleven {
    top: -8%;
}
.chennaiCopyTwelve {
    top: -17.2%;
}
#ChennaiVideoThree {
    top: -15%;
    height: 68vh;
}
#chennaiImageDescriptionEleven {
    top: -18%;
}
#chennaiSubEight {
    top: 1206vh;
}

	#chennaiThirty {
    left: -82%;
    top: 30%;
    width: 11vw;
}
#chennaiImageDescriptionTwelve {
    top: 30%;
}
.chennaiCopyThirteen {
    top: -2.6%;
}

#chennaiImageDescriptionTwelve {
    position: relative;
    top: 24%;
    left: 8.3%;
    width: 15%;
}
#chennaiGridFive {
    position: relative;
    top: -2%;
    left: -38.9%;
}
#gridImageMiddleChennaiTwo {
    margin-left: 9px;
}
#chennaiImageDescriptionThirteen {
    top: -7.5%;
}
.chennaiCopyFourteen {
    top: -9%;
}

#chennaiThirtyOne {
    left: -32.78%;
    top: -5%;
}
#chennaiImageDescriptionFourteen {
    top: -8%;
}
#chennaiSubNine {
    top: 1806vh;
}
#ChennaiVideoFour {
    height: 65vh;
}
.chennaiCopyFifteen {
    top: -2.9%;
}
#chennaiThirtyThree {
    left: 7.6%;
    top: -14%;
}
#chennaiThirtyFour {
    top: -24%;
}
#chennaiGridSix {
    top: -40%;
    left: -44.1%;
}
#chennaiGridSeven {
    top: -81.5%;
    left: -17.3%;
}
.chennaiCopySixteen {
    top: -92%;
    left: 8.3%;

}
#ChennaiVideoFive {
    left: -33.5%;
    top: 15%;
    width: 30.2vw;
    height: 50.3vh;
}
#chennaiGridNine {
    top: -99%;
}
.chennaiCopySeventeen {
    top: -103%;
}
#chennaiImageDescriptionSeventeen {
    top: -97.1%;
}
#chennaiSubTen {
    top: 2044vh;
}
.chennaiCopyNineteen {
    top: -0.5%;
}

#chennaiSubEleven {
    top: 2109vh;
}
.referenceChennai {
    font-size: 9px;
    line-height: 12px;
}
.endlineChennaiTwo {
    top: 7%;
}
#chennaiGridTen {
    top: 27%;
    left: -32.5%;
}
#gridImageSmallChennai {
    margin-left: 11px;
}
.endlineChennaiThree {
    top: 22%;
}

.referenceBlockChennaiTwo 
{
    top: 9%;
    left: 35.2%;
}
.referenceBlockChennaiThree {
    top: 25%;
}
#chennaiGridEight {
    top: -95%;
}


#chennaiImageDescriptionNineteen 
{
    top: 5%;
    left: 35.3%;
    font-size: 9px;
    line-height: 12px;
}
	
}
/* height - 1280 x 800*/
@media(max-width: 1299px) and (min-height: 680px) and (max-height: 801px) {
	#chennaiSubTwo {
    top: 271.54px;
}
#chennaiOne {
    top: -73%;
}
#chennaiImageDescriptionOne {
    top: -79%;
}
#chennaiSubTwo {
    top: 88.54px;
}
#chennaiGridOne {
    top: -76.3%;
    left: -17.3%;
}
.chennaiCopyTwo {
    top: -33%;
}
#chennaiSix {
    position: relative;
    left: 7.57%;
    top: -33.8%;
}

#chennaiTwo {
    position: relative;
    left: -16.7%;
    top: 13%;
}
#chennaiThree {
    top: 24.5%;
}

#chennaiImageDescriptionThree {
    top: -42.5%;
}
#ChennaiVideoTwo {
    top: -69.4%;
    height: 68vh;
}
#chennaiGridOne {
    top: -78%;
    left: -17.3%;
}
#chennaiSubThree {
    top: 1282.29px;
}
.chennaiCopyFive {
    top: -37%;
}
	#chennaiFive {
    left: -32.7%;
    top: -6.7%;
}
#chennaiFour {
    left: 7.58%;
    top: -6.5%;
}
#chennaiImageDescriptionTwo {
    top: -5.6%;
    left: 8.3%;
}
#chennaiImageDescriptionFive {
    top: -52%;
}
#chennaiSeven {
    left: -33.1%;
    top: 13%;
}
#chennaiEight {
    left: -32.7%;
    top: 12.4%;
}
	#chennaiNine {
    left: 7.5%;
    top: -36%;
}
#chennaiEleven {
    left: -33.3%;
    top: -52%;
}
#chennaiGridTwo {
    top: -48%;
}
#chennaiGridThree {
    top: -85%;
    left: -44.2%;
}
.chennaiCopySix {
    top: -66%;
}

#chennaiGridThree {
    top: -80%;
}
#chennaiImageDescriptionEight {
    top: -166%;}

#chennaiFifteen {
    top: -150.5%;
}
#chennaiSixteen {
    top: -163%;
}
#chennaiImageDescriptionSeven {
    top: -79%;
}
#chennaiFourteen {
    left: 34.4%;
    top: -63.6%;
}
.chennaiCopySeven {
    top: 11%;
}
#chennaiSubFive {
    top: 1607.34px;
}
	#chennaiTwenty {
    left: 7.4%;
    top: -7.5%;
}
#chennaiTwentyOne {
    left: 7.4%;
    top: -7.5%;
}
#chennaiTwentyTwo {
    top: -30%;
}

#chennaiTwentyThree {
    left: 7.5%;
    top: -2.9%;
}
#chennaiTwentyTwo {
    top: -26.2%;
}
.chennaiCopyNine {
    top: -83.5%;
}
#chennaiSubFour {
    top: 2844.6px;
}
#chennaiTwentyFour {
    top: -45%;
}
#chennaiTwentyFive {
    top: -45%;
}
	#chennaiSubFive {
    top: 3581.34px;
}
#chennaiSubSix {
    top: 4601px;
}
#chennaiImageDescriptionTen {
    top: -19.5%;
}
.chennaiCopyTen {
    top: -27.9%;
}
#chennaiSubSeven {
    top: 4731.013px;
}
#chennaiTwentySeven {
    top: 12%;
}
.chennaiCopyTwelve {
    top: -13.2%;
}
.chennaiCopyEleven {
    top: -6%;
}
#ChennaiVideoThree {
    top: -12.2%;
}
#chennaiTwentyEight {
    top: -8.2%;
}
#chennaiSubEight {
    top: 4886.124px;
}
#chennaiThirtySix {
    left: -17.5%;
}
.chennaiCopyThirteen {
    top: -1.5%;
}
#chennaiSubNine {
    top: 8225.088px;
}
#ChennaiVideoFour {
    height: 51vh;
}
#chennaiGridSix {
    top: -29%;
}
	#chennaiThirtyThree {
    left: 7.6%;
    top: -8%;
}
#chennaiThirtyFour {
    top: -15%;
}
.chennaiCopyFifteen {
    top: 1.1%;
}
#chennaiGridSeven {
    top: -59.5%;
}
.chennaiCopySixteen {
    top: -67%;
    left: 8.3%;
}
#chennaiGridEight {
    top: -72%;
}
#chennaiGridNine {
    top: -79%;
}
#chennaiImageDescriptionSeventeen {
    top: -79.1%;
}
.chennaiCopySeventeen {
    top: -83%;
}
#chennaiSubTen {
    top: 9536.013px;
}
.chennaiCopyNineteen {
    top: 4.5%;
}
#chennaiSubEleven {
    top: 9635.75px;
}
#chennaiGridTen {
    top: 20%;
}
.endlineChennaiThree {
    top: 15%;
}
.referenceBlockChennaiThree {
    top: 18%;
}
	
}


/*------------------1300------------------------*/
/*1366 x 768*/
@media (min-width: 1300px) and (max-width: 1399px) 
{
	#chennaiSubOne .mainTitle {
top: 16.8%;
}
#chennaiSubOne .copyTextLarger {
    top: 16.2%;
}
#chennaiSubTwo {
    top: 24vh;
}
#chennaiTwo {
    left: -16.3%;
    top: 15%;
    width: 55.5vw;
}

#chennaiFour {
    left: 7.65%;
top: -1%;
}
#chennaiImageDescriptionTwo {
    top: -0.5%;
}
#chennaiFive {
    position: relative;
    left: -33%;
    top: -0.7%;
    z-index: -5;
    width: 40vw;
}

#chennaiSix {
    position: relative;
    left: 7.8%;
    top: -28.5%;
    z-index: 0;
}
#chennaiGridOne {
    top: -67%;
    left: -17%;
}
#chennaiSubThree {
    top: 192vh;
}
#chennaiNine {
    left: 7.7%;
    top: -34%;
}
#chennaiSeven {
    top: 13.5%;
}
#chennaiEight {
    top: 13.5%;
}
.chennaiCopyFive {
    top: -34%;
}
	#ChennaiVideoTwo {
    position: relative;
    left: -33%;
    top: -66%;
    width: 55.1vw;
    height: 55.1vh;
}
.chennaiCopyTwo {
    position: relative;
    top: -26%;
    left: 8.3%;
    width: 23%;
}
#chennaiImageDescriptionFive {
    top: -54%;
    left: 35.3%;
}
#chennaiSubFour {
    top: 420vh;
}
#chennaiGridTwo {
    left: -44%;
}
#chennaiFourteen {
    left: 34.5%;
}
#chennaiGridThree {
    top: -77%;
    left: -44%;
}
#chennaiSubFive {
    top: 541vh;
}
.chennaiMapContainerOne {
    top: 14%;
}
#chennaiTwenty {
    left: 7.6%;
}
#chennaiTwentyOne {
    left: 7.6%;
}
#chennaiTwentyFour {
    left: 34.5%;
}
#chennaiTwentyFive {
    position: relative;
    left: 34.7%;
    top: -51.2%;
    z-index: -5;
}
#chennaiTwentyThree {
    left: 7.6%;
}
#chennaiSubSix {
    top: 696vh;
}
#chennaiTwentySix {
    top: 13%;
}
#chennaiGridFour {
    top: 10%;
    left: -44%;
}
#chennaiSubSeven {
    top: 727vh;
}
#chennaiTwentySeven {
    left: 7.6%;
    top: 13%;
}
#chennaiTwentyEight {
    left: 34.7%;
    top: -10%;
}
#chennaiSubEight {
    top: 741vh;
}
#chennaiTwentyNine {
    left: -15.2%;
}
#chennaiThirtySix {
    left: -20.5%;
}
#gridImageMiddleChennaiTwo {
    width: 23.7vw;
    margin-left: 10px;
}
#chennaiSubNine {
    top: 1199vh;
}
#ChennaiVideoFour {
    top: 14%;
}
#chennaiThirtyThree {
    left: 7.65%;
}
#chennaiGridSix {
    left: -44%;
}
#chennaiGridSeven {
    top: -65%;
    left: -17%;
}
#chennaiGridEight {
    top: -74.5%;
}
#chennaiSubTen {
    top: 1344.5vh;
}
.chennaiMapContainerTwo {
    top: 14%;
}
#chennaiSubEleven {
    top: 1368vh;
}
#chennaiGridTen {
    top: 21%;
}
#gridImageSmallChennai {
    width: 14.03vw;
    margin-left: 9px;
}
.endlineChennaiThree {
    top: 17%;
}
.referenceBlockChennaiThree {
    top: 19%;
}
	.chennaiCopyThirteen {
    position: relative;
    top: 3%;
    left: 35.3%;
    width: 25%;
}



#chennaiImageDescriptionNineteen {
    top: 5%;
    left: 35.3%;
    width: 31%;
    font-size: 9px;
}

.referenceChennai {
    font-size: 9px;
    line-height: 12px;
}
}
/*1366 x 695*/
@media (min-width: 1300px) and (max-width: 1399px) and (min-height: 680px) and (max-height: 749px){
#chennaiSubOne .copyTextLarger {
    top: 16.3%;
}
#chennaiSubTwo {
    top: 268.305px;
}
#chennaiGridOne {
    top: -71%;
    left: -17%;
}
	#chennaiThree {
    position: relative;
    left: -77.6%;
    top: 30%;
}


#chennaiFifteen {
    position: relative;
    left: 34.6%;
    top: -161.3%;
    z-index: 0;
    width: 31.15vw;
}
#chennaiImageDescriptionEight {
    position: relative;
    top: -177%;
    left: 35.3%;
    width: 25%;
}
#chennaiSixteen {
    position: relative;
    left: -33.3%;
    top: -173%;
    z-index: 0;
    width: 7.5vw;
}

#chennaiSubThree {
    top: 1688.29px;
}
#chennaiSubFour {
    top: 3530.08px;
}
#chennaiSubFive {
    top: 4646.34px;
}
	#chennaiTwentyOne {
    left: 7.6%;
    top: -9%;
    z-index: -2;
}

#chennaiTwentyTwo {
    left: 34.5%;
    top: -31.6%;
    z-index: -5;
}
#chennaiTwentyFour {
    left: 34.5%;
    top: -55%;
    z-index: -5;
}
#chennaiTwentyFive {
    position: relative;
    left: 34.7%;
    top: -55%;
    z-index: -5;
}
#chennaiTwentyThree {
    left: 7.6%;
    top: -3.4%;
    z-index: -5;
}

#chennaiTwentyEight {
    left: 34.7%;
    top: -13%;
}
.chennaiCopyNine {
    top: -106.5%;
}
#chennaiSubSix {
    top: 5971px;
}
#chennaiSubSeven {
    top: 6300.013px;
}
#chennaiSubEight {
    top: 6495.124px;
}
#chennaiSubNine {
    top: 10063.088px;
}
#chennaiSubTen {
    top: 11259.013px;
}
#chennaiSubEleven {
    top: 11541.75px;
}
.chennaiCopyTwelve {
    top: -10.5%;
}
	#ChennaiVideoThree {
    top: -10.5%;
}
	
	#chennaiGridTen {
    top: 35%;
}
#ChennaiVideoOne {
    left: -19%;
	}
	

	
}


/*------------------1400------------------------*/
/*1440 x 768*/
@media (min-width: 1400px) and (max-width: 1499px) 
{
	#chennaiSubOne .copyTextLarger{
top:17.2%
}
#chennaiSubTwo {
    top: 32.5vh;
}
#chennaiTwo {
    left: -16.35%;
    top: 14%;
}
#chennaiFour {
    left: 7.65%;
}
#chennaiFive {
    left: -32.8%;
    top: -5.2%;
    z-index: -5;
    width: 40vw;
}
#chennaiSix {
    left: 7.65%;
}
#chennaiGridOne {
    left: -17%;
}
#ChennaiVideoTwo {
    height: 58.2vh;
}
#chennaiSubThree {
    top: 212vh;
}
#chennaiNine {
    left: 7.6%;
}
#chennaiSeven {
    left: -33%;
    top: 18%;
}
#chennaiEight {
    left: -33%;
    top: 18%;
}
#chennaiImageDescriptionFive {
    top: -53.5%;
}
#chennaiTen {
    top: -43%;
width: 61.5vw;
}
#chennaiEleven {
    left: -32.9%;
    top: -47.5%;
    width: 61.5vw;
}
#chennaiTwelve {

    top: -51.5%;
}
#chennaiImageDescriptionSix {
    top: -56.5%;
}
#chennaiSubFour {
    top: 461vh;
}
#chennaiGridTwo {
    left: -44%;
}
#chennaiThirteen {
    left: -32.9%;
    top: 14.2%;
    width: 61.5vw;
}
#chennaiFourteen {
    left: 34.5%;
}
#chennaiGridThree {
    top: -78%;
    left: -43.95%;
}
#chennaiFifteen {
    top: -159.5%;
}
#chennaiSubFive {
    top: 604vh;
}
.chennaiMapContainerOne {
    top: 14%;
}
#chennaiNineteen {
    left: 18.2%;
}
#chennaiTwenty {
    left: 7.6%;
}
#chennaiTwentyOne {
    left: 7.65%;
}
#chennaiTwentyTwo {
    top: -33%;
}
#chennaiTwentyFour {
    left: 34.6%;
    top: -54%;
}
.chennaiCopyNine {
    top: -104%;
}
#chennaiTwentyThree {
    left: 7.65%;
    top: -5.5%;
}
#chennaiTwentyFive {
    left: 34.6%;
    top: -54.2%;
    z-index: -5;
}
#chennaiSubSix {
    top: 775.3vh;
}
#chennaiTwentySix {
    top: 13.8%;
}
#chennaiGridFour {
    left: -44%;
}
.chennaiCopyTen {
    top: -34%;
}
#chennaiSubSeven {
    top: 814.5vh;
}
#chennaiTwentySeven {
    left: 7.6%;
    top: 13%;
}
#chennaiTwentyEight {
    top: -12%;
}
.chennaiCopyTwelve {
    top: -13.5%;
}
#ChennaiVideoThree {
    left: -32.9%;
    top: -12.5%;
    width: 55.3vw;
    height: 58.5vh;
}
#chennaiImageDescriptionEleven {
    top: -17.5%;
}
#chennaiSubEight {
    top: 836.2vh;
}
#chennaiTwentyNine {

    left: -13%;
    top: 11%;
}
#chennaiThirtySix {
    left: -20%;
}

#gridImageMiddleChennaiTwo {
    width: 23.8vw;
    margin-left: 11px;
}
#chennaiSubNine {
    top: 1323.5vh;
}
#chennaiThirtyThree {
    left: 7.6%;
}
#chennaiGridSix {
    left: -44%;
}
#chennaiGridSeven {
    left: -17%;
}
#ChennaiVideoFour {
    left: -32.8%;
    top: 14.4%;
}
#chennaiSubTen {
    top: 1482.7vh;
}
.chennaiMapContainerTwo {
    top: 14%;
}
#chennaiImageDescriptionEighteen {
    top: 15.4%;
}
.chennaiCopyNineteen {
    top: 2.7%;
}
#chennaiSubEleven {
    top: 1510vh;
}
#gridImageSmallChennai {
    width: 14vw;
    margin-left: 10px;
}
#chennaiGridTen {
    top: 20%;
}
.endlineChennaiThree {
    top: 15%;
}
.referenceBlockChennaiThree {
    top: 18%;
    height: 71%;
}

#chennaiImageDescriptionNineteen 
{
    top: 5%;
    font-size: 9px;
}

.referenceChennai 
{
    font-size: 9px;
    line-height: 12px;
}

}
/* height - 1440 x 900*/
@media (min-width: 1400px) and (max-width: 1499px) and (min-height: 851px) and (max-height: 901px){
	
#chennaiSubOne .copyTextLarger {
    top: 14.6%;
}
#chennaiOne {
    position: relative;
    left: -32.9%;
    top: -49%;
    z-index: 0;
    width: 55.2vw;
}
#chennaiImageDescriptionOne {
    position: relative;
    top: -54%;
    left: 8.3%;
    width: 14%;
}
#chennaiSubTwo {
    top: 108.305px;
}
#chennaiSubThree {
    top: 1259.29px;
}
#chennaiFifteen {
    top: -147.5%;
}

#chennaiThree {
    position: relative;
    left: -77.6%;
    top: 25%;
}
#chennaiFour {
    top: -3%;
}
#chennaiImageDescriptionTwo {
    top: -2.5%;
}
#chennaiImageDescriptionThree {
    position: relative;
    top: -38%;
    left: 8.3%;
    width: 14%;
}
#chennaiFive {
    top: -3%;
}
	#chennaiSix {
    left: 7.65%;
    top: -27.1%;
    z-index: 0;
}
.chennaiCopyTwo {
    position: relative;
    top: -28%;
    left: 8.3%;
    width: 23%;
}
#chennaiGridOne {
    left: -17%;
    top: -62.2%;
}

#ChennaiVideoTwo {
    left: -33%;
    top: -59%;
    width: 55.1vw;
    height: 55.1vh;
}
#chennaiSubThree {
    top: 1379.29px;
}
#chennaiSeven {
    top: 15%;
}
#chennaiEight {
 top: 14.5%;
}
#chennaiImageDescriptionFive {
    top: -46.5%;
}
#chennaiTen {
    top: -41%;
}
#chennaiEleven {
    top: -46.4%;
}
#chennaiSubFour {
    top: 3130.08px;
}
.chennaiCopySeven {
    top: 8%;
}
#chennaiSubFive {
    top: 3877.34px;
}
#chennaiImageDescriptionEight {
    position: relative;
    top: -162%;
    left: 35.3%;
    width: 25%;
}
#chennaiTwenty {
    position: relative;
    left: 7.8%;
    top: -7.5%;
    z-index: 0;
}
#chennaiTwentyOne {
    top: -8%;
}
.chennaiCopyNine {
    top: -86%;
}
#chennaiTwentyTwo {
    top: -26.6%;
}
#chennaiTwentyFour {
    left: 34.6%;
    top: -45.8%;
}
#chennaiTwentyFive {
    left: 34.6%;
    top: -46.3%;
    z-index: -5;
}
#chennaiTwentyThree {
    left: 7.65%;
    top: -4.7%;
}
#chennaiSubSix {
    top: 4975px;
}
	#chennaiTwentyEight {
    top: -7%;
}

.chennaiCopyTen {
    top: -30%;
}
#chennaiSubSeven {
    top: 5101.013px;
}
#chennaiSubEight {
    top: 5108.124px;
}
	.chennaiCopyTwelve {
    top: -10.5%;
}
	#ChennaiVideoThree {
    top: -10.5%;
}

.chennaiCopyThirteen {
    position: relative;
    top: 2%;
    left: 35.3%;
    width: 25%;
}
#chennaiSubNine {
    top: 8764.088px;
}
.chennaiCopySixteen {
    top: -69.5%;
}
#chennaiSubTen {
    top: 9836.013px;
}
.chennaiCopyNineteen {
    top: 4.1%;
}
#chennaiSubEleven {
    top: 9867.67px;
}

}


/*------------------1500------------------------*/
/* common - 1536×730*/
@media (min-width: 1500px) and (max-width: 1599px) {
    
	.copyTextLarger {
    position: relative;
    top: 19%;
    left: 35.5%;
    width: 29%;
    text-align: left;
    font-size: 25px;
    font-weight: 400;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}
	
	#ChennaiVideoOne {
        left: -25%;
        top: -53%;
    }
  #chennaiOne {
    top: -63%;
}
#chennaiImageDescriptionOne {
    top: -69%;
}
#chennaiSubTwo {
    top: 18vh;
}
#chennaiImageDescriptionTwo {
    position: relative;
    top: -5.5%;
    left: 8.3%;
    width: 14%;
}
    #chennaiTwo {
        top: 14%;
    left: -16.5%;
    }
    #chennaiThree {
        top: 30%;
    }
    #chennaiSix {
        left: 7.7%;
    }
#chennaiGridOne {
    top: -80.2%;
    left: -17.7%;
}
#ChennaiVideoTwo {
    position: relative;
    left: -32.9%;
    top: -78.5%;
}
#chennaiSubThree {
    top: 232.4vh;
}
    #chennaiNine {
        left: 7.7%;
        top: -42.2%;
    }
    #chennaiSeven {
        left: -33%;
        top: 13%;
    }
    #chennaiEight {
        left: -33%;
        top: 12.8%;
    }
    .chennaiCopyFive {
        top: -41%;
    }
    #chennaiImageDescriptionFive {
        top: -70%;
    }
    #chennaiTen {
        left: -32.9%;
        top: -52%;
        width: 61.5vw;
    }
    #chennaiEleven {
        left: -32.9%;
        top: -57%;
        width: 61.5vw;
    }
    #chennaiTwelve {
        left: -33%;
        top: -62%;
        width: 61.4vw;
    }
    #chennaiImageDescriptionSix {
        top: -67%;
    }
  #chennaiSubFour {
    top: 532vh;
}
    #chennaiThirteen {
        left: -32.8%;
        top: 13.8%;
        width: 61.6vw;
    }
    #chennaiGridTwo {
        top: -63.3%;
        left: -43.8%;
    }
    #chennaiFourteen {
        left: 34.5%;
        top: -80%;
    }
    .chennaiCopySix {
        top: -87%;
    }
    #chennaiImageDescriptionSeven {
        top: -102%;
    }
    #chennaiGridThree {
        top: -100%;
        left: -43.7%;
    }
    #chennaiFifteen {
        top: -190.3%;
    }
    #chennaiSixteen {
        top: -202%;
    }
    #chennaiImageDescriptionEight {
        top: -206%;
    }
  #chennaiSubFive {
    top: 698.6vh;
}

    .chennaiMapContainerOne {
        position: relative;
        left: 1.7%;
        top: 13.5%;
    }
   #chennaiTwenty {
    left: 7.7%;
    top: -15.5%;
}
    #chennaiNineteen {
        left: 17.8%;
        top: 14%;
        width: 47.2vw;
    }
#chennaiTwentyOne {
    left: 7.7%;
    top: -15.3%;
}
    #chennaiTwentyTwo {
        top: -39.5%;
    }
#chennaiTwentyFour {
    left: 34.6%;
    top: -63.5%;
}
#chennaiTwentyFive {
    left: 34.6%;
    top: -63.3%;
}
    .chennaiCopyNine {
        top: -120.5%;
    }
        #chennaiTwentySix {
        left: -32.5%;
        top: 13%;
        }
#chennaiTwentyThree {
    left: 7.7%;
    top: -8.4%;
    z-index: -5;
}
#chennaiSubSix {
    top: 912.5vh;
}
    #chennaiGridFour {
        top: 6.5%;
        left: -43.8%;
    }
	#chennaiImageDescriptionExtra {
    position: relative;
    top: 7%;
    left: 35.25%;
    width: 15%;
}
    
    .chennaiCopyTen {
        top: -42.5%;
    }
    #chennaiImageDescriptionTen {
        top: -32%;
    }
   #chennaiSubSeven {
    top: 966vh;
}
    #chennaiTwentySeven {
        left: 7.7%;
        top: 12.5%;
    }
    #chennaiTwentyEight {
        top: -14%;
    }
    .chennaiCopyEleven {
        top: -12%;
    }
    .chennaiCopyTwelve {
        top: -21%;
    }
    #ChennaiVideoThree {
        top: -20%;
    }
    #chennaiImageDescriptionEleven {
        top: -25%;
    }
   #chennaiSubEight {
    top: 1003.8vh;
}
    #chennaiTwentyNine {
        left: -15.5%;
        top: 10%;
    }
    #chennaiThirtySix {
        left: -20.5%;
        top: 12%;
    }
    #gridImageMiddleChennaiTwo {
        width: 23.8vw;
        margin-left: 10px;
    }
#chennaiSubNine {
    top: 1564.4vh;
}
    #ChennaiVideoFour {
        top: 13.5%;
    }
    #chennaiGridSix {
        left: -43.7%;
    }
    #chennaiThirtyThree {
        left: 7.7%;
    }
    #chennaiGridSeven {
        top: -70%;
        left: -17.7%;
    }
    .chennaiCopySixteen {
        top: -79%;
    }
    #ChennaiVideoFive {
        left: -33.3%;
        top: 15%;
        height: 30.7vh;
        width: 30.4vw;
    }
    #chennaiGridNine {
        top: -88%;
    }
    #chennaiImageDescriptionSeventeen {
        top: -89.5%;
    }
    .chennaiCopySeventeen {
        top: -93%;
    }
#chennaiSubTen {
    top: 1754.3vh;
}
    .chennaiMapContainerTwo {
        left: 1.7%;
        top: 13.4%;
    }
#chennaiSubEleven {
    top: 1813vh;
}
    #chennaiGridTen {
        top: 21%;
    }
    #gridImageSmallChennai {
        margin-left: 12px;
    }
    .endlineChennaiThree {
        top: 18%;
    }
    .referenceBlockChennaiThree {
        top: 26%;
    }
    .referenceBlockChennaiThree {
        height: 111%;
        top: 21%;
    }	
    #chennaiGridEight {
    top: -83%;
    }

    #chennaiImageDescriptionNineteen {
        top: 5%;
        left: 35.3%;
        font-size: 9px;
    }

    .referenceChennai {
        font-weight: 300;
        font-size: 9px;
        line-height: 12px;
        width: 30%;
        height: 50%;
    }
        
    }

@media (min-width: 1500px) and (max-width: 1599px) and (min-height: 780px) and (max-height: 810px){

#chennaiSubTwo {
    top: 9vh;
}
#chennaiGridOne {
    top: -75.2%;
    left: -17.7%;
}
#chennaiSix {
    left: 7.7%;
    top: -30.2%;
    z-index: 0;
}
#ChennaiVideoTwo {
    position: relative;
    left: -32.9%;
    top: -73.5%;
}

.chennaiCopyTwo {
    position: relative;
    top: -29%;
    left: 8.3%;
    width: 23%;
}
#chennaiSubThree {
    top: 199.4vh;
}
#chennaiSubFour {
    top: 467vh;
}
#chennaiSubFive {
    top: 598.4vh;
}
	#chennaiImageDescriptionFive {
    top: -65%;
}
.chennaiCopySeven {
    position: relative;
    top: 8%;
    left: 35.3%;
    width: 25%;
}
.chennaiCopySix {
    top: -86%;
}

.chennaiCopyNine {
    top: -108.5%;
}
#chennaiTwentyTwo {
    top: -37.7%;
}
#chennaiTwentyFour {
    left: 34.6%;
    top: -60.5%;
}
#chennaiTwentyFive {
    left: 34.6%;
    top: -61%;
}
#chennaiTwentyThree {
    left: 7.7%;
    top: -10.7%;
    z-index: -5;
}
#chennaiSubSix {
    top: 779vh;
}
#chennaiSubSeven {
    top: 818.6vh;
}
.chennaiCopyTwelve {
    top: -19.6%;
}
.chennaiCopyEleven {
    top: -5%;
}
#chennaiSubEight {
    top: 843.8vh;
}
#chennaiSubNine {
    top: 1355.4vh;
}
#chennaiGridSix {
    top: -32%;
}
.chennaiCopySixteen {
    top: -78%;
}
#chennaiSubTen {
    top: 1521vh;
}
#chennaiSubEleven {
    top: 1564vh;
}		
}


/*------------------1600------------------------*/
    /* common - 1600×750*/
@media (min-width: 1600px) and (max-width: 1699px) {
	#chennaiSubOne .copyTextLarger {
top: 20%;
}
#ChennaiVideoOne {
    left: -22%;
}
#chennaiSubTwo {
    top: 38vh;
}
#chennaiTwo {
    left: -16.5%;
    top: 14%;
}
	#chennaiThree {
    left: -77.6%;
    top: 29%;
}
#chennaiImageDescriptionTwo {
    position: relative;
    top: -2.5%;
    left: 8.3%;
    width: 14%;
}
#chennaiFour {
    position: relative;
    top: -3.2%;
    z-index: 0;
}
#chennaiFive {
    position: relative;
    left: -33%;
    top: -2.4%;
    z-index: -5;
    width: 40vw;
}
#chennaiSix {
    top: -27.5%;
    z-index: 0;
}
#chennaiGridOne {
    top: -72%;
    left: -17.5%;
}
.chennaiCopyTwo {
    position: relative;
    top: -27%;
    left: 8.3%;
    width: 23%;
}
#ChennaiVideoTwo {
    position: relative;
    left: -33%;
    top: -70%;
    width: 55.1vw;
    height: 55.1vh;
}
#chennaiSubThree {
    top: 246vh;
}
#chennaiNine {
    left: 7.7%;
    top: -33%;
}
#chennaiSeven {
    top: 22.5%;
}
#chennaiEight {
    left: -33.5%;
    top: 22.5%;
}
.chennaiCopyFive {
    top: -34%;
}
#chennaiImageDescriptionFive {
    top: -54%;
}
#chennaiSubFour {
    top: 535vh;
}
#chennaiThirteen {
    left: -32.9%;
    top: 14%;
    width: 61.5vw;
}
#chennaiGridTwo {
    top: -53%;
    left: -43.7%;
}
#chennaiFourteen {
    left: 34.6%;
    top: -67%;
}
	#chennaiFifteen {
    position: relative;
    left: 34.6%;
    top: -168.3%;
    z-index: 0;
    width: 31.15vw;
}
#chennaiSixteen {
    position: relative;
    left: -33.3%;
    top: -180%;
    z-index: 0;
    width: 7.5vw;
}
#chennaiImageDescriptionEight {
    position: relative;
    top: -182%;
    left: 35.3%;
    width: 25%;
}
#chennaiSubFive {
    top: 716.4vh;
}
#chennaiGridThree {
    top: -77%;
    left: -43.8%;
}
.chennaiMapContainerOne {
    top: 14%;
}
#chennaiTwentyOne {
    left: 7.6%;
    top: -13.7%;
}
#chennaiTwenty {
    left: 7.6%;
    top: -13.3%;
}
#chennaiTwentyTwo {
    left: 34.5%;
    top: -38.5%;
}
#chennaiTwentyFive {
    left: 34.6%;
    top: -63%;
}
#chennaiTwentyFour {
    left: 34.6%;
    top: -63.1%;
}
.chennaiCopyNine {
    top: -114.5%;
}
#chennaiTwentyThree {
    top: -7.7%;
    z-index: -5;
}
#chennaiSubSix {
    top: 924vh;
}
#chennaiTwentySix {
    top: 13%;
}
#chennaiGridFour {
    top: 8%;
    left: -43.7%;
}
.chennaiCopyTen {
    top: -41%;
}
#chennaiSubSeven {
    top: 982.3vh;
}
#chennaiTwentySeven {
    left: 7.7%;
    top: 14.5%;
}
#chennaiTwentyEight {
    top: -12%;
}
#chennaiSubEight {
    top: 1013.4vh;
}
#chennaiTwentyNine {
    left: -16.2%;
    top: 10%;
}
#chennaiThirtySix {
    left: -20.5%;
    top: 13%;
}
#gridImageMiddleChennaiTwo {
    margin-left: 13px;
}
#chennaiSubNine {
    top: 1554.4vh;
}
#ChennaiVideoFour {
    top: 14%;
}
#chennaiThirtyThree {
    left: 7.7%;
}
#chennaiGridSix {
    left: -43.7%;
}
#chennaiGridSeven {
    top: -61%;
    left: -17.5%;
}
.chennaiCopySixteen {
    top: -72.5%;
}
#chennaiSubTen {
    top: 1734vh;
}
.chennaiMapContainerTwo {
    top: 14%;
}
#chennaiSubEleven {
    top: 1780vh;
}
#gridImageSmallChennai {
    margin-left: 13.5px;
}
#chennaiGridTen {
    top: 30%;
}
.endlineChennaiThree {
    top: 24%;
}
.referenceBlockChennaiThree {
    top: 26%;
}	

#chennaiImageDescriptionNineteen {
    top: 5%;
    font-size: 9px;
}

.referenceChennai {
    font-size: 9px;
    line-height: 12px;
}

.referenceBlockChennaiTwo {
    top: 13%;
}
}
/* 1600 x 900 */
@media (min-width: 1600px) and (max-width: 1699px) and (min-height: 831px) and (max-height: 900px) {
	#chennaiSubTwo {
    top: 21.3vh;
}
#chennaiThree {
    left: -77.6%;
    top: 27%;
}
#chennaiImageDescriptionTwo {
    position: relative;
    top: -0.5%;
    left: 8.3%;
    width: 14%;
}
#chennaiFour {
    position: relative;
    top: -0.2%;
    z-index: 0;
}
#chennaiImageDescriptionThree {
    position: relative;
    top: -38%;
    left: 8.3%;
    width: 14%;
}
#chennaiFive {
    position: relative;
    left: -33%;
    top: 0.6%;
    z-index: -5;
    width: 40vw;
}
#chennaiGridOne {
    top: -59.4%;
    left: -17.5%;
}
#chennaiSix {
    top: -22%;
    z-index: 0;
}
.chennaiCopyTwo {
    position: relative;
    top: -21%;
    left: 8.3%;
    width: 23%;
}
#ChennaiVideoTwo {
    position: relative;
    left: -33%;
    top: -58%;
    width: 55.1vw;
    height: 55.1vh;
}
#chennaiSubThree {
    top: 182vh;
}
#chennaiSeven {
    top: 15.5%;
}
#chennaiEight {
    left: -33.5%;
    top: 15.5%;
}
#chennaiImageDescriptionFive {
    top: -50%;
}
.chennaiCopyFive {
    top: -34.5%;
}
#chennaiSubFour {
    top: 404vh;
}
#chennaiImageDescriptionEight {
    position: relative;
    top: -166%;
    left: 35.3%;
    width: 25%;
}
#chennaiFifteen {
    position: relative;
    left: 34.6%;
    top: -152.9%;
    z-index: 0;
    width: 31.15vw;
}
#chennaiSixteen {
    position: relative;
    left: -33.3%;
    top: -164%;
    z-index: 0;
    width: 7.5vw;
}
#chennaiSubFive {
    top: 514.8vh;
}
	#chennaiTwenty {
    left: 7.6%;
    top: -8.3%;
}
#chennaiTwentyOne {
    left: 7.6%;
    top: -8.6%;
}
#chennaiTwentyTwo {
    left: 34.5%;
    top: -29.2%;
}
.chennaiCopyNine {
    top: -90.5%;
}
#chennaiTwentyFour {
    left: 34.6%;
    top: -50.1%;
}
#chennaiTwentyFive {
    left: 34.6%;
    top: -50.3%;
}
#chennaiTwentyThree {
    top: -4%;
    z-index: -5;
}
#chennaiSubSix {
    top: 663.5vh;
}
.chennaiCopyTen {
    top: -33%;
}
#chennaiSubSeven {
    top: 689.8vh;
}
#chennaiTwentyEight {
    top: -8%;
}
#chennaiSubEight {
    top: 696.4vh;
}
#chennaiImageDescriptionTwelve {
    position: relative;
    top: 24%;
    left: 8.3%;
    width: 15%;
}
.chennaiCopyThirteen {
    position: relative;
    top: 1%;
    left: 35.3%;
    width: 25%;
}
#chennaiSubNine {
    top: 1134.8vh;
}
#chennaiSubTen {
    top: 1265.5vh;
}
#chennaiSubEleven {
    top: 1280vh;
}
}
/* 1680 x 1050 */
@media (min-width: 1600px) and (max-width: 1699px) and (min-height: 901px) and (max-height: 1050px) {
	#chennaiSubTwo {
    top: 9.3vh;
}
#chennaiImageDescriptionTwo {
    position: relative;
    top: 2.5%;
    left: 8.3%;
    width: 14%;
}
#chennaiThree {
    left: -77.6%;
    top: 26%;
}
#chennaiFour {
    position: relative;
    top: 2.8%;
    z-index: 0;
}
#chennaiImageDescriptionThree {
    position: relative;
    top: -28%;
    left: 8.3%;
    width: 14%;
}
#chennaiFive {
    position: relative;
    left: -33%;
    top: 3.6%;
    z-index: -5;
    width: 40vw;
}
#chennaiSix {
    top: -16%;
    z-index: 0;
}
#chennaiGridOne {
    top: -49.4%;
    left: -17.5%;
}
.chennaiCopyTwo {
    position: relative;
    top: -16%;
    left: 8.3%;
    width: 23%;
}
#ChennaiVideoTwo {
    position: relative;
    left: -33%;
    top: -48%;
    width: 55.1vw;
    height: 55.1vh;
}
#chennaiSubThree {
    top: 151vh;
}
#chennaiSeven {
    top: 14.5%;
}
#chennaiEight {
    left: -33.5%;
    top: 14.5%;
}
.chennaiCopyFive {
    top: -32%;
}
#chennaiImageDescriptionFive {
    top: -43%;
}
#chennaiTen {
    position: relative;
    left: -32.9%;
    top: -40%;
    z-index: 0;
    width: 61.3vw;
}
#chennaiEleven {
    position: relative;
    left: -33.3%;
    top: -45%;
    z-index: 0;
    width: 61vw;
}
#chennaiTwelve {
    position: relative;
    left: -33.3%;
    top: -50%;
    z-index: 0;
    width: 61vw;
}
#chennaiSubFour {
    top: 327vh;
}
#chennaiGridTwo {
    top: -48%;
    left: -43.7%;
}
#chennaiImageDescriptionEight {
    position: relative;
    top: -158%;
    left: 35.3%;
    width: 25%;
}
#chennaiFifteen {
    position: relative;
    left: 34.6%;
    top: -142.3%;
    z-index: 0;
    width: 31.15vw;
}
#chennaiSixteen {
    position: relative;
    left: -33.3%;
    top: -154%;
    z-index: 0;
    width: 7.5vw;
}
#chennaiImageDescriptionSeven {
    position: relative;
    top: -72%;
    left: 35.3%;
    width: 15%;
}
#chennaiFourteen {
    left: 34.6%;
    top: -62%;
}
#chennaiSubFive {
    top: 396.4vh;
}
#chennaiTwentyOne {
    left: 7.6%;
    top: -8.7%;
}
#chennaiTwenty {
    left: 7.6%;
    top: -8.3%;
}
#chennaiTwentyTwo {
    left: 34.5%;
    top: -27.2%;
}
#chennaiTwentyFour {
    left: 34.6%;
    top: -46.1%;
}
#chennaiTwentyThree {
    top: -5.7%;
    z-index: -5;
}
#chennaiTwentyFive {
    left: 34.6%;
    top: -46.6%;
}
#chennaiTwentyThree {
    top: -5%;
    z-index: -5;
}
.chennaiCopyNine {
    top: -82.5%;
}
#chennaiSubSix {
    top: 509.2vh;
}
.chennaiCopyTen {
    top: -29%;
}
#chennaiSubSeven {
    top: 519.7vh;
}
#chennaiTwentyEight {
    top: -6%;
}
.chennaiCopyTwelve {
    position: relative;
    top: -9%;
    left: 35.3%;
    width: 25%;
}
#ChennaiVideoThree {
    position: relative;
    left: -33%;
    top: -9%;
    width: 55vw;
    height: 55vh;
}
#chennaiSubEight {
    top: 511.4vh;
}
.chennaiCopyThirteen {
    position: relative;
    top: 1%;
    left: 35.3%;
    width: 25%;
}
#chennaiSubNine {
    top: 890.4vh;
}
.chennaiCopyFifteen {
    position: relative;
    top: 2.5%;
    left: 35.3%;
    width: 25%;
}
#chennaiImageDescriptionSixteen {
    position: relative;
    top: 8%;
    left: 8.3%;
    width: 15%;
}
#chennaiThirtyThree {
    position: relative;
	    top: -5%;
}
.chennaiCopySixteen {
    top: -68.5%;
}


#chennaiSubTen {
    top: 993vh;
}
.chennaiCopyNineteen {
    position: relative;
    top: 7.5%;
    left: 35.3%;
    width: 21%;
}
#chennaiSubEleven {
    top: 992vh;
}
}

/*------------------1900------------------------*/

@media (min-width: 1900px) and (max-width: 1999px) 
	and (min-height: 920px) and (max-height: 950px){
		#chennaiSubTwo {
    top: 54vh;
}
#chennaiThree {
    position: relative;
    left: -77.6%;
    top: 30%;
}
#chennaiImageDescriptionTwo {
    position: relative;
    top: -6.5%;
    left: 8.3%;
    width: 14%;
}
#chennaiGridOne {
    position: relative;
    top: -79.4%;
    left: -16.4%;
}
#chennaiSubThree {
    top: 280.5vh;
}
#chennaiSubFour {
    top: 587vh;
}
#chennaiSubFive {
    top: 792vh;
}
		#ChennaiVideoOne {
    position: relative;
    left: -16%;
    top: -34%;
    width: 150vw;
    height: 150vh;
    z-index: -5;
}
#chennaiTwentyOne {
    position: relative;
    left: 7.8%;
    top: -7.6%;
    z-index: -2;
}
#chennaiTwentyThree {
    position: relative;
    left: 7.8%;
    top: 3.2%;
    z-index: -5;
}
#chennaiSubSix {
    top: 1013.3vh;
}
#chennaiSubSeven {
    top: 1073vh;
}
#chennaiTwentyEight {
    position: relative;
    left: 34.7%;
    top: -12%;
    z-index: -5;
}
#chennaiSubEight {
    top: 1121vh;
}
#chennaiSubNine {
    top: 1679vh;
}
#chennaiSubTen {
    top: 1878vh;
}
#chennaiSubEleven {
    top: 1936vh;
}
		
}

@media (min-width: 1900px) and (max-width: 1999px) 
	and (min-height: 1101px) and (max-height: 1210px){
		#ChennaiVideoOne {
    position: relative;
    left: -10%;
    top: -30%;
    width: 150vw;
    height: 150vh;
    z-index: -5;
}
#chennaiSubTwo {
    top: 27vh;
}
#chennaiThree {
    position: relative;
    left: -77.6%;
    top: 26%;
}
#chennaiSix {
    position: relative;
    left: 7.8%;
    top: -30.1%;
    z-index: 0;
}
#chennaiGridOne {
    position: relative;
    top: -67.5%;
    left: -16.4%;
}
#ChennaiVideoTwo {
    position: relative;
    left: -33%;
    top: -66%;
    width: 55.1vw;
    height: 55.1vh;
}
.chennaiCopyTwo {
    position: relative;
    top: -28%;
    left: 8.3%;
    width: 23%;
}
#chennaiSubThree {
    top: 168.5vh;
}
#chennaiImageDescriptionFive {
    position: relative;
    top: -46%;
    left: 35.3%;
    width: 14%;
}
.chennaiCopyFive {
    position: relative;
    top: -33%;
    left: 8.3%;
    width: 20%;
}
#chennaiSubFour {
    top: 369vh;
}
#chennaiSubFive {
    top: 459vh;
}
.chennaiCopyNine {
    position: relative;
    top: -86.5%;
    left: 8.3%;
    width: 18%;
}
#chennaiTwentyTwo {
    position: relative;
    left: 34.5%;
    top: -29.5%;
    z-index: -5;
}
#chennaiTwentyFour {
    position: relative;
    left: 34.7%;
    top: -48%;
    z-index: -5;
}
#chennaiTwentyFive {
    position: relative;
    left: 34.7%;
    top: -45.9%;
    z-index: -5;
}
#chennaiSubSix {
    top: 582.3vh;
}
#chennaiSubSeven {
    top: 599vh;
}
#chennaiSubEight {
    top: 608.7vh;
}
.chennaiCopyThirteen {
    position: relative;
    top: 1%;
    left: 35.3%;
    width: 25%;
}
#chennaiSubNine {
    top: 1027vh;
}
.chennaiCopySixteen {
    position: relative;
    top: -69.7%;
    left: 8.3%;
    width: 25%;
}
#chennaiSubTen {
    top: 1156vh;
}
#chennaiSubEleven {
    top: 1169vh;
}
		
}
