.chennaiContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
}

#chennaiSubTwo
{
    top: -5vh;
}

#chennaiSubThree
{
    top: 165vh;
}

#chennaiSubFour
{
    top: 415vh;
}

#chennaiSubFive
{
    top: 545vh;
}

#chennaiSubSix
{
    top: 695vh;
}

#chennaiSubSeven
{
    top: 725vh;
}

#chennaiSubEight
{
    top: 750vh;
}

#chennaiSubNine
{
    top: 1180vh;
}

#chennaiSubTen
{
    top: 1335vh;
}

#chennaiSubEleven
{
    top: 1365vh;
}

#ChennaiVideoOne
{
    position: relative;
    left: -10%;
    top: -25%;
    width: 150vw;
    height: 150vh;
    z-index: -5;
}

#ChennaiVideoTwo
{
    position: relative;
    left: -33%;
    top: -70%;
    width: 55.1vw;
    height: 55.1vh;
}

#ChennaiVideoThree
{
    position: relative;
    left: -33%;
    top: -10%;
    width: 55vw;
    height: 55vh;
}

#ChennaiVideoFour
{
    position: relative;
    left: -33%;
    top: 15%;
    width: 55.3vw;
    height: 55.3vh;
}

#ChennaiVideoFive
{
    position: relative;
    left: -33%;
    top: 15%;
    width: 30.7vw;
    height: 30.7vh;
    z-index: 5;
}

#chennaiOne
{
    position: relative;
    left: -32.9%;
    top: -45%;
    z-index: 0;
    width: 55.2vw;
}

#chennaiTwo
{
    position: relative;
    left: -16.7%;
    top: 15%;
    z-index: 0;
    width: 55.4vw;
}

#chennaiThree
{
    position: relative;
    left: -77.6%;
    top: 30%;
    z-index: 0;
}

#chennaiFour
{
    position: relative;
    left: 7.8%;
    top: 3%;
    z-index: 0;
}

#chennaiFive
{
    position: relative;
    left: -33%;
    top: -5%;
    z-index: -5;
    width: 40vw;
}

#chennaiSix
{
    position: relative;
    left: 7.8%;
    top: -35%;
    z-index: 0;
}

#chennaiSeven
{
    position: relative;
    left: -33.5%;
    top: 14%;
    z-index: 0;
}

#chennaiEight
{
    position: relative;
    left: -33.5%;
    top: 13.7%;
    z-index: 0;
}

#chennaiNine
{
    position: relative;
    left: 7.8%;
    top: -32%;
    z-index: 0;
}

#chennaiTen
{
    position: relative;
    left: -32.9%;
    top: -45%;
    z-index: 0;
    width: 61.3vw;
}

#chennaiEleven
{
    position: relative;
    left: -33.3%;
    top: -50%;
    z-index: 0;
    width: 61vw;
}

#chennaiTwelve
{
    position: relative;
    left: -33.3%;
    top: -55%;
    z-index: 0;
    width: 61vw;
}

#chennaiThirteen
{
    position: relative;
    left: -33.3%;
    top: 15%;
    z-index: -5;
    width: 61vw;
}

#chennaiFourteen
{
    position: relative;
    left: 34.7%;
    top: -65%;
    z-index: 0;
}

#chennaiFifteen
{
    position: relative;
    left: 34.9%;
    top: -154.3%;
    z-index: 0;
    width: 37vw;
}

#chennaiSixteen
{
    position: relative;
    left: -33.3%;
    top: -167%;
    z-index: 0;
    width: 7.5vw;
}

#chennaiSeventeen
{
    position: relative;
    left: -33.3%;
    top: -50%;
    z-index: 0;
    width: 62vw;
}

#chennaiEighteen
{
    position: relative;
    left: -72.95%;
    top: 18%;
    z-index: 0;
    width: 18vw;
}

#chennaiNineteen
{
    position: relative;
    left: 18%;
    top: 1%;
    z-index: -5;
    width: 46.7vw;
}

#chennaiTwenty
{
    position: relative;
    left: 7.8%;
    top: -25%;
    z-index: 0;
}

#chennaiTwentyOne
{
    position: relative;
    left: 7.8%;
    top: -24%;
    z-index: -6;
}

#chennaiTwentyTwo
{
    position: relative;
    left: 34.5%;
    top: -43%;
    z-index: -5;
}

#chennaiTwentyThree
{
    position: relative;
    left: 7.8%;
    top: -25%;
    z-index: -5;
}

#chennaiTwentyFour
{
    position: relative;
    left: 34.7%;
    top: -63%;
    z-index: -5;
}

#chennaiTwentyFive
{
    position: relative;
    left: 34.7%;
    top: -70%;
    z-index: -5;
}

#chennaiTwentySix
{
    position: relative;
    left: -32.5%;
    top: 15%;
    z-index: -5;
    width: 57vw;
}

#chennaiTwentySeven
{
    position: relative;
    left: 7.8%;
    top: 15%;
    z-index: -5;
    width: 33vw;
}

#chennaiTwentyEight
{
    position: relative;
    left: 34.7%;
    top: -8%;
    z-index: -5;
}

#chennaiTwentyNine
{
    position: relative;
    left: -12.2%;
    top: 13%;
    z-index: -5;
    width: 46vw;
}

#chennaiThirty
{
    position: relative;
    left: -77.8%;
    top: 32%;
    z-index: -5;
}

#chennaiThirtyOne
{
    position: relative;
    left: -32.9%;
    top: 0%;
    width: 55.5vw;
}

#chennaiThirtyTwo
{
    position: relative;
    left: -32.7%;
    top: -4%;
    z-index: -5;
    width: 56vw;
}

#chennaiThirtyThree
{
    position: relative;
    left: 7.9%;
    top: -8%;
}

#chennaiThirtyFour
{
    position: relative;
    left: -32.7%;
    top: -15%;
    z-index: -5;
    width: 62vw;
}

#chennaiThirtyFive
{
    position: relative;
    left: -32.7%;
    top: -15%;
    z-index: -5;
    width: 62vw;
}

#chennaiThirtySix
{
    position: relative;
    left: -16.5%;
    top: 15%;
    z-index: -5;
    width: 19vw;
}

.chennaiMapContainerOne
{
    position: relative;
    left: 1.7%;
    top: 15%;
    z-index: 0;
    width: 61.5vw;
}

.chennaiMapContainerTwo
{
    position: relative;
    left: 1.7%;
    top: 15%;
    z-index: 0;
    width: 61.5vw;
}

#chennaiImageDescriptionOne
{
    position: relative;
    top: -50%;
    left: 8.3%;
    width: 14%;
}

#chennaiImageDescriptionTwo
{
    position: relative;
    top: 2%;
    left: 8.3%;
    width: 14%;
}

#chennaiImageDescriptionThree
{
    position: relative;
    top: -35%;
    left: 8.3%;
    width: 14%;
}

#chennaiImageDescriptionFour
{
    position: relative;
    top: -35%;
    left: 8.3%;
    width: 14%;
}

#chennaiImageDescriptionFive
{
    position: relative;
    top: -55%;
    left: 35.3%;
    width: 14%;
}

#chennaiImageDescriptionSix
{
    position: relative;
    top: -58%;
    left: 35.3%;
    width: 25%;
}

#chennaiImageDescriptionSeven
{
    position: relative;
    top: -79%;
    left: 35.3%;
    width: 15%;
}

#chennaiImageDescriptionEight
{
    position: relative;
    top: -171%;
    left: 35.3%;
    width: 25%;
}

#chennaiImageDescriptionNine
{
    position: relative;
    top: 14%;
    left: 8.3%;
    width: 15%;
}

#chennaiImageDescriptionTen
{
    position: relative;
    top: -28%;
    left: 35.25%;
    width: 15%;
}

#chennaiImageDescriptionEleven
{
    position: relative;
    top: -15%;
    left: 35.25%;
    width: 15%;
}

#chennaiImageDescriptionTwelve
{
    position: relative;
    top: 26%;
    left: 8.3%;
    width: 15%;
}

#chennaiImageDescriptionThirteen
{
    position: relative;
    top: -1%;
    left: 8.3%;
    width: 15%;
}

#chennaiImageDescriptionFourteen
{
    position: relative;
    top: -6%;
    left: 8.3%;
    width: 12%;
}

#chennaiImageDescriptionFifteen
{
    position: relative;
    top: -10%;
    left: 8.3%;
    width: 12%;
}

#chennaiImageDescriptionSixteen
{
    position: relative;
    top: 10%;
    left: 8.3%;
    width: 15%;
}

#chennaiImageDescriptionSeventeen
{
    position: relative;
    top: -80.5%;
    left: 35.3%;
    width: 15%;
}

#chennaiImageDescriptionEighteen
{
    position: relative;
    top: 18%;
    left: 8.3%;
    width: 15%;
}

.chennaiCopyOne
{
    position: relative;
    top: 10%;
}

.chennaiCopyTwo
{
    position: relative;
    top: -32%;
    left: 8.3%;
    width: 23%;
}

.chennaiCopyThree
{
    position: relative;
    top: -32%;
    left: 8%;
    width: 23%;
}

.chennaiCopyFour
{
    position: relative;
    top: 14%;
    left: 35.25%;
    width: 28%;
}

.chennaiCopyFive
{
    position: relative;
    top: -32%;
    left: 8.3%;
    width: 20%;
}

.chennaiCopySix
{
    position: relative;
    top: -67%;
    left: 8.3%;
    width: 20%;
}

.chennaiCopySeven
{
    position: relative;
    top: 10%;
    left: 35.3%;
    width: 25%;
}

.chennaiCopyEight
{
    position: relative;
    top: 0%;
    left: 35.5%;
    width: 25%;
}

.chennaiCopyNine
{
    position: relative;
    top: -104%;
    left: 8.3%;
    width: 18%;
}

.chennaiCopyTen
{
    position: relative;
    top: -33%;
    left: 35.25%;
    width: 25%;
}

.chennaiCopyEleven
{
    position: relative;
    top: -3%;
    left: 8.3%;
    width: 18%;
}

.chennaiCopyTwelve
{
    position: relative;
    top: -11%;
    left: 35.3%;
    width: 25%;
}
.chennaiCopyThirteen
{
    position: relative;
    top: -2%;
    left: 35.3%;
    width: 25%;
}

.chennaiCopyFourteen
{
    position: relative;
    top: -2%;
    left: 35.3%;
    width: 25%;
}

.chennaiCopyFifteen
{
    position: relative;
    top: 0.5%;
    left: 35.3%;
    width: 25%;
}

.chennaiCopySixteen
{
    position: relative;
    top: -71.5%;
    left: 8.3%;
    width: 25%;
}

.chennaiCopySeventeen
{
    position: relative;
    top: -85%;
    left: 8.3%;
    width: 18%;
}

.chennaiCopyNineteen
{
    position: relative;
    top: 4.5%;
    left: 35.3%;
    width: 21%;
}

#chennaiGridOne
{
    position: relative;
    top: -75%;
    left: -16.4%;   
}

#chennaiGridTwo
{
    position: relative;
    top: -50%;
    left: -43.5%;
}

#chennaiGridThree
{
    position: relative;
    top: -77%;
    left: -43.4%;
}

#chennaiGridFour
{
    position: relative;
    top: 10%;
    left: -43.4%;
}

#chennaiGridFive
{
    position: relative;
    top: 5%;
    left: -39%;
}

#chennaiGridSix
{
    position: relative;
    top: -30%;
    left: -43.3%;
}

#chennaiGridSeven
{
    position: relative;
    top: -65%;
    left: -16.3%;
}

#chennaiGridEight
{
    position: relative;
    top: -73%;
    left: 0.7%;
}

#chennaiGridNine
{
    position: relative;
    top: -80%;
    left: 0.7%;
}

#chennaiGridTen
{
    position: relative;
    top: 52%;
    left: -32.3%;
}

.chennaiMapContainer
{
    width: 46vw;
    height: auto;
    position: relative;
    top: 90%;
    left: 10%;
}

.endlineChennai
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineChennaiTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 37%;
    left: 0%;
    border-bottom: 1px dotted black;
}

.endlineChennaiThree
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 45%;
    left: 0%;
    border-bottom: 1px dotted black;
}

.endlineChennaiFour
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 110%;
    left: 0%;
    border-bottom: 2px solid black;
}

.referenceChennai
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}

.referenceBlockChennai
{
    width: 102%;
    height: 6%;
    position: relative;
    top: 5%;
    left: 35.2%;
}

.referenceBlockChennaiTwo
{
    width: 102%;
    height: 6%;
    position: relative;
    top: 39%;
    left: 35.2%;
}

.referenceBlockChennaiThree
{
    width: 90%;
    height: 70%;
    position: relative;
    top: 46%;
    left: 35.2%;
    padding-bottom: 3vh;
}

#gridImageMiddleChennai 
{
    width: 23.8vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;   
}

#gridImageMiddleChennaiTwo
{
    width: 23.8vw;
    margin-left: 20px;
    height: auto;
}

#gridImageSmallChennai {
    width: 13.6vw;
    margin-left: 30px;
    margin-right: 5px;
    height: auto;
}