.drawingContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
}

#drawingSubTwo
{
    top: 127vh;
}

#drawingSubThree
{
    top: 250vh;
}

#drawingSubFour
{
    top: 675vh;
}

#drawingSubFive
{
    top: 1322vh;
}

#drawingSubSix
{
    top: 1538vh;
}

#drawingSubSeven
{
    top: 1720vh;
}

#drawingSubEight
{
    top: 2023vh;
}


#drawingSubNine
{
    top: 2230vh;
}

#drawingSubTen
{
    top: 2345vh;
}

#drawingOne
{
    position: relative;
    top: -16%;
    left: -5%;
    width: 113vw;
    z-index: -5;
}

#drawingTwo
{
    position: relative;
    top: -25%;
    left: -4%;
    width: 105vw;
    z-index: -5;
}

#drawingThree
{
    position: relative;
    top: 14%;
    left: -32.9%;
    z-index: -5;
}

#drawingFour
{
    position: relative;
    top: -15%;
    left: -26%;
    z-index: -5;
    width: 67vw;
}

#drawingFive
{
    position: relative;
    top: -33%;
    left: -26%;
    z-index: -5;
    width: 75vw;
}

#drawingSix
{
    position: relative;
    top: 14%;
    left: -32.9%;
    z-index: -5;
}


#drawingSeven
{
    position: relative;
    top: 0%;
    left: 7.5%;
    z-index: -5; 
}


#drawingEight
{
    position: relative;
    top: 2%;
    left: -32.9%;
    z-index: -5;
}

#drawingNine
{
    position: relative;
    top: -1%;
    left: -32.9%;
    z-index: -5;
}

#drawingTen
{
    position: relative;
    top: -6%;
    left: -32.9%;
    z-index: -5;
}

#drawingEleven
{
    position: relative;
    top: -10%;
    left: -32.9%;
    z-index: -5;
}

#drawingTwelve
{
    position: relative;
    top: 14%;
    left: -32.9%;
    z-index: -5;
}

#drawingThirteen
{
    position: relative;
    top: 0%;
    left: 1.7%;
    z-index: -5;
    width: 100vw;
}

#drawingFourteen
{
    position: relative;
    top: -62%;
    left: -6.3%;
    z-index: -5;
    width: 107vw;
}

#drawingFifteen
{
    position: relative;
    top: -66%;
    left: -5%;
    z-index: -5;
    width: 106vw;
}

#drawingSixteen
{
    position: relative;
    top: 15%;
    left: -32.9%;
    z-index: -5;
}

#drawingSeventeen
{
    position: relative;
    top: -4%;
    left: -32.9%;
    z-index: -5;
}

#drawingEighteen
{
    position: relative;
    top: -16%;
    left: -32.9%;
    z-index: -5;
}


#drawingNineteen
{
    position: relative;
    top: -20%;
    left: -32.9%;
    z-index: -8;
}

#drawingTwenty
{
    position: relative;
    top: 15%;
    left: -32.9%;
    z-index: -5;
}

#drawingTwentyOne
{
    position: relative;
    top: 5%;
    left: 8%;
    z-index: -5;
}

#drawingTwentyTwo
{
    position: relative;
    top: -41%;
    left: -14%;
    z-index: -7;
    width: 120vw;
}

#drawingTwentyThree
{
    position: relative;
    top: 15%;
    left: -32.9%;
    z-index: -5;
}

#drawingTwentyFour
{
    position: relative;
    top: 15%;
    left: -32.9%;
    z-index: -5;
}

#drawingTwentyFive
{
    position: relative;
    top: 8%;
    left: -32.9%;
    z-index: -5;
}
#drawingTwentySix
{
    position: relative;
    top: 3%;
    left: -32.9%;
    z-index: -5;
}

#drawingTwentySeven
{
    position: relative;
    top: -2%;
    left: -32.9%;
    z-index: -5;
}

#drawingTwentyEight
{
    position: relative;
    top: -7%;
    left: -32.9%;
    z-index: -5;
}

.drawingCopyOne
{
    position: relative;
    top: -21%;
    left: 35.2%;
}

.drawingCopyTwo
{

    position: relative;
    top: 14.5%;
    left: 8.3%;
    width: 18%;
}

.drawingCopyThree
{
    position: relative;
    top: -7%;
    left: 35.2%;
}

.drawingCopyFour
{
    position: relative;
    top: 13%;
    left: 8.3%;
    width: 16%;
}


.drawingCopyFive
{
    position: relative;
    top: 0%;
    left: 35.2%;
}

.drawingCopySix
{
    position: relative;
    top: 12%;
    left: 8.3%;
    width: 15%;
}

.drawingCopySeven
{
    position: relative;
    top: -2%;
    left: 35.2%;
}


.drawingCopyEight
{
    position: relative;
    top: -6%;
    left: 35.2%;
}

.drawingCopyNine
{
    position: relative;
    top: 3%;
    left: 35.2%;
}

.drawingCopyTen
{
    position: relative;
    top: 2%;
    left: 35.2%
}

.drawingCopyEleven
{
    position: relative;
    top: 6%;
    left: 35.2%
}

.drawingCopyTwelve
{
    position: relative;
    top: 10%;
    left: 35.2%
}

#drawingVideoOne
{
    width: 61.5vw;
    height: 61.5vh;
    position: relative;
    top: -35%;
    left: -32.9%;
}

#drawingImageDescriptionOne
{
    position: relative;
    top: -40%;
    left: 8.3%;
}

#drawingImageDescriptionTwo
{
    position: relative;
    top: 8.5%;
    left: 8.3%;
}

#drawingImageDescriptionThree
{
    position: relative;
    top: -40%;
    left: 8.3%;
    width: 12%;
}

#drawingImageDescriptionFour
{
    position: relative;
    top: 8.7%;
    left: 8.3%;
    width: 16%;
}

#drawingImageDescriptionFive
{
    position: relative;
    top: -3%;
    left: 8.3%;
    width: 16%;
}

#drawingImageDescriptionSix
{
    position: relative;
    top: -11%;
    left: 8.3%;
    width: 16%;
}

#drawingImageDescriptionSeven
{
    position: relative;
    top: -15%;
    left: 8.3%;
    width: 16%;
}


#drawingImageDescriptionEight
{
    position: relative;
    top: -29%;
    left: 8.3%;
    width: 16%;
}

#drawingImageDescriptionNine
{
position: relative;
    top: 9%;
    left: 8.3%;
    width: 16%;
}


#drawingImageDescriptionTen
{
    position: relative;
    top: -4%;
    left: 8.3%;
    width: 16%;
}

#drawingImageDescriptionEleven
{
    position: relative;
    top: -63.5%;
    left: 35.3%;
    width: 13%;
}

#drawingImageDescriptionTwelve
{
    position: relative;
    top: -64%;
    left: 8.3%;
    width: 16%;
}

#drawingImageDescriptionThirteen
{
    position: relative;
    top: -95%;
    left: 8.3%;
    width: 16%;
}

#drawingImageDescriptionFourteen
{
    position: relative;
    top: 9%;
    left: 8.3%;
    width: 16%;
}

#drawingImageDescriptionFifteen
{
    position: relative;
    top: -18%;
    left: 8.3%;
}


#drawingImageDescriptionSixteen
{
    position: relative;
    top: 10.5%;
    left: 8.3%;

}

#drawingImageDescriptionSeventeen
{
    position: relative;
    top: -33.5%;
    left: 8.3%;
}

#drawingImageDescriptionEighteen
{
    position: relative;
    top: -52%;
    left: 8.3%;
}

#drawingImageDescriptionNineteen
{
    position: relative;
    top: 10.5%;
    left: 8.3%;
    width: 15%;
}

#drawingImageDescriptionTwenty
{
    position: relative;
    top: -19%;
    left: 8.3%;
    width: 17%;
}

#drawingImageDescriptionTwentyOne
{
    position: relative;
    top: 11.5%;
    left: 8.3%;
    z-index: -5;
    width: 17%;
}

#drawingImageDescriptionTwentyTwo
{
    position: relative;
    top: -12.5%;
    left: 8.3%;
    z-index: -5;
    width: 17%;
}

#drawingImageDescriptionTwentyThree
{
    position: relative;
    top: 8%;
    left: 35.3%;
    z-index: -5;
    width: 20%;
}

#drawingImageDescriptionTwentyFour
{
    position: relative;
    top: 8%;
    left: 35.3%;
    z-index: -5;
    width: 20%;
}

#drawingGridOne
{
    position: relative;
    top: -21%;
    left: -39%;
    z-index: -5;
}

#drawingGridTwo
{
    position: relative;
    top: -24.5%;
    left: -16.4%;
    z-index: -5;
}

#drawingGridThree
{
    position: relative;
    top: -48%;
    left: -43.2%;
    z-index: -5;
}

#drawingGridFour
{
    position: relative;
    top: 27%;
    left: -43.2%;
    z-index: -5;
}

#drawingGridFive
{
    position: relative;
    top: -19.9%;
    left: -16.3%;
    z-index: -5;
}

#drawingGridSix
{
    position: relative;
    top: 10%;
    left: -32.4%;
    z-index: -5;
}

#drawingGridSeven
{
    position: relative;
    top: -2%;
    left: -32.4%;
    z-index: -5;
}

.drawingMapContainer
{
    width: 30vw;
    height: auto;
    position: relative;
}

#mapOne
{
    position: relative;
    top: -62%;
    left: 1.7%;
}
#mapTwo
{
    position: relative;
    top: -97.5%;
    left: 35.3%;
}

#gridImageMiddleDrawingHor
{
    width: 23.6vw;
    margin-left: 1vw;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}


#gridImageMiddleDrawingHorLarger
{
    width: 29.7vw;
    margin-left: 1vw;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

#gridImageMiddleDrawing {
    width: 23.5vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

#DrawingVideoTwo
{
    position: relative;
    left: -10%;
    top: 0%;
    width: 150vw;
    height: 150vh;
    z-index: -5;
}

#DrawingVideoThree
{
    position: relative;
    left: -20.5%;
    top: -9%;
    width: 150vw;
    height: 150vh;
    z-index: -5;
}

#drawingVideoFour
{
    position: relative;
    left: -32.9%;
    top: 15%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -5;
}

#drawingVideoFive
{
    position: relative;
    left: -32.9%;
    top: 5%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -5;
}

.endlineDrawing
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 5%;
    left: 0vw;
    border-bottom: 1px solid black;
}

.endlineDrawingTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 10%;
    left: 0vw;
    border-bottom: 2px dotted black;
}