.ethnographyContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
}

#ethnographySubTwo
{
    top: -47vh;
}

#ethnographySubThree
{
    top: -40vh;
}

#ethnographySubFour
{
    top: 76vh;
}

#ethnographySubFive
{
    top: 165vh;
}

#ethnographySubSix
{
    top: 205vh;
}

#ethnographySubSeven
{
    top: 500vh;  
}

#ethnographySubEight
{
    top: 365vh;  
}

#ethnographySubNine
{
    top: 325vh;
}

#doingsTitle
{
    top: 2%;
}

#ethnoOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#ethnoTwo
{
    position: relative;
    top: -15%;
    left: 7.5%;
}

#enthoThree
{
    position: relative;
    top: 23%;
    left: -32.9%;
}

#ethnoFour
{
    position: relative;
    top: -23%;
    left: 34.7%;
}

#ethnoFive
{
    position: relative;
    top: 30%;
    left: 7.5%;
}

#ethnoSix
{
    position: relative;
    top: -7%;
    left: 34.7%;    
}

#ethnoSeven
{
    position: relative;
    top: 26.5%;
    left: 7.5%;
}

#ethnoEight
{
    position: relative;
    top: -21%;
    left: 34.7%;
}

#ethnoNine
{
    position: relative;
    top: -42%;
    left: 34.7%;
}

#ethnoTen 
{
    position: relative;
    top: -55%;
    left: 7.7%;
    width: 36vw;
    z-index: -5;
}

#ethnoEleven
{
    position: relative;
    top: 17.5%;
    left: 34.7%;
}

#ethnoTwelve
{
    position: relative;
    top: 3%;
    left: -32.9%;
    z-index: -5;
}

#ethnoThirteen
{
    position: relative;
    top: -15%;
    left: 17.7%;
    z-index: -5;
}

#ethnoFourteen
{
    position: relative;
    top: 6%;
    left: 34.7%;
    z-index: -5;
}

#ethnoFifteen
{
    position: relative;
    top: 7%;
    left: -32.9%;
    z-index: -5;
}

#ethnoSixteen
{
    position: relative;
    top: -34%;
    left: 1.1%;
    z-index: -5;
}

#EthnoGridOne
{
    position: relative;
    top: 11%;
    left: -43.25%;
}

#EthnoGridTwo
{
    position: relative;
    top: -20%;
    left: -16.4%;
}

#EthnoGridThree
{
    position: relative;
    top: -55%;
    left: -43.25%;
}

#EthnoGridFour
{
    position: relative;
    top: -104%;
    left: -16.4%;
    z-index: -6;
}

#EthnoGridFive
{
    position: relative;
    top: -85%;
    left: -43.25%;
}

#EthnoGridSix
{
    position: relative;
    top: -47%;
    left: -43.35%;
}

#EthnoGridSeven
{
    position: relative;
    top: -20%;
    left: -43.2%;
}

#EthnoGridEight
{
    position: relative;
    top: -75%;
    left: -16.3%;
}

#EthnoGridNine
{
    position: relative;
    top: -6%;
    left: -43.3%;
}

#EthnoGridTen
{
    position: relative;
    top: 30%;
    left: -44.7%;
}

#EthnoGridEleven
{
    position: relative;
    top: -54.7%;
    left: -16.4%;
}

#EthnoGridTwelve
{
    position: relative;
    top: -8.7%;
    left: -43.25%;
}

#EthnoGridThirteen
{
    position: relative;
    top: 10.3%;
    left: -32.6%;
}

.copyTextEthnoOne
{
    position: relative;
    top: -7%;
    left: 8.3%;
    width: 15%;
}

.copyTextEthnoTwo
{
    position: relative;
    top: -23%;
    left: 35.3%;
    width: 26%;
}

.copyTextEthnoThree
{
    position: relative;
    top: 1%;
    left: 8.3%;
    width: 17%;
}

.copyTextEthnoFour
{
    position: relative;
    top: -43%;
    left: 35.3%;
    width: 26%;
}

.ethnoTextCopyFive
{
    position: relative;
    top: 80%;
    left: 35.3%;
}

.ethnoTextCopySix
{
    position: relative;
    top: -9%;
    left: 35.3%;
}

.copyTextEthnoSeven
{
    position: relative;
    top: -40%;
    left: 35.3%;
}

.copyTextEthnoEight
{
    position: relative;
    top: 23%;
    left: 8.3%;
    width: 17%;
}

.copyTextEthnoNine
{
    position: relative;
    top: 23%;
    left: 8.3%;
    width: 17%;
}

.copyTextEthnoTen
{
    position: relative;
    top: 10%;
    left: 8.3%;
    width: 17%;
}

#EthnoVideoOne
{
    position: relative;
    left: -32.9%;
    top: -25%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -5;
}

#EthnoVideoTwo
{
    position: relative;
    left: -32.9%;
    top: -5%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -5;
}

#EthnoVideoFive
{
    position: relative;
    top: 0%;
    width: 25vw;
    height: 25vh;
    z-index: -5;
    left: 3%;
}

#EthnoVideoSix
{
    position: relative;
    left: -32.8%;
    top: 15%;
    width: 52vw;
    height: 52vh;
    z-index: -5;
}

#EthnoVideoSeven
{
    position: relative;
    left: 3.3%;
    top: 8%;
    width: 25vw;
    height: 25vh;
    z-index: -5;
}

#EthnoVideoEight
{
    position: relative;
    left: 3.2%;
    top: 0%;
    width: 25vw;
    height: 25vh;
    z-index: -5;
}

#EthnoVideoNine
{
    position: relative;
    left: -32.5%;
    top: 18%;
    width: 62vw;
    height: 62vh;
    z-index: -5;
}

#EthnoVideoTen
{
    position: relative;
    top: 10%;
    left: 3.4%;
    overflow: hidden;
    width: 23.5vw;
    height: 27.5vh;
    z-index: 5;
}

#EthnoVideoEleven
{
    position: relative;
    top: -43.2%;
    left: 1.75%;
    overflow: hidden;
    width: 46vw;
    height: 55.5vh;
    z-index: -5;
}

#EthnoVideoTwelve
{
    position: relative;
    top: -70%;
    left: 35.35%;
    overflow: hidden;
    width: 23.5vw;
    height: 27.5vh;
    z-index: 5;
}

.endlineEthnography
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 1px solid black;
}

#ethnoImageDescriptionOne
{
    position: relative;
    top: 5%;
    left: 35.3%;
}

#ethnoImageDescriptionTwo
{
    position: relative;
    top: 10%;
    left: 35.3%;
}

#ethnoImageDescriptionThree
{
    position: relative;
    top: 8%;
    left: 35.25%;
}

.endlineEthnographyTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 7%;
    left: 0%;
    border-bottom: 2px dotted black;
}

.endlineEthnographyThree
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 7%;
    left: 0%;
    border-bottom: 2px dotted black;
}


#gridImageMiddleEthno
{
    width: 23.5vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

#gridImageSmallEthno
{
    width: 14vw;
    margin-left: 20px;
    margin-right: 3px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

@media (max-width: 1299px) 
{

    #ethnographySubTwo 
    {
        top: -25vh;
    }

    #ethnographySubThree 
    {
        top: 7vh;
    }

    #ethnographySubFour 
    {
        top: 195vh;
    }

    #ethnographySubFive 
    {
        top: 335vh;
    }

    #ethnographySubSix 
    {
        top: 390vh;
    }

    #ethnographySubEight 
    {
        top: 615vh;
    }

    #ethnographySubNine 
    {
        top: 585vh;
    }

    #EthnoGridOne 
    {
        top: 11%;
        left: -44.05%;
    }

    #EthnoGridThree 
    {
        top: -65%;
        left: -44.25%;
    }

    #EthnoGridFour 
    {
        top: -125%;
        left: -17.1%;
    }

    #EthnoGridFive 
    {
        top: -125%;
        left: -44.1%;
    }

    #EthnoGridSix 
    {
        top: -55%;
        left: -44.1%;
    }

    #EthnoGridSeven 
    {
        top: -57%;
        left: -44.2%;
    }

    #EthnoGridEight 
    {
        top: -124%;
        left: -17.3%;
    }

    #EthnoGridNine 
    {
        top: -6%;
        left: -44.1%;
    }

    #EthnoGridThirteen 
    {
        top: 10.3%;
        left: -32.4%;
    }


    #EthnoGridTwelve 
    {
        position: relative;
        top: -8.7%;
        left: -44.25%;
    }

    .copyTextEthnoTwo 
    {
        top: -28%;
        left: 35.3%;
    }

    .copyTextEthnoFour 
    {
        top: -50%;
        left: 35.3%;
    }

    .ethnoTextCopyFive 
    {
        top: 90%;
        left: 35.3%;
    }

    .copyTextEthnoSeven 
    {
        top: -47%;
        left: 35.3%;
    }

    .copyTextEthnoEight 
    {
        top: 29%;
        left: 8.3%;
    }

    .copyTextEthnoNine 
    {
        top: 30%;
        left: 8.3%;
    }

    #enthoThree 
    {
        top: 29%;
        left: -32.9%;
    }

    #ethnoFour 
    {
        top: -27%;
        left: 34.5%;
    }

    #ethnoFive 
    {
        top: 44%;
        left: 7.5%;
    }

    #ethnoSix 
    {
        top: -7%;
        left: 34.5%;
    }

    #ethnoEight 
    {
        top: -28%;
        left: 34.5%;
    }

    #ethnoNine 
    {
        top: -48%;
        left: 34.5%;
    }

    #ethnoTen 
    {
        top: -66%;
        left: 0.9%;
        width: 42vw;
    }

    #ethnoEleven 
    {
        top: 17.5%;
        left: 34.5%;
    }

    #ethnoThirteen 
    {
        top: -15%;
        left: -33%;
    }

    #ethnoFourteen 
    {
        top: 7.2%;
        left: 34.5%;
    }
    
    #ethnoFifteen 
    {
        top: 9%;
        left: -32.9%;
    }


    #ethnoSixteen 
    {
        top: -42%;
        left: -42.8%;
    }

    #EthnoVideoOne 
    {
        left: -32.9%;
        top: -32%;
    }

    #EthnoVideoTen 
    {
        top: 10%;
        left: 5%;
    }

    #EthnoVideoEleven 
    {
        top: -51%;
        left: 1.75%;
    }

    #EthnoVideoTwelve 
    {
        top: -77%;
        left: 35.35%;
    }

    #EthnoVideoNine 
    {
        left: -32.5%;
        top: 23%;
    }

    #gridImageSmallEthno 
    {
        margin-left: 5px;
        margin-right: 3px;
    }

    #ethnoImageDescriptionThree 
    {
        top: 10%;
        left: 35.25%;
        padding-bottom: 5vh;
    }

}

@media (min-width: 1300px) and (max-width: 1399px) 
{

    #ethnographySubOne
    {
        top: -5vh;
    }

    #ethnographySubTwo 
    {
        top: -62vh;
    }

    #ethnographySubThree 
    {
        top: -62vh;
    }

    #ethnographySubFour 
        {
        top: 45vh;
    }
    #ethnographySubFive 
    {
        top: 150vh;
    }

    #ethnographySubSix 
    {
        top: 175vh;
    }

    #ethnographySubEight 
    {
        top: 325vh;
    }

    #ethnographySubNine 
    {
        top: 285vh;
    }

    #enthoThree 
    {
        top: 27%;
        left: -32.9%;
    }

    #ethnoFour 
    {
        top: -16%;
        left: 34.5%;    
    }    

    #ethnoFive
    {
        top: 43%;
        left: 7.6%;
    }

    #ethnoSix 
    {
        top: -6%;
        left: 34.6%;
    }

    #ethnoEight 
    {
        top: -15%;
        left: 34.5%;
    }

    #ethnoEleven 
    {
        top: 17.5%;
        left: 34.6%;
    }
    
    #ethnoTwelve 
    {
        top: 7%;
        left: -32.9%;
    }    

    #ethnoThirteen 
    {
        top: -6%;
        left: -33%;
    }

    #ethnoSixteen 
    {
        top: -30%;
        left: -49.3%;
    }

    #EthnoGridOne 
    {
        top: 15%;
        left: -44%;
    }

    #EthnoGridTwelve 
    {
        top: -5.5%;
        left: -43.8%;
    }

    #EthnoGridThree 
    {
        top: -55%;
        left: -43.8%;
    }

    #EthnoGridFour 
    {
        top: -104%;
        left: -17%;
    }

    #EthnoGridFive
    {
        top: -99%;
        left: -44%;
    }

    #EthnoGridSix 
    {
        top: -47%;
        left: -43.8%;
    }

    #EthnoGridSeven 
    {
        top: -42%;
        left: -44%;
    }

    #EthnoGridEight 
    {
        top: -99%;
        left: -17%;
    }

    #EthnoGridNine 
    {
        top: -6%;
        left: -43.9%;
    }

    #EthnoGridThirteen 
    {
        top: 10.3%;
        left: -32.5%;
    }

    .copyTextEthnoTwo 
    {
        top: -19%;
        left: 35.3%;
    }

    .copyTextEthnoThree 
    {
        top: 6%;
        left: 8.3%;
    }

    .ethnoTextCopyFive 
    {
        top: 83%;
        left: 35.3%;
    }

    .copyTextEthnoOne 
    {
        top: -1%;
        left: 8.3%;
    }

    .copyTextGroundWaterTwo 
    {
        top: 25%;
        left: 8.3%;
    }

    .copyTextEthnoFour 
    {
        top: -41%;
        left: 35.3%;
    }

    .copyTextEthnoSeven 
    {
        top: -34%;
        left: 35.3%;
    }

    .copyTextEthnoEight 
    {
        top: 26%;
        left: 8.3%;
    }
    
    .copyTextEthnoNine 
    {
        position: relative;
        top: 28%;
        left: 8.3%;
        width: 17%;
    }

    #ethnoNine 
    {
        top: -42%;
        left: 34.5%;
    }

    #ethnoFourteen 
    {
        top: 10.5%;
        left: 34.5%;
    }

    #ethnoFifteen 
    {
        top: 12%;
        left: -32.9%;
    }

    #EthnoVideoOne 
    {
        left: -32.9%;
        top: -21%;
    }

    #EthnoVideoTen 
    {
        top: 10%;
        left: 4.5%;
    }

    #EthnoVideoNine 
    {
        left: -32.5%;
        top: 22%;
    }

    #gridImageSmallEthno 
    {
        width: 14vw;
        margin-left: 6px;
        margin-right: 3px;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) 
{
    #ethnographySubTwo 
    {
        top: -43vh;
    }

    #ethnographySubFour {
        top: 89vh;
    }

    #ethnographySubFive {
        top: 182vh;
    }

    #ethnographySubSix {
        top: 221vh;
    }

    #ethnographySubEight {
        top: 391vh;
    }

    #ethnographySubNine {
        top: 348vh;
    }

    #enthoThree 
    {
        top: 24%;
        left: -32.9%;
    }

    #ethnoFour 
    {
        top: -22.5%;
        left: 34.6%;
    }

    #ethnoSix 
    {
        top: -6%;
        left: 34.7%;
    }

    #ethnoEight 
    {
        top: -21%;
        left: 34.6%;
    }

    #ethnoNine 
    {
        top: -42%;
        left: 34.6%;
    }

    #ethnoEleven 
    {
        top: 17.5%;
        left: 34.6%;
    }

    #ethnoFourteen 
    {
        top: 7%;
        left: 34.7%;
    }

    #ethnoFifteen 
    {
        top: 8%;
        left: -32.9%;
    }

    #ethnoSixteen 
    {
        top: -33%;
        left: 1.1%;
    }

    #EthnoGridOne 
    {
        top: 11%;
        left: -43.7%;
    }

    #EthnoGridThree 
    {
        top: -55%;
        left: -43.8%;
    }

    #EthnoGridFour 
    {
        top: -104%;
        left: -16.85%;
    }

    #EthnoGridFive 
    {
        top: -85%;
        left: -43.8%;
    }

    #EthnoGridSix 
    {
        top: -47%;
        left: -43.8%;
    }

    #EthnoGridSeven 
    {
        top: -20%;
        left: -43.8%;
    }

    #EthnoGridEight
    {
        top: -75%;
        left: -16.85%;
    }

    #EthnoGridNine
    {
        top: -6%;
        left: -43.8%;
    }

    #EthnoGridTwelve 
    {
        top: -8.7%;
        left: -43.7%;
    }

    #EthnoGridThirteen 
    {
        top: 10.3%;
        left: -32.2%;
    }

    .copyTextEthnoOne 
    {
        top: -5%;
        left: 8.3%;
    }

    .copyTextEthnoTen 
    {
        top: 11%;
        left: 8.3%;
    }

    .copyTextEthnoEight 
    {
        top: 25%;
        left: 8.3%;
    }

    #EthnoVideoTen 
    {
        top: 10%;
        left: 4.5%;
    }

    #gridImageSmallEthno 
    {
        margin-left: 10px;
    }

    #ethnoImageDescriptionThree 
    {
        top: 10%;
        left: 35.25%;
        padding-bottom: 5vh;
    }

    
}

@media (min-width: 1500px) and (max-width: 1599px) 
{
    #ethnographySubTwo {
        top: -31vh;
    }

    #ethnographySubThree {
        top: 1.6vh;
    }

    #ethnographySubFour {
        top: 182vh;
    }

    #ethnographySubFive {
        top: 321vh;
    }

    #ethnographySubSix {
        top: 374vh;
    }

    #ethnographySubEight {
        top: 586vh;
    }

    #ethnographySubNine {
        top: 550vh;
    }

    #enthoThree {
        top: 26%;
    }
    
    #ethnoEight {
        top: -21%;
        left: 34.6%;
    }

    #ethnoSix {
        top: -9%;
        left: 34.7%;
    }

    #ethnoNine {
        top: -42%;
        left: 34.65%;
    }

    #ethnoFour {
        top: -31.2%;
        left: 34.7%;
    }

    #EthnoGridNine {
        top: -6%;
        left: -43.65%;
    }

    #ethnoEleven {
        top: 17.5%;
        left: 34.65%;
    }

    #ethnoFifteen 
    {
        top: 8%;
        left: -32.9%;
    }

    #ethnoFive {
        top: 45%;
        left: 7.5%;
    }

    #ethnoFourteen {
        top: 6.8%;
        left: 34.7%;
    }

    #ethnoSixteen {
        top: -42%;
        left: 1.1%;
    }

    .copyTextEthnoTwo {
        top: -27%;
        left: 35.3%;
        width: 27%;
    }

    .copyTextEthnoNine {
        top: 28%;
        left: 8.3%;
    }

    .copyTextEthnoSeven {
        top: -45%;
        left: 35.3%;
    }
    
    #EthnoGridOne {
        top: 11%;
        left: -43.6%;
    }

    #EthnoGridTwelve {
        top: -8.7%;
        left: -43.6%;
    }

    #EthnoGridThree {
        top: -55%;
        left: -43.7%;
    }

    #EthnoGridFour {
        top: -104%;
        left: -16.75%;
    }

    #EthnoGridFive {
        top: -90%;
        left: -43.6%;
    }

    #EthnoGridSix {
        top: -60%;
        left: -43.65%;
    }

    #EthnoGridSeven {
        top: -24%;
        left: -43.65%;
    }

    #EthnoGridEight {
        top: -89.3%;
        left: -16.7%;
    }

    .copyTextEthnoThree {
        top: 2%;
        left: 8.3%;
        width: 17%;
    }

    .copyTextEthnoOne {
        top: -12%;
        left: 8.3%;
        width: 15%;
    }

    .copyTextEthnoEight {
        top: 27%;
        left: 8.3%;
    }

    .ethnoTextCopyFive {
        top: 86%;
        left: 35.3%;
    }    

    #EthnoVideoOne 
    {
        left: -32.9%;
        top: -34%;
    }
    
    #EthnoVideoTwo 
    {
        left: -32.9%;
        top: -8%;
    }

    #EthnoVideoTen 
    {
        top: 10%;
        left: 4.1%;
        height: 33.5vh;
    }

    #EthnoVideoEleven 
    {
        top: -55.2%;
        left: 1.75%;
    }

    #EthnoVideoTwelve 
    {
        top: -83%;
        left: 35.35%;
        height: 33.5vh;
    }

    #EthnoGridThirteen {
        top: 10.3%;
        left: -32.35%;
    }

    #gridImageSmallEthno {
        margin-left: 11px;
        margin-right: 3px;
    }

    #ethnoImageDescriptionThree {
        top: 10%;
        left: 35.25%;
        padding-bottom: 5vh;
    }
}