.ethnographyContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
}

#ethnographySubTwo
{
    top: -47vh;
}

#ethnographySubThree
{
    top: -40vh;
}

#ethnographySubFour
{
    top: 80vh;
}

#ethnographySubFive
{
    top: 140vh;
}

#ethnographySubSix
{
    top: -35vh;
}

#ethnographySubSeven
{
    top: 50vh;  
}

#ethnographySubEight
{
    top: 70vh;  
}

#ethnographySubNine
{
    top: 30vh;  
}


#ethnoOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#ethnoTwo
{
    position: relative;
    top: -15%;
    left: 7.5%;
}

#enthoThree
{
    position: relative;
    top: 23%;
    left: -32.9%;
}

#ethnoFour
{
    position: relative;
    top: -23%;
    left: 34.7%;
}

#ethnoFive
{
    position: relative;
    top: 15%;
    left: 7.5%;
}

#ethnoSix
{
    position: relative;
    top: 3.5%;
    left: 34.7%;
}

#ethnoSeven
{
    position: relative;
    top: 26.5%;
    left: 7.5%;
}

#ethnoEight
{
    position: relative;
    top: -21%;
    left: 34.7%;
}

#ethnoNine
{
    position: relative;
    top: -42%;
    left: 34.7%;
}

#ethnoTen 
{
    position: relative;
    top: -55%;
    left: 7.7%;
    width: 36vw;
    z-index: -5;
}

#ethnoEleven
{
    position: relative;
    top: 15%;
    left: 34.7%;
    z-index: 5;
}

#ethnoTwelve
{
    position: relative;
    top: 3%;
    left: -32.9%;
    z-index: -5;
}

#ethnoThirteen
{
    position: relative;
    top: 3%;
    left: -32.9%;
    z-index: -5;
}

#EthnoGridOne
{
    position: relative;
    top: 11%;
    left: -43.25%;
}

#EthnoGridTwo
{
    position: relative;
    top: -20%;
    left: -16.4%;
}

#EthnoGridThree
{
    position: relative;
    top: -55%;
    left: -43.25%;
}

#EthnoGridFour
{
    position: relative;
    top: -104%;
    left: -16.4%;
    z-index: -6;
}

#EthnoGridFive
{
    position: relative;
    top: -85%;
    left: -43.25%;
}

#EthnoGridSix
{
    position: relative;
    top: 28%;
    left: -44.7%;
}

#EthnoGridSeven
{
    position: relative;
    top: -20%;
    left: -16.4%;
}

#EthnoGridEight
{
    position: relative;
    top: 0%;
    left: -44.7%;
}

#EthnoGridNine
{
    position: relative;
    top: -80%;
    left: -16.4%;
}

#EthnoGridTen
{
    position: relative;
    top: 30%;
    left: -44.7%;
}

#EthnoGridEleven
{
    position: relative;
    top: -54.7%;
    left: -16.4%;
}

#EthnoGridTwelve
{
    position: relative;
    top: -8.7%;
    left: -43.25%;
}

.copyTextEthnoOne
{
    position: relative;
    top: -7%;
    left: 8.3%;
    width: 15%;
}

.copyTextEthnoTwo
{
    position: relative;
    top: -23%;
    left: 35.3%;
    width: 26%;
}

.copyTextEthnoThree
{
    position: relative;
    top: 3%;
    left: 8.3%;
    width: 17%;
}

.copyTextEthnoFour
{
    position: relative;
    top: -43%;
    left: 35.3%;
    width: 26%;
}

.ethnoTextCopyFive
{
    position: relative;
    top: 80%;
    left: 35.3%;
}

#EthnoVideoOne
{
    position: relative;
    left: -32.9%;
    top: -25%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -5;
}

#EthnoVideoTwo
{
    position: relative;
    left: 3.3%;
    top: 0%;
    width: 25vw;
    height: 25vh;
    z-index: -5;
}

#EthnoVideoThree
{
    position: relative;
    left: -5.8%;
    top: 0%;
    width: 52vw;
    height: 52vh;
    z-index: -5;
}

#EthnoVideoFour
{
    position: relative;
    left: -66.5%;
    top: 10%;
    width: 25vw;
    height: 25vh;
    z-index: -5;
}

#EthnoVideoFive
{
    position: relative;
    top: 0%;
    width: 25vw;
    height: 25vh;
    z-index: -5;
    left: 3%;
}

#EthnoVideoSix
{
    position: relative;
    left: -32.8%;
    top: 15%;
    width: 52vw;
    height: 52vh;
    z-index: -5;
}

#EthnoVideoSeven
{
    position: relative;
    left: 3.3%;
    top: 8%;
    width: 25vw;
    height: 25vh;
    z-index: -5;
}

#EthnoVideoEight
{
    position: relative;
    left: 3.2%;
    top: 0%;
    width: 25vw;
    height: 25vh;
    z-index: -5;
}

#EthnoVideoNine
{
    position: relative;
    left: -32.5%;
    top: 18%;
    width: 62vw;
    height: 62vh;
    z-index: -5;
}

.endlineEthnography
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 1px solid black;
}

.referenceBlockEthno
{
    width: 102%;
    height: 6%;
    position: absolute;
    top: 8%;
    left: 35.2%;
}

.referencesEthno
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}

#gridImageMiddleEthno
{
    width: 23.5vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}