.groundwaterContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    height: 200vh;
    z-index: 10;
}

#groundwaterSubTwo
{
    top: -60vh;
}

#groundwaterSubThree
{
    top: -90vh;
}

#groundwaterSubFour
{
    top: -45vh;
}

#groundwaterSubFive
{
    top: -45vh;
}

#groundwaterSubSix
{
    top: -80vh;
}

#groundwaterSubSeven
{
    top: -140vh;
}

#groundwaterSubEight
{
    top: -140vh;
    height: 40vh;
}

#groundwaterOne
{
    position: relative;
    top: 18%;
    left: -32%;
    width: 63vw;
    z-index: -5;
}

#groundwaterTwo
{
    position: relative;
    top: 42%;
    left: 34.7%;
}

#groundwaterThree
{
    position: relative;
    top: 40%;
    left: -33%;
}

#groundwaterFour
{
    position: relative;
    top: 10%;
    left: 34.7%;
}

#groundwaterFive
{
    position: relative;
    top: 22%;
    left: 1.1%;
}

#groundwaterSix
{
    position: relative;
    top: 20%;
    left: -29.7%;
    z-index: -5;
}

#imagewaterThree
{
    position: relative;
    top: 25%;
    left: 7.5%;
}

#groundwaterGridOne
{
    position: relative;
    top: -30%;
    left: -50%;
}

#groundwaterGridTwo
{
    position: relative;
    top: 3%;
    left: -16.3%;
}

#groundwaterGridThree
{
    position: relative;
    top: -48%;
    left: -43.2%;
}

#groundwaterGridFour
{
    position: relative;
    top: 28%;
    left: -43.2%;
}

#groundwaterGridFive
{
    position: relative;
    top: -30%;
    left: -16.4%;
}

#groundwaterGridSix
{
    position: relative;
    top: 8%;
    left: 6.3%;
    z-index: 6;
}

#groundwaterGridSeven
{
    position: relative;
    top: -60%;
    left: -43.2%;;
}

.copyTextGroundWaterOne
{
    position: relative;
    top: 2%;
    width: 22%;
}

.copyTextGroundWaterTwo
{
    position: relative;
    top: 25%;
    left: 8.3%;
    width: 22%;
}

.copyTextGroundWaterThree
{
    position: relative;
    top: -26%;
    left: 35.4%;
    width: 22%;
}

#groundwaterImageDescriptionOne
{
    position: relative;
    top: -27%;
    left: 8.3%;
    width: 14%;
}

#groundwaterImageDescriptionTwo
{
    position: relative;
    top: 5%;
    left: 35.5%;
    width: 14%;
}

#groundwaterImageDescriptionThree
{
    position: relative;
    top: -45%;
    left: 8.3%;
    width: 14%;
}

#groundwaterImageDescriptionFour
{
    position: relative;
    top: 30%;
    left: 8.3%;
    width: 14%;
}

#groundwaterImageDescriptionFive
{
    position: relative;
    top: 4%;
    left: 8.3%;
    width: 14%;
}

#groundwaterImageDescriptionSix
{
    position: relative;
    top: 4%;
    left: 8.3%;
    width: 23%;
}

#groundwaterImageDescriptionSeven
{

    position: relative;
    top: 7%;
    left: 8.3%;
    width: 21%;
}

.endlineGroundWater
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineGroundWaterTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 5%;
    left: 0%;
    border-bottom: 2px dotted black;
}

.endlineGroundWaterThree
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 40%;
    left: 0%;
    border-bottom: 2px solid black;
}


#referenceBlockGroundwater
{
    width: 85%;
    height: 8%;
    position: absolute;
    top: 8%;
    left: 8%;
}

#referenceBlockGroundwaterTwo
{
    width: 85%;
    height: 8%;
    position: absolute;
    top: 30%;
    left: 8%;
}

.referencesGroundWater
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}

#groundwaterGridImage
{
    width: 23.5vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

@media(max-width: 1299px) 
{

    #groundwaterSubTwo 
    {
        top: -35vh;
    }

    #groundwaterSubThree 
    {
        top: -40vh;
    }

    #groundwaterSubFour 
    {
        top: 28vh;
    }

    #groundwaterSubFive 
    {
        top: 60vh;
    }

    #groundwaterSubSix 
    {
        top: 55vh;
    }

    #groundwaterSubSeven 
    {
        top: 15vh;
    }

    #groundwaterSubEight 
    {
        top: 46vh;
        height: 40vh;
    }

    #groundwaterOne 
    {
        top: 22%;
    }

    #groundwaterTwo 
    {
        top: 52%;
        left: 34.45%;
    }

    #imagewaterThree 
    {
        top: 25%;
        left: 7.6%;
        width: 25.2vw;
    }

    #groundwaterFour 
    {
        top: -19%;
        left: 34.7%;
    }

    #groundwaterFive 
    {
        top: 30%;
        left: 0.9%;
    }

    #imagewaterThree 
    {
        top: 27%;
        left: 7.5%;
    }

    #groundwaterSix 
    {
        top: 31%;
        left: -32.7%;
    }

    .copyTextGroundWaterOne 
    {
        top: 7%;
    }

    .copyTextGroundWaterTwo 
    {
        top: 30%;
        left: 8.3%;
    }

    .copyTextGroundWaterThree 
    {
        top: -35%;
        left: 35.4%;
    }

    #groundwaterImageDescriptionFour 
    {
        top: 48%;
        left: 8.3%;
    }

    #groundwaterImageDescriptionFive 
    {
        top: -27%;
        left: 8.3%;
    }

    #groundwaterImageDescriptionSix 
    {
        top: 5%;
        left: 8.3%;
    }

    #groundwaterImageDescriptionSeven 
    {
        top: 7%;
        left: 8.3%;
        padding-bottom: 5vh;
    }

    #groundwaterGridOne 
    {
        top: -30%;
        left: -50.4%;
    }

    #groundwaterGridTwo 
    {
        top: 3.4%;
        left: -17.1%;
    }

    #groundwaterGridThree 
    {
        top: -63%;
        left: -44.1%;
    }

    #groundwaterGridFour 
    {
        top: 46%;
        left: -44.1%;
    }

    #groundwaterGridFive 
    {
        top: -36%;
        left: -17.1%;
    }

    #groundwaterGridSix 
    {
        top: 32%;
        left: -44.1%;
    }

    #groundwaterGridSeven 
    {
        top: -60%;
        left: -44.2%;
    }

    #groundwaterImageDescriptionTwo 
    {
        top: 3%;
        left: 35.3%;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) 
{
    #groundwaterSubOne
    {
        top: -5vh;
    }

    #groundwaterSubTwo 
    {
        top: -78vh;
    }

    #groundwaterSubThree 
    {
        top: -125vh;
    }

    #groundwaterSubFour 
    {
        top: -98vh;
    }

    #groundwaterSubFive 
    {
        top: -120vh;
    }

    #groundwaterSubSix
    {
        top: -157vh;
    }

    #groundwaterSubSeven 
    {
        top: -215vh;
    }

    #groundwaterSubEight 
    {
        top: -224vh;
        height: 35vh;
    }

    #groundwaterGridOne 
    {
        top: -26%;
        left: -50.2%;
    }

    #groundwaterGridThree 
    {
        top: -53%;
        left: -43.9%;
    }

    #groundwaterGridFour 
    {
        top: 28%;
        left: -44%;
    }

    #groundwaterGridFive 
    {
        top: -32%;
        left: -17%;
    }

    #groundwaterGridTwo 
    {
        top: 6%;
        left: -17%;
    }

    #groundwaterGridSix 
    {
        top: 30%;
        left: -43.9%;
    }

    #groundwaterGridSeven
    {
        top: -54%;
        left: -44%;
    }

    #groundwaterImageDescriptionOne 
    {
        top: -24%;
        left: 8.3%;
    }

    #groundwaterImageDescriptionTwo 
    {
        top: 7%;
        left: 35.2%;
    }

    #groundwaterImageDescriptionThree 
    {
        top: -52%;
        left: 8.3%;
    }

    #groundwaterImageDescriptionFour 
    {
        top: 29.5%;
        left: 8.3%;
    }

    #groundwaterImageDescriptionFive 
    {
        top: -21.8%;
        left: 8.3%;
    }

    .copyTextGroundWaterThree 
    {
        top: -31%;
        left: 35.4%;
    }

    #groundwaterTwo 
    {
        top: 34%;
        left: 34.5%;
        z-index: -5;
    }

    #imagewaterThree 
    {
        top: 25%;
        left: 7.7%;
    }

    #groundwaterThree 
    {
        top: 2%;
        left: -33%;
    }

    #groundwaterFour 
    {
        top: -13%;
        left: 34.6%;
    }

    #groundwaterFive 
    {
        top: 27%;
        left: 0.9%;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) 
{
    .copyTextGroundWaterFour
    {
        position: relative;
        top: 18%;
    }

    #groundwaterSubTwo 
    {
        top: -44.5vh;
    }

    #groundwaterSubThree 
    {
        top: -87vh;
    }

    #groundwaterSubFour 
    {
        top: -38vh;
    }

    #groundwaterSubFive 
    {
        top: -52vh;
    }

    #groundwaterSubSix 
    {
        top: -87vh;
    }

    #groundwaterSubSeven 
    {
        top: -146vh;
    }

    #groundwaterSubEight 
    {
        top: -145vh;
        height: 40vh;
    }

    .copyTextGroundWaterFive
    {
        position: relative;
        top: 18%;
    }

    .copyTextGroundWaterSix
    {
        top: 18.5%;
    }

    .copyTextGroundWaterTwo 
    {
        top: 28%;
        left: 8.3%;
    }

    .copyTextGroundWaterThree 
    {
        top: -35%;
        left: 35.4%;
    }

    #groundwaterTwo 
    {
        top: 9%;
        left: 34%;
        z-index: -5;
    }

    #groundwaterFour 
    {
        top: 10%;
        left: 34.6%;
    }

    #groundwaterFive 
    {
        top: 25%;
        left: 1.1%;
    }

    #groundwaterGridOne 
    {
        top: -60%;
        left: -50.2%;
        z-index: -5;
    }

    #groundwaterGridTwo 
    {
        top: 3%;
        left: -16.9%;
    }   
    
    #groundwaterGridFour 
    {
        top: 28%;
        left: -43.9%;
    }

    #groundwaterGridFive 
    {
        top: -36.5%;
        left: -16.8%;
    }

    #groundwaterGridSix 
    {
        top: 7%;
        left: 6.2%;
    }

    #groundwaterGridThree 
    {
        top: -50%;
        left: -43.8%;
    }

    #groundwaterGridSeven 
    {
        top: -60%;
        left: -43.8%;
    }

    #groundwaterImageDescriptionOne 
    {
        top: -57%;
        left: 8.3%;
    }

    #groundwaterImageDescriptionTwo 
    {
        top: 5%;
        left: 35.3%;
    }

    #groundwaterImageDescriptionThree 
    {
        top: -48%;
        left: 8.3%;
    }

    #groundwaterImageDescriptionFive 
    {
        top: 1%;
        left: 8.3%;
    }
}