.fishContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
}

#fishSubTwo
{
    top: -5vh;
}

#fishSubThree
{
    top: -35vh;
}

#fishSubFour
{
    top: 85vh;
}

#fishSubFive
{
    top: 225vh;
}

#fishSubSix
{
    top: 260vh;
}

#fishSubSeven
{
    top: 302vh;
}

#fishSubEight
{
    top: 286vh;
}

#fishOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#fishTwo
{
    position: relative;
    left: -0.7%;
    top: 6%;
    width: 41vw;
}

#fishThree
{
    position: relative;
    left: -32.9%;
    top: 27%;
}

#fishFour
{
    position: relative;
    left: -32.9%;
    top: -10%;
}

#fishFive
{
    position: relative;
    left: -32.9%;
    top: 33%;
    z-index: -5;
}

#fishSix
{
    position: relative;
    left: -32.9%;
    top: 15%;
    z-index: -5;
}

#fishSeven
{
    position: relative;
    left: -32.9%;
    top: 31%;
    z-index: -5;
}

.fishCopyTextOne
{
    position: relative;
    top: -27%;
}

.fishQuoteOne
{
    position: relative;
    top: 25%;
    left: 8.3%;
    width: 17%;
}

#fishImageDescriptionOne
{
    position: relative;
    top: -15%;
    left: 35.3%;
    width: 14%;
}

#fishImageDescriptionTwo
{
    position: relative;
    top: 22%;
    left: 35.3%;
    width: 11%;
}

#fishImageDescriptionThree
{
    position: relative;
    top: 27%;
    left: 8.3%;
    width: 14%;
}

#fishImageDescriptionFour
{
    position: relative;
    top: -15%;
    left: 8.3%;
    width: 11%;
}

#fishImageDescriptionFive
{
    position: relative;
    top: 14%;
    left: 8.3%;
    width: 14%;
}

#fishImageDescriptionSix
{
    position: relative;
    top: -6%;
    left: 8.3%;
    width: 13%;
}

#fishImageDescriptionSeven
{
    position: relative;
    top: 12%;
    left: 8.3%;
    width: 13%;
}

#fishImageDescriptionEight
{
    position: relative;
    top: 15%;
    left: 8.3%;
    width: 13%;
}

#fishImageDescriptionNine
{
    position: relative;
    top: 7%;
    left: 35.3%;
    width: 13%;
}

#fishImageDescriptionTen
{
    position: relative;
    top: -17%;
    left: 35.3%;
    width: 13%;
}

#fishImageDescriptionEleven
{
    position: relative;
    top: -1%;
    left: 35.3%;
    width: 13%;
}

#fishGridOne
{
    position: relative;
    top: 27%;
    left: -43.1%;
}

#fishGridTwo
{
    position: relative;
    top: -12.7%;
    left: -16.3%;
}

#fishGridThree
{
    position: relative;
    top: 20%;
    left: -38.9%;
}

#fishGridFour
{
    position: relative;
    top: 0%;
    left: -38.9%;
}

#fishGridFive
{
    position: relative;
    top: 25%;
    left: -38.9%;
}

#fishGridSix
{
    position: relative;
    top: 18%;
    left: -38.9%;
}

#fishGridSeven
{
    position: relative;
    top: 28%;
    left: -38.9%;
}

#fishGridEight
{
    position: relative;
    top: 21%;
    left: -38.9%;
}

#fishVideoOne
{
    width: 61.5vw;
    height: 61.5vh;
    position: relative;
    top: 32%;
    left: -32.9%;
}

#fishVideoTwo
{
    width: 61.5vw;
    height: 61.5vh;
    position: relative;
    top: 32%;
    left: -32.9%;
}

#fishVideoThree
{
    width: 61.5vw;
    height: 61.5vh;
    position: relative;
    top: 35%;
    left: -32.9%;
}

#fishVideoFour
{
    width: 61.5vw;
    height: 61.5vh;
    position: relative;
    top: 35%;
    left: -32.9%;
}

#fishVideoFive
{
    width: 30vw;
    height: 30vh;
    position: relative;
    top: 11%;
    left: -66.4%;
}

.endLineFish
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 5%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endLineFishTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 8%;
    left: 0%;
    border-bottom: 2px dotted black;    
}

.endLineFishThree
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: -3%;
    left: 0%;
    border-bottom: 2px dotted black
}