.londonContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
    height: 200vh;
}

#londonSubTwo
{
    top: -55vh;
}

#londonSubThree
{
    top: -120vh;
    z-index: 5;
}

#londonSubFour
{
    top: -140vh;
}

#londonSubFive
{
    top: -115vh;
    height: 40vh;
}

#londonOne
{
    position: relative;
    top: 0;
    left: -15%;
    z-index: -1;
    width: 120%;
}

#londonImageDescriptionOne
{
    position: relative;
    top: -5%;
    left: 35.5%;
    width: 12%;
}

#titleTwo
{
    position: relative;
    top: 80vh;
}

.titleThree 
{
    position: relative;
    top: 40vh;
}

#copyTwo
{
    position: relative;
    top: 71vh;
}

#londonLinks
{
    position: relative;
    top: 35vh;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonHeading
{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    padding: 0;
    margin: 0;
    position: relative;
    top: -1vh;
}

.londonReferences
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 105%;
    text-align: left;
}

.londonEventsContainerOne
{
    margin-bottom: 10vh;
    position: relative;
    top: 36vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0
}

.londonEventsContainerTwo
{
    margin-bottom: 10vh;
    position: relative;
    top: 41.5vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerThree
{
    margin-bottom: 10vh;
    position: relative;
    top: 44vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerFour
{
    margin-bottom: 10vh;
    position: relative;
    top: 56vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.copyLondon
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 96%;
}

.copyLondonTwo
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.copyLondonThree
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.copyLondonFour
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.containerOne
{
    position: relative;
    top: 5%;
}

#londonGridOne
{
    top: 21.5%;
    left: 5.3%;
}

.endlineLondon
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineLondonTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 7%;
    left: 0%;
    border-bottom: 2px dotted black;
}

#referenceBlockLondon
{
    position: relative;
    top: 5%;
    left: 35.5%;
    width: 100%;
    display: block;
}

.referencesLondon
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}

.referencesLondonTwo
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
    top: 10%;
    left: 35.3%;
}

@media (max-width: 1299px) 
{
    #londonSubTwo 
    {
        top: -38vh;
    }

    #londonSubThree 
    {
        top: -90vh;
        z-index: 5;
    }

    #londonSubFour 
    {
        top: -95vh;
    }

    #londonSubFive 
    {
        top: -35vh;
    }

    #titleTwo 
    {
        position: relative;
        top: 91vh;
    }

    #copyTwo 
    {
        position: relative;
        top: 80vh;
    }

    .londonHeading 
    {
        font-size: 22px;
        line-height: 25px;
    }

    #londonGridOne 
    {
        top: 27%;
        left: 5.5%;
    }

    .londonEventsContainerOne 
    {
        top: 44vh;
    }

    .londonEventsContainerTwo 
    {
        top: 48vh;
        left: 35.2%;
    }

    .londonEventsContainerThree 
    {
        top: 51vh;
        left: 35.2%;
    }

    .londonEventsContainerFour 
    {
        top: 63vh;
        left: 35.2%;
    }

    .londonReferences 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondon 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 9px;
        line-height: 12px;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) 
{

    #londonSubOne
    {
        top: -5vh;
    }

    #londonSubTwo 
    {
        top: -71vh;
    }

    #londonSubThree 
    {
        top: -148vh;
        z-index: 5;
    }

    #londonSubFour 
    {
        top: -191vh;
    }

    #londonSubFive 
    {
        top: -165vh;
        height: 15vh;
    }

    .londonHeading 
    {
        font-size: 22px;
        line-height: 25px;
    }

    #londonGridOne 
    {
        top: 26.5%;
        left: 4.6%;
    }

    .londonEventsContainerOne 
    {
        top: 44vh;
    }

    .londonEventsContainerTwo 
    {
        top: 52.5vh;
        left: 35.2%;
    }

    .londonEventsContainerThree 
    {
        top: 58.5vh;
        left: 35.2%;
    }

    .londonEventsContainerFour 
    {
        top: 71.5vh;
        left: 35.2%;
    }

    .londonReferences 
    {
        font-size: 10px;
        line-height: 12px;
    }

    .referencesLondon 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 9px;
        line-height: 12px;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) 
{
   .londonCopy
   {
       top: 17.5%;
       font-size: 22px;
       line-height: 25px;
   } 

   #londonSubThree 
   {
        top: -133vh;
        z-index: 5;
    }

    #londonSubFour 
    {
        top: -162vh;
    }

    #londonSubFive 
    {
        top: -131vh;
        height: 20vh;
    }

   .londonCopyOne
   {
       top: 18%;
   }

   #titleTwo 
    {
        top: 72vh;
    }

    #copyTwo 
    {
        top: 64vh;
    }

    .londonEventsContainerOne 
    {
        top: 38vh;
    }

    .londonEventsContainerTwo 
    {
        top: 45.2vh;
    }

    .londonEventsContainerThree 
    {
        top: 51.5vh;
    }

    .londonEventsContainerFour 
    {
        top: 65.1vh;
    }

    #londonGridOne 
    {
        top: 23%;
        left: 4.7%;
    }    

    .londonHeading 
    {
        font-size: 22px;
        line-height: 25px;
    }
    
    .londonReferences 
    {
        font-size: 10px;
        line-height: 12px;
    }

    .referencesLondon 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 9px;
        line-height: 12px;
    }
}

@media (min-width: 1500px) and (max-width: 1599px) 
{

    #londonSubThree {
        top: -99vh;
        z-index: 5;
    }

    #londonSubFour {
        top: -107vh;
    }

    #londonSubTwo {
        top: -45vh;
    }

    #londonSubFive {
        top: -64vh;
        height: 20vh;
    }

    #londonGridOne {
        top: 26.5%;
        left: 5.3%;
    }

    #titleTwo 
    {
        top: 89vh;
    }

    #copyTwo 
    {
        top: 80vh;
    }

    .londonHeading 
    {
        font-size: 25px;
        line-height: 28px;
        top: -1vh;
    }

    .londonEventsContainerOne 
    {
        top: 43vh;
        left: 35.2%;
    }

    .londonEventsContainerTwo 
    {
        top: 48.5vh;
        left: 35.2%;
    }

    .londonEventsContainerThree 
    {
        top: 49.5vh;
        left: 35.2%;
    }

    .londonEventsContainerFour 
    {
        top: 62vh;
        left: 35.2%;
    }

    .londonReferences {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondon {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo 
    {
        font-size: 9px;
        line-height: 12px;
        top: 18%;
    }
}