.londonContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
    height: 200vh;
}

#londonSubTwo
{
    top: -55vh;
}

#londonSubThree
{
    top: -120vh;
    z-index: 5;
}

#londonSubFour
{
    top: -140vh;
}

#londonSubFive
{
    top: -115vh;
    height: 40vh;
}

#londonOne
{
    position: relative;
    top: 0;
    left: -15%;
    z-index: -1;
    width: 120%;
}

#londonImageDescriptionOne
{
    position: relative;
    top: -5%;
    left: 35.5%;
    width: 12%;
}

#titleTwo
{
    position: relative;
    top: 80vh;
}

.titleThree 
{
    position: relative;
    top: 40vh;
}

#copyTwo
{
    position: relative;
    top: 71vh;
}

#londonLinks
{
    position: relative;
    top: 35vh;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonHeading
{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    padding: 0;
    margin: 0;
    position: relative;
    top: -1vh;
}

.londonReferences
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 105%;
    text-align: left;
}

.londonEventsContainerOne
{
    margin-bottom: 10vh;
    position: relative;
    top: 36vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0
}

.londonEventsContainerTwo
{
    margin-bottom: 10vh;
    position: relative;
    top: 41.5vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerThree
{
    margin-bottom: 10vh;
    position: relative;
    top: 44vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerFour
{
    margin-bottom: 10vh;
    position: relative;
    top: 56vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.copyLondon
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 96%;
}

.copyLondonTwo
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.copyLondonThree
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.copyLondonFour
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.containerOne
{
    position: relative;
    top: 5%;
}

#londonGridOne
{
    top: 21.5%;
    left: 5.3%;
}

.endlineLondon
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineLondonTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 7%;
    left: 0%;
    border-bottom: 2px dotted black;
}

#referenceBlockLondon
{
    position: relative;
    top: 5%;
    left: 35.5%;
    width: 100%;
    display: block;
}

.referencesLondon
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}

.referencesLondonTwo
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
    top: 10%;
    left: 35.3%;
}

/*-----------------------------Responsive Code Starts Here -----------------------------*/
/*--------------------------1000s----------------------------*/
/*Saxon's 1st breakpoint - 1024 x 600*/
@media (max-width: 1025px) and (max-height: 680px)
{
    #londonSubTwo {
        top: -345px;
    }

.londonCopy
{
    top: 18% !important;
}

#titleTwo {
    position: relative;
    top: 77vh;
}

#copyTwo {
    position: relative;
    top: 67vh;
}

#londonSubThree {
    top: -780px;
}
#londonSubFour {
    top: -1020px;
}
#londonGridOne {
    top: 25.5%;
    left: 5.3%;
}

.londonHeading {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}


.londonReferences {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 8px;
    line-height: 9px;
    width: 105%;
    text-align: left;
}

.londonContainer .copyText{
    font-size: 11px!important;
    line-height: 13px!important;
    top: 21%;
}
	.referencesLondon {
    font-size: 9px;
    line-height: 10px;
}
.referencesLondonTwo {
    font-size: 9px;
    line-height: 10px;
}   

.londonEventsContainerOne {
    margin-bottom: 10vh;
    position: relative;
    top: 42vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerTwo {
    margin-bottom: 10vh;
    position: relative;
    top: 45.5vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerThree {
    margin-bottom: 10vh;
    position: relative;
    top: 49vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerFour {
    margin-bottom: 10vh;
    position: relative;
    top: 58vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

#londonSubFive {
    top: -905px;
    height: 40vh;
}
	
}

/*------------ Tablet Responisve 1024 x 650 ---------------*/
@media (max-width: 1025px) and (min-height: 648px) 
and (max-height: 680px)
{
    #londonSubTwo {
        top: -400px;
    }

.londonCopy
{
    top: 16% !important;
}

#titleTwo {
    position: relative;
    top: 77vh;
}

#copyTwo {
    position: relative;
    top: 67vh;
}

#londonSubThree {
    top: -780px;
}
#londonSubFour {
    top: -1170px;
}
#londonGridOne {
    top: 21.5%;
    left: 2.3%;
}

.londonHeading {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}


.londonReferences {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 8px;
    line-height: 9px;
    width: 105%;
    text-align: left;
}

.londonContainer .copyText{
    font-size: 11px!important;
    line-height: 13px!important;
    top: 17%;
}

#londonLinks {
    top: 19vh;
}
	.referencesLondon {
    font-size: 9px;
    line-height: 10px;
}
.referencesLondonTwo {
    font-size: 9px;
    line-height: 10px;
}   

.londonEventsContainerOne {
    top: 36vh;
}

.londonEventsContainerTwo {
    top: 41.5vh;
}

.londonEventsContainerThree {
    top: 45vh;
}

.londonEventsContainerFour {
    top: 55vh;
}

#londonSubFive {
    top: -1120px;
    height: 40vh;
}
}

/*Saxon's 2nd breakpoint - 1024 x 768*/
@media (max-width: 1025px) and (min-height: 681px) and (max-height: 780px)
{
#londonSubTwo {
    top: -659.75px;
}

#titleTwo {
    position: relative;
    top: 69vh;
}

#copyTwo {
    position: relative;
    top: 61vh;
}


#londonSubThree {
    top: -1348.45px;
    z-index: 5;
}

#londonSubFour {
    top: -1865.6px;
}
#londonGridOne {
    top: 25.5%;
    left: 5.3%;
}

.londonHeading {
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}


.londonReferences {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 8px;
    line-height: 9px;
    width: 105%;
    text-align: left;
}

.londonContainer .copyText {
    font-size: 11px!important;
    line-height: 13px!important;
    top: 21%;
}

.londonEventsContainerOne {
    margin-bottom: 10vh;
    position: relative;
    top: 42vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerTwo {
    margin-bottom: 10vh;
    position: relative;
    top: 45.5vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerThree {
    margin-bottom: 10vh;
    position: relative;
    top: 49vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerFour {
    margin-bottom: 10vh;
    position: relative;
    top: 58vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

#londonSubFive {
    top: -1922.85px;
    height: 40vh;
}
.referencesLondon {
    font-size: 9px;
    line-height: 11px;
}
.referencesLondonTwo {
    font-size: 9px;
    line-height: 10px;
}

	
}


/*--------------------------1200s----------------------------*/
@media (min-width: 1026px) and (max-width: 1299px) {
    #londonSubTwo 
    {
        top: -38vh;
    }

    #londonSubThree 
    {
        top: -90vh;
        z-index: 5;
    }

    #londonSubFour 
    {
        top: -95vh;
    }

    #londonSubFive 
    {
        top: -35vh;
    }

    #titleTwo 
    {
        position: relative;
        top: 91vh;
    }

    #copyTwo 
    {
        position: relative;
        top: 80vh;
    }

    .londonHeading 
    {
        font-size: 22px;
        line-height: 25px;
    }

    #londonGridOne 
    {
        top: 27%;
        left: 5.5%;
    }

    .londonEventsContainerOne 
    {
        top: 44vh;
    }

    .londonEventsContainerTwo 
    {
        top: 48vh;
        left: 35.2%;
    }

    .londonEventsContainerThree 
    {
        top: 51vh;
        left: 35.2%;
    }

    .londonEventsContainerFour 
    {
        top: 63vh;
        left: 35.2%;
    }

    .londonReferences 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondon 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 9px;
        line-height: 12px;
    }
}

/* Saxon's 3rd breakpoint - 1280 x 689*/
@media (min-width: 1026px) and (max-width: 1299px) and (min-height: 680px) and (max-height: 766px)
{
	#londonSubTwo {
    top: -374.58px;
}

#copyTwo {
    position: relative;
    top: 66vh;
}

#titleTwo {
    position: relative;
    top: 76vh;
}

#londonSubThree {
    top: -894.95px;
    z-index: 5;
}

.titleThree {
    position: relative;
    top: 271.6px;
}

#londonSubFour {
    top: -1135.42px;
}

.londonEventsContainerFour {
    top: 61vh;
    left: 35.2%;
}

#londonSubFive {
    top: -939.65px;
}



	
}
/*Saxon's 4th breakpoint - 1280 x 768*/
@media (min-width: 1026px) and (max-width: 1299px) and (min-height: 767px) and (max-height: 798px)
{
	
	#londonSubTwo {
    top: -484.17px;
}

#copyTwo {
    position: relative;
    top: 60vh;
}


#titleTwo {
    position: relative;
    top: 68vh;
}


#londonSubThree {
    top: -1137.6px;
    z-index: 5;
}

#londonSubFour {
    top: -1463.05px;
}

#londonGridOne {
    top: 21%;
    left: 5.5%;
}

.londonEventsContainerOne {
    top: 35vh;
}

.londonEventsContainerTwo {
    top: 39vh;
    left: 35.2%;
}


.londonEventsContainerThree {
    top: 42vh;
    left: 35.2%;
}


.londonEventsContainerFour {
    top: 52vh;
    left: 35.2%;
}

#londonSubFive {
    top: -1370.65px;
}

	
	
	
}
@media (min-width: 1026px) and (max-width: 1299px) and (min-height: 799px) and (max-height: 801px)
{
    #londonSubTwo 
    {
        top: -515px;
    }

    #londonSubThree 
    {
        top: -1160px;
        z-index: 5;
    }

    #londonSubFour 
    {
        top: -1520px;
    }

    #londonSubFive 
    {
        top: -1400px;
    }

    #titleTwo 
    {
        position: relative;
        top: 560px;
    }

    #copyTwo 
    {
        position: relative;
        top: 496px;
        }

    .londonHeading 
    {
        font-size: 22px;
        line-height: 25px;
    }

    #londonGridOne 
    {
        top: 27%;
        left: 5.5%;
    }

    .londonEventsContainerOne 
    {
        top: 44vh;
    }

    .londonEventsContainerTwo 
    {
        top: 48vh;
        left: 35.2%;
    }

    .londonEventsContainerThree 
    {
        top: 51vh;
        left: 35.2%;
    }

    .londonEventsContainerFour 
    {
        top: 63vh;
        left: 35.2%;
    }

    .londonReferences 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondon 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 9px;
        line-height: 12px;
    }
}


/*--------------------------1300s----------------------------*/

@media (min-width: 1300px) and (max-width: 1399px) 
{

    #londonSubOne
    {
        top: -5vh;
    }

    #londonSubTwo 
    {
        top: -71vh;
    }

    #londonSubThree 
    {
        top: -148vh;
        z-index: 5;
    }

    #londonSubFour 
    {
        top: -191vh;
    }

    #londonSubFive 
    {
        top: -165vh;
        height: 15vh;
    }

    .londonHeading 
    {
        font-size: 22px;
        line-height: 25px;
    }

    #londonGridOne 
    {
        top: 26.5%;
        left: 4.6%;
    }

    .londonEventsContainerOne 
    {
        top: 44vh;
    }

    .londonEventsContainerTwo 
    {
        top: 52.5vh;
        left: 35.2%;
    }

    .londonEventsContainerThree 
    {
        top: 58.5vh;
        left: 35.2%;
    }

    .londonEventsContainerFour 
    {
        top: 71.5vh;
        left: 35.2%;
    }

    .londonReferences 
    {
        font-size: 10px;
        line-height: 12px;
    }

    .referencesLondon 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 9px;
        line-height: 12px;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) 
and (min-height: 680px) and (max-height: 749px)
{

    #londonOne {
        width: 126%; 
    }

    #londonImageDescriptionOne{
        top: -5%;
    }
    #londonSubOne
    {
        top: -5vh;
    }

    #londonSubTwo 
    {
        top:-370px;
    }

    #londonSubThree 
    {
        top: -840px;
        z-index: 5;
    }

    #londonSubFour 
    {
        top: -1170px;
    }

    #londonSubFive 
    {
        top: -880px;
        height: 15vh;
    }

    .londonHeading 
    {
        font-size: 22px;
        line-height: 25px;
    }

    #londonGridOne 
    {
        top: 26.5%;
        left: 4.6%;
    }

    .londonEventsContainerOne 
    {
        top: 44vh;
    }

    .londonEventsContainerTwo 
    {
        top: 52.5vh;
        left: 35.2%;
    }

    .londonEventsContainerThree 
    {
        top: 58.5vh;
        left: 35.2%;
    }

    .londonEventsContainerFour 
    {
        top: 71.5vh;
        left: 35.2%;
    }

    .londonReferences 
    {
        font-size: 10px;
        line-height: 12px;
    }

    .referencesLondon 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 9px;
        line-height: 12px;
    }
}

/*Saxon's 5th breakpoint - 1387 x 540*/
@media (min-width: 1300px) and (max-width: 1399px) 
and (min-height: 539px) and (max-height: 679px)
{
	#londonImageDescriptionOne {
        position: relative;
        top: -5%;
        left: 35.5%;
        width: 12%;
}
	
	
	#londonSubTwo {
    top: -117.89px;
}

.londonCopyOne
{
    font-size: 13px;
    line-height: 17px;
    top: 21%;
}

#copyTwo {
    position: relative;
    top: 78vh;
}


#titleTwo {
    position: relative;
    top: 89vh;
}

#londonSubThree {
    top: -415.32px;
    z-index: 5;
}

.titleThree {
    position: relative;
    top: 41vh;
}

#londonSubFour {
    top: -539.97px;
}

.londonEventsContainerTwo {
    top: 55.5vh;
    left: 35.2%;
}

.londonEventsContainerOne {
    top: 43vh;
}

.londonEventsContainerThree {
    top: 63.5vh;
    left: 35.2%;
}

.londonEventsContainerFour {
    top: 80.5vh;
    left: 35.2%;
}

#londonSubFive {
    top: -55.35px;
    height: 15vh;
}

#londonGridOne {
    top: 33.5%;
    left: 4.6%;
}
	
}
/*Saxon's 6th breakpoint - 1366 x 1024*/
@media (min-width: 1300px) and (max-width: 1399px) 
and (min-height: 781px) and (max-height: 1025px)
{
	#londonSubTwo {
    top: -980.89px;
}

#copyTwo {
    position: relative;
    top: 59vh;
}

#titleTwo {
    position: relative;
    top: 65vh;
}


#londonSubThree {
    top: -192vh;
    z-index: 5;
}

.titleThree {
    position: relative;
    top: 38vh;
}


#londonSubFour {
    top: -2746.69px;
}

.londonEventsContainerOne {
    top: 43vh;
}

.londonEventsContainerTwo {
    top: 50.5vh;
    left: 35.2%;
}


.londonEventsContainerThree {
    top: 56.5vh;
    left: 35.2%;
}

.londonEventsContainerFour {
    top: 66.5vh;
    left: 35.2%;
}

#londonSubFive {
    top: -2727.35px;
    height: 15vh;
}



	
}


/*--------------------------1400s----------------------------*/

@media (min-width: 1400px) and (max-width: 1499px) 
{
   .londonCopy
   {
       top: 17.5%;
       font-size: 22px;
       line-height: 25px;
   } 

   #londonSubThree 
   {
        top: -133vh;
        z-index: 5;
    }

    #londonSubFour 
    {
        top: -162vh;
    }

    #londonSubFive 
    {
        top: -131vh;
        height: 20vh;
    }

   .londonCopyOne
   {
       top: 18%;
   }

   #titleTwo 
    {
        top: 72vh;
    }

    #copyTwo 
    {
        top: 64vh;
    }

    .londonEventsContainerOne 
    {
        top: 38vh;
    }

    .londonEventsContainerTwo 
    {
        top: 45.2vh;
    }

    .londonEventsContainerThree 
    {
        top: 51.5vh;
    }

    .londonEventsContainerFour 
    {
        top: 65.1vh;
    }

    #londonGridOne 
    {
        top: 23%;
        left: 4.7%;
    }    

    .londonHeading 
    {
        font-size: 22px;
        line-height: 25px;
    }
    
    .londonReferences 
    {
        font-size: 10px;
        line-height: 12px;
    }

    .referencesLondon 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 9px;
        line-height: 12px;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) 
and (min-height: 851px) and (max-height: 901px)
{
    #londonOne
    {
        width: 133%;  
    }

   .londonCopy
   {
       top: 14.5%;
       font-size: 22px;
       line-height: 25px;
   } 

   #londonSubTwo 
   {
        top: -500px;
 
    }

   #londonSubThree 
   {
        top: -1220px;
        z-index: 5;
    }

    #londonSubFour 
    {
        top: -1700px;
    }

    #londonSubFive 
    {
        top: -1590px;
        height: 20vh;
    }

   .londonCopyOne
   {
       top: 16%;
   }

   #titleTwo 
    {
        top: 72vh;
    }

    #copyTwo 
    {
        top: 64vh;
    }

    .londonEventsContainerOne 
    {
        top: 38vh;
    }

    .londonEventsContainerTwo 
    {
        top: 45.2vh;
    }

    .londonEventsContainerThree 
    {
        top: 51.5vh;
    }

    .londonEventsContainerFour 
    {
        top: 65.1vh;
    }

    #londonGridOne 
    {
        top: 23%;
        left: 4.7%;
    }    

    .londonHeading 
    {
        font-size: 22px;
        line-height: 25px;
    }
    
    .londonReferences 
    {
        font-size: 10px;
        line-height: 12px;
    }

    .referencesLondon 
    {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 9px;
        line-height: 12px;
    }
}

/*Saxon's 7th breakpoint - 1440 x 833*/
@media (min-width: 1400px) and (max-width: 1499px) 
and (min-height: 800px) and (max-height: 850px)
{
	
	#londonSubTwo {
    top: -529.45px;
}

#titleTwo {
    top: 69vh;
}

#copyTwo {
    top: 61vh;
}

#londonSubThree {
    top: -1236.32px;
    z-index: 5;
}

.titleThree {
    position: relative;
    top: 39vh;
}

#londonSubFour {
    top: -1665.58px;
}

.londonEventsContainerFour {
    top: 63.1vh;
}

#londonSubFive {
    top: -176vh;
    height: 20vh;
}
}



/*--------------------------1500s----------------------------*/

@media (min-width: 1500px) and (max-width: 1599px) 
{

    #londonSubThree {
        top: -99vh;
        z-index: 5;
    }

    #londonSubFour {
        top: -107vh;
    }

    #londonSubTwo {
        top: -45vh;
    }

    #londonSubFive {
        top: -64vh;
        height: 20vh;
    }

    #londonGridOne {
        top: 26.5%;
        left: 5.3%;
    }

    #titleTwo 
    {
        top: 89vh;
    }

    #copyTwo 
    {
        top: 80vh;
    }

    .londonHeading 
    {
        font-size: 25px;
        line-height: 28px;
        top: -1vh;
    }

    .londonEventsContainerOne 
    {
        top: 43vh;
        left: 35.2%;
    }

    .londonEventsContainerTwo 
    {
        top: 48.5vh;
        left: 35.2%;
    }

    .londonEventsContainerThree 
    {
        top: 49.5vh;
        left: 35.2%;
    }

    .londonEventsContainerFour 
    {
        top: 62vh;
        left: 35.2%;
    }

    .londonReferences {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondon {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo 
    {
        font-size: 9px;
        line-height: 12px;
        top: 18%;
    }
}

@media (min-width: 1500px) and (max-width: 1599px) 
and (min-height: 780px) and (max-height: 810px)
{

    #londonSubThree {
        top: -855px;
        z-index: 5;
    }

    #londonSubFour {
        top: -1132px;
    }

    #londonSubTwo {
        top: -411px;
    }

    #londonSubFive {
        top: -879px;
        height: 20vh;
    }

    #londonGridOne {
        top: 26.5%;
        left: 5.3%;
    }

    #titleTwo 
    {
        top: 89vh;
    }

    #copyTwo 
    {
        top: 80vh;
    }

    .londonHeading 
    {
        font-size: 25px;
        line-height: 28px;
        top: -1vh;
    }

    .londonEventsContainerOne 
    {
        top: 43vh;
        left: 35.2%;
    }

    .londonEventsContainerTwo 
    {
        top: 48.5vh;
        left: 35.2%;
    }

    .londonEventsContainerThree 
    {
        top: 49.5vh;
        left: 35.2%;
    }

    .londonEventsContainerFour 
    {
        top: 62vh;
        left: 35.2%;
    }

    .londonReferences {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondon {
        font-size: 9px;
        line-height: 12px;
    }

    .referencesLondonTwo 
    {
        font-size: 9px;
        line-height: 12px;
        top: 18%;
    }
}

/*Saxon's 8th breakpoint - 1536 x 757*/
@media (min-width: 1500px) and (max-width: 1599px) 
and (min-height: 751px) and (max-height: 785px)
{
	#londonSubTwo {
    top: -371.55px;
}

#londonSubThree {
    top: -793.46px;
    z-index: 5;
}


#londonSubFour {
    top: -1032.13px;
}

.londonEventsContainerFour {
    top: 61vh;
    left: 35.2%;
}

#londonSubFive {
    top: -683.76px;
    height: 20vh;
}




	
}
/*Saxon's 9th breakpoint - 1536 x 864*/
@media (min-width: 1500px) and (max-width: 1599px) 
and (min-height: 811px) 
{
	#londonSubTwo {
    top: -550.55px;
}

#titleTwo {
    top: 82vh;
}

#copyTwo {
    top: 73vh;
}

#londonSubThree {
    top: -1138.41px;
    z-index: 5;
}



#londonSubFour {
    top: -1522.13px;
}



.londonEventsContainerTwo {
    top: 47.5vh;
    left: 35.2%;
}

.londonEventsContainerFour {
    top: 60vh;
    left: 35.2%;
}

#londonSubFive {
    top: -1307.76px;
    height: 20vh;
}
}


/*--------------------------1600s----------------------------*/
@media (min-width: 1600px) and (max-width: 1699px) 
{
    #londonSubTwo {
        top: -43vh;
    }

    #londonSubThree {
        top: -115vh;
        z-index: 5;
    }

    #londonSubFour {
        top: -148vh;
    }

    #londonSubFive {
        top: -104vh;
        height: 20vh;
    }

    #londonImageDescriptionOne {
        top: -5%;
        left: 35.2%;
    }

    .londonHeading {
        font-size: 22px;
        line-height: 25px; 
    }

    #londonGridOne {
        top: 25.5%;
        left: 5.3%;
    }

    .londonReferences {
        font-size: 10px;
        line-height: 12px;
    }

    .londonEventsContainerOne 
    {
        top: 42vh;
        left: 35.2%;
    }

    .londonEventsContainerTwo 
    {
        top: 53.5vh;
        left: 35.2%;
    }

    .londonEventsContainerThree
    {
        top: 61.5vh;
        left: 35.2%;
    }

    .londonEventsContainerFour
    {
        top: 76.5vh;
        left: 35.2%;
    }

    .referencesLondon 
    {
        font-size: 10px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 10px;
        line-height: 12px;
        top: 23%;

    }
}

@media (min-width: 1600px) and (max-width: 1699px) 
and (min-height: 831px) and (max-height: 900px)
{
    #londonSubTwo {
        top: -554px;
    }

    #londonSubThree {
        top: -1290px;
        z-index: 5;
    }

    #titleTwo {
        position: relative;
        top: 70vh;
    }

    #copyTwo {
        position: relative;
        top: 62vh;
    }

    #londonSubFour {
        top: -1881px;
    }

    #londonSubFive {
        top: -1701px;
        height: 20vh;
    }

    #londonImageDescriptionOne {
        top: -5%;
        left: 35.2%;
    }

    .londonHeading {
        font-size: 22px;
        line-height: 25px; 
    }

    #londonGridOne {
        top: 25.5%;
        left: 5.3%;
    }

    .londonReferences {
        font-size: 10px;
        line-height: 12px;
    }

    .londonEventsContainerOne 
    {
        top: 42vh;
        left: 35.2%;
    }

    .londonEventsContainerTwo 
    {
        top: 53.5vh;
        left: 35.2%;
    }

    .londonEventsContainerThree
    {
        top: 61.5vh;
        left: 35.2%;
    }

    .londonEventsContainerFour
    {
        top: 76.5vh;
        left: 35.2%;
    }

    .referencesLondon 
    {
        font-size: 10px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 10px;
        line-height: 12px;
        top: 23%;

    }
}

@media (min-width: 1600px) and (max-width: 1699px) 
and (min-height: 901px) and (max-height: 1051px)
{
    #londonOne{
        width: 133%;
    }
    #copyTwo
    {
        top: 49vh;
    }

    #titleTwo {
        top: 55vh;
    }

    #londonSubTwo {
        top: -615px;
    }

    #londonSubThree {
        top: -1685px;
        z-index: 5;
    }

    #londonSubFour {
        top: -2460px;
    }

    #londonSubFive {
        top: -2401px;
        height: 20vh;
    }

    #londonImageDescriptionOne {
        top: -5%;
        left: 35.2%;
    }

    .londonHeading {
        font-size: 22px;
        line-height: 25px; 
    }

    #londonGridOne {
        top: 25.5%;
        left: 5.3%;
    }

    .londonReferences {
        font-size: 10px;
        line-height: 12px;
    }

    .londonEventsContainerOne 
    {
        top: 42vh;
        left: 35.2%;
    }

    .londonEventsContainerTwo 
    {
        top: 53.5vh;
        left: 35.2%;
    }

    .londonEventsContainerThree
    {
        top: 61.5vh;
        left: 35.2%;
    }

    .londonEventsContainerFour
    {
        top: 76.5vh;
        left: 35.2%;
    }

    .referencesLondon 
    {
        font-size: 10px;
        line-height: 12px;
    }

    .referencesLondonTwo
    {
        font-size: 10px;
        line-height: 12px;
        top: 23%;

    }
}

/*Saxon's 10th breakpoint - 1600 x 829*/
@media (min-width: 1600px) and (max-width: 1699px) 
and (min-height: 786px) and (max-height: 830px)
{
	#londonSubTwo {
    top: -465.37px;
}

#titleTwo {
    position: relative;
    top: 73vh;
}

#copyTwo {
    position: relative;
    top: 65vh;
}

#londonSubThree {
    top: -139vh;
    z-index: 5;
}

.titleThree {
    position: relative;
    top: 39vh;
}

#londonSubFour {
    top: -1662.32px;
}

#londonSubFive {
    top: -1372.36px;
    height: 20vh;
}


	
}


/*--------------------------1900s----------------------------*/

@media (min-width: 1900px) and (max-width: 1999px) 
and (min-height: 920px) and (max-height: 950px)
{
    .londonContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
    height: 200vh;
}

#londonSubTwo
{
    top: -390px;
}

#londonSubThree
{
    top: -957px;
    z-index: 5;
}

#londonSubFour
{
    top: -1162px;
}

#londonSubFive
{
    top: -790px;
    height: 40vh;
}

#londonOne
{
    position: relative;
    top: 0;
    left: -15%;
    z-index: -1;
    width: 120%;
}

#londonImageDescriptionOne
{
    position: relative;
    top: -5%;
    left: 35.5%;
    width: 12%;
}

#titleTwo
{
    position: relative;
    top: 83vh;
}

.titleThree 
{
    position: relative;
    top: 40vh;
}

#copyTwo
{
    position: relative;
    top: 73vh;
}

#londonLinks
{
    position: relative;
    top: 35vh;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonHeading
{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    padding: 0;
    margin: 0;
    position: relative;
    top: -1vh;
}

.londonReferences
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 105%;
    text-align: left;
}

.londonEventsContainerOne
{
    margin-bottom: 10vh;
    position: relative;
    top: 39vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0
}

.londonEventsContainerTwo
{
    margin-bottom: 10vh;
    position: relative;
    top: 44.5vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerThree
{
    margin-bottom: 10vh;
    position: relative;
    top: 47vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerFour
{
    margin-bottom: 10vh;
    position: relative;
    top: 61vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.copyLondon
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 96%;
}

.copyLondonTwo
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.copyLondonThree
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.copyLondonFour
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.containerOne
{
    position: relative;
    top: 5%;
}

#londonGridOne
{
    top: 23.5%;
    left: 5.3%;
}

.endlineLondon
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineLondonTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 7%;
    left: 0%;
    border-bottom: 2px dotted black;
}

#referenceBlockLondon
{
    position: relative;
    top: 5%;
    left: 35.5%;
    width: 100%;
    display: block;
}

.referencesLondon
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}

.referencesLondonTwo
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
    top: 10%;
    left: 35.3%;
}
}

@media (min-width: 1900px) and (max-width: 1999px) 
	and (min-height: 1101px) and (max-height: 1210px)
{
    .londonContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
    height: 200vh;
}

#londonSubTwo
{
    top: -691px;
}

#londonSubThree
{
    top: -1688px;
    z-index: 5;
}

#londonSubFour
{
    top: -2262px;
}

#londonSubFive
{
    top: -2174px;
    height: 40vh;
}

#londonOne
{
    position: relative;
    top: 0;
    left: -15%;
    z-index: -1;
    width: 133%;
}

#londonImageDescriptionOne
{
    position: relative;
    top: -5%;
    left: 35.5%;
    width: 12%;
}

#titleTwo
{
    position: relative;
    top: 71vh;
}

.titleThree 
{
    position: relative;
    top: 40vh;
}

#copyTwo
{
    position: relative;
    top: 63vh;
}

#londonLinks
{
    position: relative;
    top: 35vh;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonHeading
{
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: 400;
    line-height: 37px;
    text-align: left;
    padding: 0;
    margin: 0;
    position: relative;
    top: -1vh;
}

.londonReferences
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 105%;
    text-align: left;
}

.londonEventsContainerOne
{
    margin-bottom: 10vh;
    position: relative;
    top: 36vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0
}

.londonEventsContainerTwo
{
    margin-bottom: 10vh;
    position: relative;
    top: 41.5vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerThree
{
    margin-bottom: 10vh;
    position: relative;
    top: 44vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.londonEventsContainerFour
{
    margin-bottom: 10vh;
    position: relative;
    top: 56vh;
    left: 35.2%;
    width: 26%;
    padding: 0;
    margin: 0;
}

.copyLondon
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 96%;
}

.copyLondonTwo
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.copyLondonThree
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.copyLondonFour
{
    position: relative;
    top: 5%;
    left: 0%;
    width: 108%;
}

.containerOne
{
    position: relative;
    top: 5%;
}

#londonGridOne
{
    top: 21.5%;
    left: 5.3%;
}

.endlineLondon
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineLondonTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 7%;
    left: 0%;
    border-bottom: 2px dotted black;
}

#referenceBlockLondon
{
    position: relative;
    top: 5%;
    left: 35.5%;
    width: 100%;
    display: block;
}

.referencesLondon
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}

.referencesLondonTwo
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
    top: 10%;
    left: 35.3%;
}
}

/*Saxon's 11th breakpoint - 1920 x 1007*/
@media (min-width: 1900px) and (max-width: 1999px) 
and (min-height: 951px) and (max-height: 1008px)
{
	#londonSubTwo {
    top: -513.45px;
}


#titleTwo {
    position: relative;
    top: 79vh;
}

#copyTwo {
    position: relative;
    top: 69vh;
}


#londonSubThree {
    top: -1233.49px;
    z-index: 5;
}


#londonSubFour {
    top: -1572.6px;
}

#londonSubFive {
    top: -1239.85px;
    height: 40vh;
}


	
}
	

    /* ----------------------20000s-------------------------*/
/*2048 x 1080*/
@media (min-width: 2000px) and (min-height: 1000px) and (max-height: 1999px)
{
    #londonSubTwo {
        top: -40vh;
    }
    #londonSubThree {
        top: -104vh;
        z-index: 5;
    }
    #londonSubFour {
        top: -137vh;
    }

    #londonSubFive {
        top: -95vh;
        height: 40vh;
    }
}