.oceanContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
}

#oceanSubTwo
{
    top: -61vh;
}

#oceanSubThree
{
    top: -24vh;
}

#oceanSubFour
{
    top: -9vh;
}

#oceanSubFive
{
    top: -7vh;
}

#oceanSubSix
{
    top: 0vh;
}

#oceanSubSix
{
    top: -10vh;
}

#oceanSubSeven
{
    top: 230vh;
    height: 15vh;
}

.oceanCopyOne
{
    position: relative;
    top: 23%;
    left: 7%;
    width: 18%;
}

.oceanCopyTwo
{
    position: relative;
    top: -60%;
    left: 35.3%;
    width: 26%;
}

.oceanCopyThree
{
    position: relative;
    top: -35%;
    left: 35.3%;
    width: 26%;
}

#oceanOne
{
    position: relative;
    top: 27%;
    left: -2%;
    width: 100vw;
}

#oceanTwo
{
    position: relative;
    top: 38%;
    left: -32.5%;
    width: 62.5vw;
}

#oceanThree
{
    position: relative;
    top: 33%;
    left: -32.5%;
    width: 62.5vw;
}

#oceanFour
{
    position: relative;
    top: 30%;
    left: -0.9%;
}

#oceanFive
{
    position: relative;
    top: 5%;
    left: 33.7%;
}

#oceanSix
{
    position: relative;
    top: 32%;
    left: -32.5%;
}

#oceanSeven
{
    position: relative;
    top: -35.2%;
    left: 35.4%;
    padding: 0;
}

#oceanEight
{
    position: relative;
    top: 25%;
    left: -32.3%;
    width: 63vw;
}

#oceanNine
{
    position: relative;
    top: 18%;
    left: 0.9%;
}

#oceanTen
{
    position: relative;
    top: 8.3%;
    left: 34.3%;
}

#oceanEleven
{
    position: relative;
    top: 38%;
    left: -32.7%;
    width: 61.5vw;
}

#oceanTwelve
{
    position: relative;
    top: 24%;
    left: 35%;
    z-index: 5;
}

#oceanThirteen
{
    position: relative;
    top: 28%;
    left: 5%;
    z-index: 5;
}

#oceanFourteen
{
    position: relative;
    top: 15%;
    left: 17.9%;
    z-index: -5;
    width: 46.5vw;
}

#oceanFifteen
{
    position: relative;
    top: 10%;
    left: 34.7%;
    z-index: 5;
}

#oceanSixteen
{
    position: relative;
    top: -40%;
    left: 34.7%;
    z-index: 5;
}

#oceanSeventeen
{
    position: relative;
    top: -40%;
    left: 8%;
    z-index: -5;
}

#oceanEighteen
{
    position: relative;
    top: -49%;
    left: 18.2%;
    z-index: 0;
    width: 46.5vw;
}

#oceanNinteen
{
    position: relative;
    top: -55%;
    left: 34.7%;
    z-index: 5;
}

#oceanImageDescriptionOne
{
    position: relative;
    top: 27%;
    left: 35.3%;
    width: 14%;
}

#oceanImageDescriptionTwo
{
    position: relative;
    top: -33%;
    left: 35.3%;
    width: 14%;
}

#oceanImageDescriptionThree
{
    position: relative;
    top: -5%;
    left: 8.7%;
    width: 14%;
}

#oceanImageDescriptionFour
{
    position: relative;
    top: 13%;
    left: 35.3%;
    width: 14%;
}

#oceanImageDescriptionFive
{
    position: relative;
    top: 118%;
    left: 35.3%;
    width: 21%;
}


#oceanGridOne
{
    position: relative;
    top: -15%;
    left: -44.7%;
}

#OceanVideoOne
{
    position: relative;
    top: 19%;
    left: -49.7%;
    width: 46vw;
    height: 46vh;
}

#OceanVideoTwo
{
    position: relative;
    top: 0%;
    left: -66.7%;
    width: 25vw;
    height: 97vh;
}

#OceanVideoThree
{
    position: relative;
    top: -63%;
    left: -33%;
    width: 61.5vw;
    height: 62.5vh;
}

.endlineOceanTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 95%;
    left: 0%;
    border-bottom: 1px dotted black;
}

.endlineOceanThree
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 14%;
    left: 0%;
    border-bottom: 2px solid black;
}

.endlineOceanOne
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 1px solid black;
}

.referenceBlockOceanOne
{
    width: 70%;
    height: 50%;
    position: relative;
    top: 20%;
    left: 35.2%;
}

.referenceOcean
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 17px;
    width: 30%;
    height: 60%;
    text-align: left;
    margin-bottom: 10px;
}