.potsContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
}

#potSubTwo
{
    top: -45vh;
}

#potSubThree
{
    top: 60vh;
}

#potSubFour
{
    top: 25vh;
}

#potSubFive
{
    top: 15vh;
}

#potSubSix
{
    top: 50vh;
}

#potSubSeven
{
    top: 30vh;
}

#potSubEight
{
    top: 45vh;
    height: 50vh;
}

#potOne
{
    position: relative;
    top: 33%;
    left: -49.5%;
}

#potTwo
{
    position: relative;
    top: 4%;
    left: 34.7%;
}

#potThree
{
    position: relative;
    top: -1%;
    left: 0.3%;
    width: 31vw;
    z-index: 5;
}

#potFour 
{
    position: relative;
    top: 40%;
    left: -33.3%;
    width: 61vw;
}

#potFive
{
    position: relative;
    top: 38%;
    left: 1%;
    z-index: -5;
}

#potSix
{
    position: relative;
    top: 9%;
    left: 34.7%;
    z-index: 5;
}

#potSeven
{
    position: relative;
    top: 3%;
    left: 27.7%;
    z-index: 4;
}

#potEight
{
    position: relative;
    top: -10%;
    left: -43%;
    z-index: -4;
}

#potNine
{
    position: relative;
    top: 26%;
    left: 16.7%;
    z-index: 5;
}

#potTen
{
    position: relative;
    top: 50%;
    left: -49.3%;
    z-index: -5;
}

#potEleven
{
    position: relative;
    top: 4%;
    left: -1.5%;
    z-index: -5;
    width: 46vw;
}

#potTwelve
{
    position: relative;
    top: -15%;
    left: 6.3%;
    z-index: -5;
    width: 46vw;
}

#potVideoOne
{
    position: relative;
    top: -18%;
    left: 35.3%;
    z-index: 5;
    width: 30vw;
    height: 30vh;
    display: block;
}

#potGridOne
{
    position: relative;
    top: 18%;
    left: -43.2%;
}

#potGridTwo
{
    position: relative;
    top: -23.8%;
    left: -16.3%;
}

#potGridThree
{
    position: relative;
    top: 33%;
    left: -32.5%;
}

#potGridFour
{
    position: relative;
    top: -25%;
    left: -44.7%;
}

#potGridFive
{
    position: relative;
    top: 33%;
    left: -16.3%;
    z-index: 1;
}


#potImageDescriptionOne
{
    position: relative;
    left: 18.5%;
    top: 35%;
    width: 14%;
}

#potImageDescriptionTwo
{
    position: relative;
    left: 18.5%;
    top: -14%;
    width: 14%;
}

#potImageDescriptionThree
{
    position: relative;
    left: 52.2%;
    top: 20%;
    width: 14%;
}

#potImageDescriptionFour
{
    position: relative;
    left: 35.3%;
    top: -16%;
    width: 14%;
}

#potImageDescriptionFive
{
    position: relative;
    left: 35.3%;
    top: 5%;
    width: 14%;
}

.copyPotsOne
{
    top: 25%;
    left: 1.7%;
}

.endlinePots
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0vw;
    border-bottom: 1px solid black;
}

.endlinePotsTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 90vh;
    left: 0vw;
    border-bottom: 2px solid black;
}

.referenceBlockPots
{
    position: relative;
    width: 30%;
    height: 23%;
    left: 35.3%;
    top: 11%;
}

.referencesPots
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 55%;
    height: 50%;
    text-align: left;
    padding: 0;
    margin: 0;
}

#gridImagePots
{
    width: 23.5vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}


/*----------------Responsive Code-------------------*/

@media (max-width: 1299px) {

#potOne {
    top: 42%;
}
#potSubTwo {
    top: -10vh;
}
	#potThree {
    top: -7%;
}
	#potFour {

    top: 45%;
	}
	#potImageDescriptionOne {
    top: 42%;
}
#potFive {
    top: 45%;
}
#potEight {
    top: -15%;
}
#potImageDescriptionTwo {
    top: -18%;
}
#potSubThree {
    top: 155vh;
}
	#potSix {
    left: 34.2%;
}
#gridImagePots {
    width: 23.7vw;
}
#potGridOne {
    top: 18.5%;
    left: -44.1%;
}
#potGridTwo {
    top: -33%;
    left: -17.3%;
}
#potSubFour {
    top: 150vh;
}
#potSubFour {
    top: 150vh;
}
#potTen {
    top: 55%;
}
#potImageDescriptionThree {
    top: 22%;
}
#potSubFive {
    top: 168vh;
}
	#potNine {
    top: 26%;
    left: 17.3%;
}


#potGridThree {
    top: 39%;
    left: -32.2%;
}
#potSubSix {
    top: 245vh;
}
#potVideoOne {
    top: -23%;
    height: 37.2vh;
}
#potGridFour {
    top: -32%;
    left: -44.3%;
}
#gridImageMiddle {
    width: 24vw;
}
#potImageDescriptionFour {
    top: -21%;
}
#potSubSeven {
    top: 250vh;
}
#potGridFive {
    top: 42%;
    left: -17.2%;
}
#potTwelve {
    left: 7.4%;
}
#potSubEight {
    top: 300vh;
    height: 70vh;
}
}

@media (min-width: 1300px) and (max-width: 1399px) {
    
#potSubOne
{
    top: -5vh;
}

#potSubTwo 
{
    top: -50vh;
}

#potOne {
    top: 35%;
}
#potSubTwo .copyText {
    top: 17.5%;
}
#potFour {
    left: -33.5%;
}
#potSix {
    left: 34.5%;

}
#potFive {
    left: 0.8%;

}
#potSubThree {
    top: 64.2vh;
}
#potGridOne {
    left: -44%;
    top: 12%;
}
#potGridTwo {
    left: -17%;
    top: -29%;
}
#potNine {
    left: 17.2%;

}
#potSubFive {
    top: 13.5vh;
}
#potGridThree {
    top: 32%;
}
#potSubSix {
    top: 45vh;
}
#potGridFour {
    left: -45.2%;
}
#potSubSeven {
    top: 40vh;
}
#potGridFive {
    left: -17%;
}
#potSubEight {
    top: 52vh;
    height: 52vh;
}
}

@media (min-width: 1400px) and (max-width: 1499px) 
{
#potSubOne .copyText {
top: 18%;
}
#potSubTwo {
    top: -43vh;
}
#potSubTwo .copyText {
    top: 17.2%;
}
#potFour {
    width: 61.3vw;
}
#potSubThree {
    top: 76.7vh;
}
#gridImagePots {
    width: 23.8vw;
}
#potGridOne {
    left: -44%;
}
#potGridTwo {
    top: -26.6%;
	left: -17%;
}
#potSubFour {
    top: 40vh;
}
.copyPotsOne {
    top: 22%;
}
#potSubFour {
    top: 50vh;
}
#potNine {
    left: 17.1%;
}
#potSubFive {
    top: 40.5vh;
}
#gridImageSmallerMargin {
    width: 14.2vw;
    margin-left: 9px;
}
#potSubSix {
    top: 81vh;
}
#potVideoOne {
    height: 31.8vh;
}
	#potSubThree .copyText {
top:17%
}
#potSubFive .copyText{
top:17%
}
#potSubSix .copyText{
top:17%
}
#potSubSeven .copyText{
top:17%
}
#potGridFive {
    left: -17%;
}
#potGridFour {
    left: -45.3%;
}
#potSubSeven {
    top: 65vh;
}
#potImageDescriptionFive {
    top: 9%;
}
#potSubEight {
    top: 83vh;
    height: 54vh;
}

.gridImageMiddlePotResponsive 
{
    width: 23.8vw !important;
}
}

@media (min-width: 1500px) and (max-width: 1599px) {
	#potOne {
    position: relative;
    top: 43.2%;
    left: -49.5%;
}
#potTwo {
    position: relative;
    top: 9%;
    left: 34.7%;
}
#potSubTwo {
    top: -23vh;
}
#potSubTwo .copyText{
top: 16.8%;
}
	#potFour {
    top: 46%;
		left: -33.5%;
}
#potImageDescriptionOne {
    top: 40.5%;
}
#potFive {
    top: 42%;
}
#potSix {
    top: 11.3%;
    left: 34.5%;
}
#potSubThree {
    top: 141.7vh;
}

#potGridOne {
    left: -43.7%;
}
	#potGridTwo {
    top: -30.9%;
    left: -17.65%;
}
#potSubFour {
    top: 118vh;
}
#potNine {
    top: 26%;
    left: 17.2%;
}
	#potTen {
    left: -49.4%;
	}
#potSubFive {
    top: 126.65vh;
}
#potGridThree {
    top: 36%;
}
#gridImageSmallerMargin {
    width: 14.2vw;
    margin-left: 10px;
}
#potSubSix {
    top: 192vh;
}
#potSubThree .copyText, #potSubFive .copyText, #potSubSix .copyText, #potSubSeven .copyText{
top: 17.1%;
}
#potGridFive {
    top: 36.9%;
    left: -17.7%;
}
#potTwelve {
    top: -18%;
    left: 7.5%;
}
#potImageDescriptionFive {
    top: 9%;
}
	#potSubSeven {
    top: 205vh;
}
#potSubEight {
    top: 235.5vh;
    height: 56vh;
}
	
}

/* common - 1600×750, 1600×900 */
@media (min-width: 1600px) and (max-width: 1699px) {
	#potOne {
    top: 36.8%;
}
#potTwo {
    top: 3%;
}
#potSubTwo {
    top: -30vh;
}
#potSubTwo .copyText{
    top: 17%;
}
#potFour {
    top: 42%;
}
#potImageDescriptionOne {
    top: 37%;
}
#potFive {
    top: 45%;
}
#potSix {
    left: 34.6%;
}
#potSubThree {
    top: 124.5vh;
}
#potGridOne {
    top: 18%;
    left: -43.55%;
}
#potGridTwo {
    top: -31.5%;
    left: -17.5%;
}
#potSubThree .potCopyResponsive{
    top: 124.5vh;
}
#potSubFour {
    top: 100vh;
}
#potSubFive {
    top: 101vh;
}

#potSubFive .copyText{
    top: 17%;
}
#gridImageSmallerMargin {
    width: 14.2vw;
}
#potGridThree {
    position: relative;
    top: 31%;
}
#potSubSix {
    top: 158vh;
}

#potSubSix .copyText{
top: 17%;
}
#potSubSeven {
    top: 157vh;
}
#potSubSeven .copyText{
top: 17%;
}
#potGridFive {
    top: 32.5%;
}
#potTwelve {
    top: -24%;
    left: 7.5%;
}
#potSubEight {
    top: 180vh;
    height: 51vh;
}
	
}