.saltContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
    height: 100%;
}

#saltSubTwo
{
    top: 15vh;
}

#saltSubThree
{
    top: 63vh;
}

#saltSubFour
{
    top: 65vh;
}

#saltSubFive
{
    top: 85vh;
}

#saltSubSix
{
    top: 5vh;
}

#saltSubSeven
{
    top: -33vh;
    height: 20vh;
}

#saltOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#saltTwo
{
    position: relative;
    z-index: 0;
    top: -41%;
    left: 7.7%;
    visibility: hidden;
}

#saltThree
{
    position: relative;
    z-index: 0;
    top: 37%;
    left: -32.9%;
}

#saltFour
{
    position: relative;
    z-index: 0;
    top: 32%;
    left: -32.9%;
}

#saltFive
{
    position: relative;
    z-index: 0;
    top: 37%;
    left: -32.9%;
}

#saltSix
{
    position: relative;
    z-index: 0;
    top: 32%;
    left: 7.7%;
}

#saltSeven
{
    position: relative;
    z-index: 0;
    top: 16%;
    left: 34.7%;
}

#saltEight
{
    position: relative;
    z-index: 0;
    top: 17%;
    left: 1.2%;
}

#saltNine
{
    position: relative;
    z-index: 0;
    top: -19.8%;
    left: 34.7%;
}

#saltTen
{
    position: relative;
    z-index: 0;
    top: 25%;
    left: 7.6%;
}

#saltEleven
{
    position: relative;
    z-index: 0;
    top: 32%;
    left: -5.3%;
    width: 102vw;
    height: auto;
}

.saltCopyOne
{
    position: relative;
    top: -72%;
    left: 35.2%;
    width: 26%;
}

#saltImageDescriptionOne
{
    position: relative;
    top: -48%;
    left: 35.3%;
    width: 10%;
}

#saltImageDescriptionTwo
{
    position: relative;
    top: 26%;
    left: 35.3%;
    width: 13%;
}

#saltImageDescriptionThree
{
    position: relative;
    top: 11.2%;
    left: 35.3%;
    width: 13%
}

#saltImageDescriptionFour
{
    position: relative;
    top: 29.2%;
    left: 8.3%;
    width: 13%;
}

#saltImageDescriptionFive
{
    position: relative;
    top: 18.2%;
    left: 35.3%;
    width: 13%;
}

#saltImageDescriptionSix
{
    position: relative;
    top: 27.5%;
    left: 35.3%;
    width: 14%;
}

#saltImageDescriptionSeven
{
    position: relative;
    top: 2%;
    left: 35.3%;
    width: 19%;
}

#saltImageDescriptionEight
{
    position: relative;
    top: 10%;
    left: 35.3%;
    width: 21%;
}

#saltVideoOne
{
    position: relative;
    width: 45.7vw;
    height: 45.7vh;
    top: -44%;
    left: -49.7%;
}

.saltQuote
{
    position: relative;
    width: 16%;
    left: 8.3%;
    top: 24%;
}

.saltQuoteTwo
{
    position: relative;
    width: 18%;
    left: 8.3%;
    top: 24%;
}

.endlineSalt
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineSaltTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 2px dotted black
}

/*----------------- Responisve Code Start ---------------------*/

@media (max-width: 1025px) and (min-height: 599px) and (max-height: 680px)
{
    #saltTwo {
        top: -48%;
    left: 7.5%;
    }
    
    .saltCopyOne {
        top: -64%;
        left: 35.2%;
    }
    
    #saltImageDescriptionOne {
        top: -54%;
    }
    
    #saltVideoOne {
        height: 56.5vh;
        top: -53%;
    }
    #saltSubTwo {
        top: 56px;
    }
    
    #saltThree {
        top: 46%;
    }
    
    #saltFour {
        top: 43%;
    }
    #saltImageDescriptionTwo {
         top: 37.5%;
    }
    
    #saltSubThree {
        top: 391px;
    }
    #saltFive {
        top: 45.5%;
    }
    
    #saltSix {
        top: 40%;
    }
    
    #saltImageDescriptionThree {
        top: 20%;
    }
    #saltSubFour {
        top: 411px;
    }
    .saltQuote {
        top: 32%;
    }
    #saltSeven {
        top: 14%;
    }
    
    #saltImageDescriptionFour {
        top: 34.5%;
    }
    
    #saltEight {
        top: 15.5%;
        left: 0.9%;
    }
    
    #saltNine {
        top: -20.5%;
        left: 34.4%;
    }
    #saltSubFive {
        top: 474px;
    }
    
    #saltTen {
        top: 32%;
    }
    #saltImageDescriptionFive {
        top: 21.3%;
    }
    #saltSubSix {
        top: -11px;
    }
    #saltEleven {
        top: 41%;
    }
    .saltQuoteTwo {
        top: 31%;
    }
    #saltImageDescriptionSix {
        top: 36.5%;
    }
    
    #saltSubSeven {
        top: -122px;
    }
    
}
@media (max-width: 1025px) and (min-height: 681px) and (max-height: 780px)
{
    #saltOne {
        width: 112vw;
    }
    
    #saltTwo {
        top: -48%;
    left: 7.5%;
    }
    
    .saltCopyOne {
        top: -58%;
        left: 35.2%;
    }
    
    #saltImageDescriptionOne {
        top: -43%;
    }
    
    #saltVideoOne {
        height: 56.5vh;
        top: -41%;
    }
    #saltSubTwo {
        top: 7px;
    }
    
    #saltThree {
        top: 35%;
    }
    
    #saltFour {
        top: 31%;
    }
    #saltImageDescriptionTwo {
         top: 25.5%;
    }
    
    #saltSubThree {
        top: 107px;
    }
    #saltFive {
        top: 35.5%;
    }
    
    #saltSix {
        top: 30%;
    }
    
    #saltImageDescriptionThree {
        top: 14%;
    }
    #saltSubFour {
        top: -100px;
    }
    .saltQuote {
        top: 25%;
    }
    #saltSeven {
        top: 10%;
    }
    
    #saltImageDescriptionFour {
        top: 26.5%;
    }
    
    #saltEight {
        top: 10.5%;
        left: 0.9%;
    }
    
    #saltNine {
        top: -17.5%;
        left: 34.4%;
    }
    #saltSubFive {
        top: -294px;
    }
    
    #saltTen {
        top: 24%;
    }
    #saltImageDescriptionFive {
        top: 16.3%;
    }
    #saltSubSix {
        top: -1021px;
    }
    #saltEleven {
        top: 32%;
    }
    .saltQuoteTwo {
        top: 24%;
    }
    #saltImageDescriptionSix {
        top: 28.5%;
    }
    
    #saltSubSeven {
        top: -1370px;
    }
    
}

@media (min-width: 1026px) and (max-width: 1299px) 
{
#saltTwo {
    top: -48%;
left: 7.5%;
}

.saltCopyOne {
    top: -87%;
    left: 35.2%;
}

#saltImageDescriptionOne {
    top: -58%;
}

#saltVideoOne {
    height: 56.5vh;
    top: -53%;
}
#saltSubTwo {
    top: 54vh;
}

#saltThree {
    top: 46%;
}

#saltFour {
    top: 42%;
}
#saltImageDescriptionTwo {
 	top: 37.5%;
}

#saltSubThree {
    top: 148vh;
}
#saltFive {
    top: 44.5%;
}

#saltSix {
    top: 41%;
}

#saltImageDescriptionThree {
    top: 15%;
}
#saltSubFour {
    top: 182vh;
}
.saltQuote {
    top: 31%;
}
#saltSeven {
    top: 19%;
}

#saltImageDescriptionFour {
    top: 37.5%;
}

#saltEight {
    top: 19%;
    left: 0.9%;
}

#saltNine {
    top: -27.5%;
    left: 34.4%;
}
#saltSubFive {
    top: 239vh;
}

#saltTen {
    top: 30%;
}
#saltImageDescriptionFive {
    top: 21.3%;
}
#saltSubSix {
    top: 175vh;
}
#saltEleven {
    top: 40%;
}
.saltQuoteTwo {
    top: 32%;
}
#saltImageDescriptionSix {
    top: 36.5%;
}

#saltSubSeven {
    top: 165vh;
}

}

@media (min-width: 1026px) and (max-width: 1299px) 
and (min-height: 680px) and (max-height: 766px)
{
    #saltTwo {
        top: -48%;
    left: 7.5%;
    }
    
    .saltCopyOne {
        top: -74%;
        left: 35.2%;
    }
    
    #saltImageDescriptionOne {
        top: -50%;
    }
    
    #saltVideoOne {
        height: 56.5vh;
        top: -49%;
    }
    #saltSubTwo {
        top: 181px;
    }
    
    #saltThree {
        top: 38%;
    }
    
    #saltFour {
        top: 34%;
    }
    #saltImageDescriptionTwo {
         top: 28.5%;
    }
    
    #saltSubThree {
        top: 563px;
    }
    #saltFive {
        top: 37.5%;
    }
    
    #saltSix {
        top: 32%;
    }
    
    #saltImageDescriptionThree {
        top: 11%;
    }
    #saltSubFour {
        top: 584px;
    }
    .saltQuote {
        top: 27%;
    }
    #saltSeven {
        top: 14%;
    }
    
    #saltImageDescriptionFour {
        top: 30.5%;
    }
    
    #saltEight {
        top: 14.5%;
        left: 0.9%;
    }
    
    #saltNine {
        top: -24.5%;
        left: 34.4%;
    }
    #saltSubFive {
        top: 661px;
    }
    
    #saltTen {
        top: 30%;
    }
    #saltImageDescriptionFive {
        top: 21.3%;
    }
    #saltSubSix {
        top: 151px;
    }
    #saltEleven {
        top: 36%;
    }
    .saltQuoteTwo {
        top: 29%;
    }
    #saltImageDescriptionSix {
        top: 32.5%;
    }
    
    #saltSubSeven {
        top: -48px;
    }
    
}

@media (min-width: 1026px) and (max-width: 1299px) 
and (min-height: 767px) and (max-height: 798px)
{
    #saltTwo {
        top: -48%;
    left: 7.5%;
    }
    
    .saltCopyOne {
        top: -68%;
        left: 35.2%;
    }
    
    #saltImageDescriptionOne {
        top: -46%;
    }
    
    #saltVideoOne {
        height: 56.5vh;
        top: -45%;
    }
    #saltSubTwo {
        top: 99px;
    }
    
    #saltThree {
        top: 35%;
    }
    
    #saltFour {
        top: 31%;
    }
    #saltImageDescriptionTwo {
         top: 25.5%;
    }
    
    #saltSubThree {
        top: 387px;
    }
    #saltFive {
        top: 33.5%;
    }
    
    #saltSix {
        top: 28%;
    }
    
    #saltImageDescriptionThree {
        top: 9%;
    }
    #saltSubFour {
        top: 297px;
    }
    .saltQuote {
        top: 24%;
    }
    #saltSeven {
        top: 14%;
    }
    
    #saltImageDescriptionFour {
        top: 28.5%;
    }
    
    #saltEight {
        top: 14.5%;
        left: 0.9%;
    }
    
    #saltNine {
        top: -21%;
        left: 34.4%;
    }
    #saltSubFive {
        top: 282px;
    }
    
    #saltTen {
        top: 23%;
    }
    #saltImageDescriptionFive {
        top: 16.3%;
    }
    #saltSubSix {
        top: -388px;
    }
    #saltEleven {
        top: 31%;
    }
    .saltQuoteTwo {
        top: 23%;
    }
    #saltImageDescriptionSix {
        top: 26.5%;
    }
    
    #saltSubSeven {
        top: -720px;
    }
    
}

@media (min-width: 1026px) and (max-width: 1299px) 
and (min-height: 799px) and (max-height: 801px)
{
#saltTwo {
    top: -497px;
left: 7.5%;
}

.saltCopyOne {
    top: -65%;
    left: 35.2%;
}

#saltImageDescriptionOne {
    top: -44%;
}

#saltVideoOne {
    height: 56.5vh;
    top: -43%;
}
#saltSubTwo {
    top: 76px;
}

#saltThree {
    top: 33%;
}

#saltFour {
    top: 28%;
}
#saltImageDescriptionTwo {
 	top: 22.5%;
}

#saltSubThree {
    top: 300px;
}
#saltFive {
    top: 32.5%;
}

#saltSix {
    top: 27%;
}

#saltImageDescriptionThree {
    top: 9%;
}
#saltSubFour {
    top: 172px;
}
.saltQuote {
    top: 24%;
}
#saltSeven {
    top: 13%;
}

#saltImageDescriptionFour {
    top: 27.5%;
}

#saltEight {
    top: 13%;
    left: 0.9%;
}

#saltNine {
    top: -20.5%;
    left: 34.4%;
}
#saltSubFive {
    top: 102px;
}

#saltTen {
    top: 25%;
}
#saltImageDescriptionFive {
    top: 19.3%;
}
#saltSubSix {
    top: -578px;
}
#saltEleven {
    top: 30%;
}
.saltQuoteTwo {
    top: 22%;
}
#saltImageDescriptionSix {
    top: 25.5%;
}

#saltSubSeven {
    top: -964px;
}

}

@media (min-width: 1300px) and (max-width: 1399px) 
and (min-height: 539px) and (max-height: 679px)
{

    #saltSubOne
    {
        top: -5vh;
    }
    
    .saltCopyOne 
    {
        top: -834px;
    }
    #saltTwo 
    {
        top: -44%;
        left: 7.6%;
    }
    #saltImageDescriptionOne {
        top: -62%;
    }
    #saltVideoOne {
        top: -60.5%;
        left: -49.7%;
    }
    #saltSubTwo {
        top: 310px;
    }
    #saltThree {
        top: 46%;
    }
    #saltFour {
        top: 43%;
    }
    #saltImageDescriptionTwo {
        top: 39%;
    }
    #saltSubThree {
        top: 1005px;
    }
    #saltFive {
        top: 45%;
    }
    #saltSix {
        top: 41%;
        left: 7.6%;
    }
    #saltImageDescriptionThree {
        top: 12%;
    }
    #saltSubFour {
        top: 1330px;
    }
    .saltQuote {
        top: 32%;
    }
    #saltSeven {
        top: 20%;
    left: 34.5%;
    }
    #saltImageDescriptionFour {
        top: 38%;
    }
    #saltNine {
        top: -34%;
        left: 34.5%;
    }
    #saltEight {
        top: 20.5%;
        left: 0.8%;
    }
    #saltSubFive {
        top: 1730px;
    }
    #saltSubSix {
        top: 1400px;
    }
    #saltEleven {
        top: 41%;
    }
    .saltQuoteTwo {
        top: 31%;
    }
    #saltImageDescriptionFive {
        top: 14.2%;
    }
    #saltImageDescriptionSix {
        top: 35.5%;
    }
    #saltSubSeven {
        top: 1370px;
        height: 60vh;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) 
and (min-height: 680px) and (max-height: 749px)
{

    #saltSubOne
    {
        top: -5vh;
    }
    
    .saltCopyOne 
    {
        top: -76%;
    }
    #saltTwo 
    {
        top: -44%;
        left: 7.6%;
    }
    #saltImageDescriptionOne {
        top: -49%;
    }
    #saltVideoOne {
        top: -47.5%;
        left: -49.7%;
    }
    #saltSubTwo {
        top: 90px;
    }
    #saltThree {
        top: 41%;
    }
    #saltFour {
        top: 37%;
    }
    #saltImageDescriptionTwo {
        top: 32%;
    }
    #saltSubThree {
        top: 535px;
    }
    #saltFive {
        top: 41%;
    }
    #saltSix {
        top: 36%;
        left: 7.6%;
    }
    #saltImageDescriptionThree {
        top: 14%;
    }
    #saltSubFour {
        top: 611px;
    }
    .saltQuote {
        top: 26%;
    }
    #saltSeven {
        top: 20%;
    left: 34.5%;
    }
    #saltImageDescriptionFour {
        top: 32%;
    }
    #saltNine {
        top: -21%;
        left: 34.5%;
    }
    #saltEight {
        top: 20.5%;
        left: 0.8%;
    }
    #saltSubFive {
        top: 750px;
    }
    #saltSubSix {
        top: 170px;
    }
    #saltEleven {
        top: 37%;
    }
    .saltQuoteTwo {
        top: 28%;
    }
    #saltImageDescriptionSix {
        top: 31.5%;
    }
    #saltSubSeven {
        top: -48px;
        height: 60vh;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) 
and (min-height: 750px) and (max-height: 780px)
{

#saltSubOne
{
    top: -5vh;
}

.saltCopyOne 
{
    top: -68%;
}
#saltTwo 
{
    top: -38%;
    left: 7.6%;
}
#saltImageDescriptionOne {
    top: -46%;
}
#saltVideoOne {
    top: -40.5%;
    left: -49.7%;
}
#saltSubTwo {
    top: 4vh;
}
#saltThree {
    top: 39%;
}
#saltFour {
    top: 34%;
}
#saltImageDescriptionTwo {
    top: 29%;
}
#saltSubThree {
    top: 47vh;
}
#saltFive {
    top: 39%;
}
#saltSix {
    top: 34%;
    left: 7.6%;
}
#saltImageDescriptionThree {
    top: 13%;
}
#saltSubFour {
    top: 45vh;
}
.saltQuote {
    top: 26%;
}
#saltSeven {
    top: 20%;
left: 34.5%;
}
#saltImageDescriptionFour {
    top: 32%;
}
#saltNine {
    top: -17%;
    left: 34.5%;
}
#saltEight {
    top: 20.5%;
    left: 0.8%;
}
#saltSubFive {
    top: 49vh;
}
#saltSubSix {
    top: -37vh;
}
#saltEleven {
    top: 37%;
}
.saltQuoteTwo {
    top: 28%;
}
#saltImageDescriptionSix {
    top: 31.5%;
}
#saltSubSeven {
    top: -76vh;
    height: 60vh;
}
}

@media (min-width: 1300px) and (max-width: 1399px) 
and (min-height: 781px) and (max-height: 1025px)
{

#saltSubOne
{
    top: -51px;
}

.saltCopyOne 
{
    top: -48%;
}
#saltTwo 
{
    top: -38%;
    left: 7.6%;
}
#saltImageDescriptionOne {
    top: -36%;
}
#saltVideoOne {
    top: -34.5%;
    left: -49.7%;
}
#saltSubTwo {
    top: -337px;
}
#saltThree {
    top: 34%;
}
#saltFour {
    top: 29%;
}
#saltImageDescriptionTwo {
    top: 23%;
}
#saltSubThree {
    top: -358px;
}
#saltFive {
    top: 34%;
}
#saltSix {
    top: 28%;
    left: 7.6%;
}
#saltImageDescriptionThree {
    top: 13%;
}
#saltSubFour {
    top: -757px;
}
.saltQuote {
    top: 26%;
}
#saltSeven {
    top: 20%;
left: 34.5%;
}
#saltImageDescriptionFour {
    top: 29%;
}
#saltNine {
    top: -7.5%;
    left: 34.5%;
}
#saltEight {
    top: 20.5%;
    left: 0.8%;
}
#saltSubFive {
    top: -1093px;
}
#saltSubSix {
    top: -2120px;
}
#saltEleven {
    top: 33%;
}
.saltQuoteTwo {
    top: 26%;
}
#saltImageDescriptionSix {
    top: 28.5%;
}
#saltSubSeven {
    top: -2678px;
    height: 60vh;
}
}

@media (min-width: 1400px) and (max-width: 1499px) 
{
        .saltContainer .copyText {
        top: 18%;
        }	
            
        #saltSubOne	.copyText {
            top: -75.5%;
        }
        #saltVideoOne {
            height: 48.3vh;
            top: -43%;
        }
        #saltSubTwo {
            top: 20.4vh;
        }
        
        #saltSubThree {
            top: 71.5vh;
        }
            #saltSubFour {
            top: 74.8vh;
        }
        .saltQuote {
            top: 24% !important;
        }
        #saltNine {
            top: -21%;
        }
        #saltEight {
            top: 18%;
            left: 1.07%;
        }
        #saltSubSix {
            top: 2.8vh;
        }
        #saltEleven {
            top: 34.6%;
        }
        #saltImageDescriptionSix {
            top: 29%;
        }
        
        .saltQuoteTwo {
            top: 25.6% !important;
        }
        #saltSubSeven {
            top: -32.5vh;
            height: 20vh;
        }
        #saltImageDescriptionSeven {
            top: 25%;
        }
        .endlineSaltTwo {
            top: 40%;
        }
        #saltImageDescriptionEight {
            top: 60%;
        padding-bottom: 4vh;
        }
}
@media (min-width: 1400px) and (max-width: 1499px) 
and (min-height: 800px) and (max-height: 850px)
{
        .saltContainer .copyText {
        top: 18%;
        }	
        #saltImageDescriptionOne {
            top: -44%;
        }   
        #saltSubOne	.copyText {
            top: -860px;
        }
        #saltVideoOne {
            height: 48.3vh;
            top: -43%;
        }
        #saltSubTwo {
            top: 45px;
        }
        #saltThree
        {
            top: 36%;
        }
        #saltSubThree {
            top: 375px;
        }
        #saltFive {
            top: 35%;
        }
        #saltImageDescriptionThree {
            top: 9.2%;
        } 
        #saltSix {
            top: 29%;
        }
            #saltSubFour {
            top: 300px;
        }
        #saltImageDescriptionFour {
            top: 27.2%;
        } 
        #saltSubFive {
            top: 300px;
        }

        .saltQuote {
            top: 24% !important;
        }
        #saltNine {
            top: -18%;
        }
        #saltEight {
            top: 18%;
            left: 1.07%;
        }
        #saltSubSix {
            top: -400px;
        }
        #saltEleven {
            top: 34.6%;
        }
        #saltImageDescriptionSix {
            top: 29%;
        }
        
        .saltQuoteTwo {
            top: 25.6% !important;
        }
        #saltSubSeven {
            top: -730px;
            height: 20vh;
        }
        #saltImageDescriptionSeven {
            top: 25%;
        }
        .endlineSaltTwo {
            top: 40%;
        }
        #saltImageDescriptionEight {
            top: 60%;
        padding-bottom: 4vh;
        }
}

@media (min-width: 1400px) and (max-width: 1499px) 
and (min-height: 851px) and (max-height: 901px)
{

    #saltSubOne	.copyText {
        top:-65.5%;
    }
    .saltContainer .copyText
    { 
        top: 16%;
    }
    #saltVideoOne {
        height: 48.3vh;
        top: -39%;
    }
    #saltThree {
        top: 32%;
      
    }
    #saltFour {
        top: 28%;
      
    }
    #saltFive {
        top: 32%;
      
    }
    #saltSix {
        top: 30%;
      
    }
    #saltSubTwo {
        top: 10px;
    }
    
    #saltSubThree {
        top: 267px;
    }
        #saltSubFour {
            top: 170px;
    }
    .saltQuote {
        top: 24% !important;
    }
    #saltNine {
        top:-15.3%;
    }

    #saltTwo {
        top: -38%;
        left: 7.7%;
    }
    #saltEight {
        top: 18%;
        left: 1.07%;
    }
    #saltSubFive {
        top: 100px;
    }

    #saltSubSix {
        top: -655px;
    }
    #saltEleven {
        top: 29.6% ;
    }
    #saltImageDescriptionSix {
        top: 25%;
    }

    #saltImageDescriptionOne {
        top: -41%;
    }
    #saltImageDescriptionTwo {
        top: 23%;
    }

    #saltImageDescriptionFour {
        top: 26.2%;
        left: 8.3%;
    }
    
    .saltQuoteTwo {
        top: 25.6% !important;
    }
    #saltSubSeven {
        top: -1040px;
        height: 20vh;
    }
    #saltImageDescriptionSeven {
        top: 25%;
    }
    .endlineSaltTwo {
        top: 40%;
    }
    #saltImageDescriptionEight {
        top: 60%;
    padding-bottom: 4vh;
    }
}

@media (min-width: 1500px) and (max-width: 1599px)
{
    #saltImageDescriptionOne {
        top: -57%;
    }
        .saltCopyOne {
        top: -83.9%;
    }
    #saltVideoOne {
        top: -55%;
    }
    #saltSubTwo {
        top: 203px;
    }
    #saltThree {
        top: 45.5%;
    }
    #saltFour {
        top: 41.5%;
    }
    #saltImageDescriptionTwo {
        top: 36.5%;
    }
    #saltSubThree {
        top: 817px;
    }
    #saltFive {
        top: 44%;
    }
    #saltSix {
        top: 39%;
    }
    #saltSeven {
        top: 25.5%;
        left: 34.6%;
    }
    #saltEight {
        top: 24.8%;
        left: 0.9%;
    }
    #saltNine {
        top: -19.2%;
        left: 34.6%;
    }
    #saltSubFour {
        top: 1020px;
    }
    #saltSubFive {
        top: 1330px;
    }
    #saltTen {
        top: 26%;
    }
    #saltImageDescriptionThree {
        top: 14.2%;
    }
    
    #saltSeven {
        top: 20.5%;
    }
    #saltImageDescriptionFive {
        top: 19.2%;
    }
    #saltSubSix {
        top: 800px;
    }
    #saltEleven {
        top: 40%;
    }
        .saltQuote {
        top: 24.3%;
    }
    .saltQuoteTwo {
        top: 31%;
    }
    #saltImageDescriptionSix {
        top: 35%;
    }
    #saltImageDescriptionSeven {
        position: relative;
        top: 7%;
    }
    .endlineSaltTwo {
        top: 13%;
    }
    #saltImageDescriptionEight {
        top: 20%;
    }
    #saltSubSeven {
        top: 710px;
        height: 65vh;
    }
}
@media (min-width: 1500px) and (max-width: 1599px) 
and (min-height: 751px) and (max-height: 780px)
{
    #saltImageDescriptionOne {
        top: -56%;
    }
        .saltCopyOne {
        top: -900px;
    }
    #saltVideoOne {
        top: -55%;
    }
    #saltSubTwo {
        top: 147px;
    }
    #saltThree {
        top: 45.5%;
    }
    #saltFour {
        top: 41.5%;
    }
    #saltImageDescriptionTwo {
        top: 36.5%;
    }
    #saltSubThree {
        top: 732px;
    }
    #saltFive {
        top: 44%;
    }
    #saltSix {
        top: 39%;
    }
    #saltSeven {
        top: 25.5%;
        left: 34.6%;
    }
    #saltEight {
        top: 21.8%;
        left: 0.9%;
    }
    #saltNine {
        top: -21%;
        left: 34.6%;
    }
    #saltSubFour {
        top: 910px;
    }
    #saltSubFive {
        top: 1145px;
    }
    #saltTen {
        top: 26%;
    }
    #saltImageDescriptionThree {
        top: 16.2%;
    }
    #saltSubSix {
        top: 594px;
    }
    #saltSeven {
        top: 20.5%;
    }
    #saltImageDescriptionFour {
        top: 33.2%;
    }
    #saltImageDescriptionFive {
        top: 19.2%;
    }
   
    #saltEleven {
        top: 40%;
    }
        .saltQuote {
        top: 31.3%;
    }
    .saltQuoteTwo {
        top: 31%;
    }
    #saltImageDescriptionSix {
        top: 35%;
    }
    #saltImageDescriptionSeven {
        position: relative;
        top: 7%;
    }
    .endlineSaltTwo {
        top: 13%;
    }
    #saltImageDescriptionEight {
        top: 20%;
    }
    #saltSubSeven {
        top: 507px;
        height: 65vh;
    }
}
@media (min-width: 1500px) and (max-width: 1599px) 
and (min-height: 781px) and (max-height: 810px)
{
    .saltCopyOne {
    top: -76.9%;
}
#saltTwo {
    top: -51%;
}
#saltImageDescriptionOne {
    top: -54%;
}
#saltVideoOne {
    top: -53%;
}
#saltSubTwo {
    top: 122px;
}
#saltThree {
    top: 42.5%;
}
#saltFour {
    top: 38.5%;
}
#saltImageDescriptionTwo {
    top: 32.5%;
}
#saltSubThree {
    top: 657px;
}
#saltFive {
    top: 41%;
}
#saltSix {
    top: 39%;
}
#saltSeven {
    top: 25.5%;
    left: 34.6%;
}
#saltSubFour {
    top: 820px;
}
#saltEight {
    top: 24.8%;
    left: 0.9%;
}
#saltNine {
    top: -19.2%;
    left: 34.6%;
}
#saltSubFive {
    top: 1060px;
}
#saltTen {
    top: 26%;
}
#saltImageDescriptionThree {
    top: 16.2%;
}

#saltSeven {
    top: 20.5%;
}
#saltImageDescriptionFour {
    top: 33.2%;
}
#saltImageDescriptionFive {
    top: 19.2%;
}
#saltSubSix {
    top: 460px;
}
#saltNine {
    top: -16.2%;
}
#saltEleven {
    top: 40%;
}
    .saltQuote {
    top: 29.3%;
}
.saltQuoteTwo {
    top: 31%;
}
#saltImageDescriptionSix {
    top: 35%;
}
#saltImageDescriptionSeven {
    position: relative;
    top: 7%;
}
.endlineSaltTwo {
    top: 13%;
}
#saltImageDescriptionEight {
    top: 20%;
}
#saltSubSeven {
    top: 330px;
    height: 65vh;
}
}
@media (min-width: 1500px) and (max-width: 1599px) 
and (min-height: 811px) and (max-height: 870px)
{
    .saltCopyOne {
    top: -890px;
}
#saltTwo {
    top: -51%;
}
#saltImageDescriptionOne {
    top: -51%;
}
#saltVideoOne {
    top: -50%;
}
#saltSubTwo {
    top: 12px;
}
#saltThree {
    top: 42.5%;
}
#saltFour {
    top: 38.5%;
}
#saltImageDescriptionTwo {
    top: 32.5%;
}
#saltSubThree {
    top: 457px;
}
#saltFive {
    top: 41%;
}
#saltSix {
    top: 37%;
}
#saltSeven {
    top: 25.5%;
    left: 34.6%;
}
#saltSubFour {
    top: 506px;
}
#saltEight {
    top: 20.8%;
    left: 0.9%;
}
#saltNine {
    top: -19.2%;
    left: 34.6%;
}
#saltSubFive {
    top: 562px;
}
#saltTen {
    top: 26%;
}
#saltImageDescriptionThree {
    top: 16.2%;
}

#saltSeven {
    top: 20.5%;
}
#saltImageDescriptionFour {
    top: 33.2%;
}
#saltImageDescriptionFive {
    top: 19.2%;
}
#saltSubSix {
    top: -170px;
}
#saltNine {
    top: -16.2%;
}
#saltEleven {
    top: 40%;
}
    .saltQuote {
    top: 29.3%;
}
.saltQuoteTwo {
    top: 31%;
}
#saltImageDescriptionSix {
    top: 35%;
}
#saltImageDescriptionSeven {
    position: relative;
    top: 7%;
}
.endlineSaltTwo {
    top: 13%;
}
#saltImageDescriptionEight {
    top: 20%;
}
#saltSubSeven {
    top: -390px;
    height: 65vh;
}
}


/* common - 1600×750, 1600×900 */
@media (min-width: 1600px) and (max-width: 1699px) 
{
    .saltCopyOne {
top: -85%;
}
#saltSubTwo {
    top: 35.5vh;
}
#saltThree {
    left: -32.9%;
    top: 40%;
}
#saltFour {
    top: 36%;
}
#saltImageDescriptionTwo {
    top: 31%;
}
#saltSubThree {
    top: 111vh;
}
#saltFive {
    top: 39%;
}
#saltSix {
    top: 34%;
}
#saltImageDescriptionThree {
    top: 9.2%;
}
#saltSubFour {
    top: 130vh;
}
#saltSeven {
    top: 17.5%;
    left: 34.6%;
}
#saltImageDescriptionFour {
    top: 30.2%;
}
#saltEight {
    top: 18%;
    left: 1.05%;
}
#saltNine {
    top: -26.6%;
    left: 34.6%;
}
#saltSubFive {
    top: 155vh;
}
#saltTen {
    top: 26%;
}
#saltSubSix {
    top: 78.5vh;
}
#saltEleven {
    top: 35.5%;
}
#saltImageDescriptionSix {
    top: 30.5%;
}
.saltQuoteTwo {
    top: 26.5%;
}
#saltImageDescriptionSeven {
    top: 19%;
}
.endlineSaltTwo {
    top: 33%;
}
#saltImageDescriptionEight {
    top: 51%;
}
#saltSubSeven {
    top: 45vh;
}
}
@media (min-width: 1600px) and (max-width: 1699px) 
and (min-height: 786px) and (max-height: 830px)
{
    .saltCopyOne {
top: -930px;
}
#saltImageDescriptionOne {
    top: -46%;
}
#saltSubTwo {
    top: 125px;
}
#saltThree {
    left: -32.9%;
    top: 40%;
}
#saltFour {
    top: 36%;
}
#saltImageDescriptionTwo {
    top: 31%;
}
#saltSubThree {
    top: 620px;
}
#saltFive {
    top: 37%;
}
#saltSix {
    top: 32%;
}
#saltImageDescriptionThree {
    top: 9.2%;
}
#saltSubFour {
    top: 655px;
}
.saltQuote
{
    top: 27%;
}
#saltSeven {
    top: 17.5%;
    left: 34.6%;
}
#saltImageDescriptionFour {
    top: 30.2%;
}
#saltEight {
    top: 18%;
    left: 1.05%;
}
#saltNine {
    top: -22.6%;
    left: 34.6%;
}
#saltSubFive {
    top: 720px;
}
#saltTen {
    top: 26%;
}
#saltSubSix {
    top: 41px;
}
#saltEleven {
    top: 35.5%;
}
#saltImageDescriptionSix {
    top: 30.5%;
}
.saltQuoteTwo {
    top: 28%;
}
#saltImageDescriptionSeven {
    top: 19%;
}
.endlineSaltTwo {
    top: 33%;
}
#saltImageDescriptionEight {
    top: 51%;
}
#saltSubSeven {
    top: -280px;
}
}
@media (min-width: 1600px) and (max-width: 1699px) 
and (min-height: 831px) and (max-height: 900px)
{
    .saltCopyOne {
        top: -72%;
}
#saltImageDescriptionOne {
    top: -44%;
}

#saltVideoOne
{
    top: -42%;
}

#saltSubTwo {
    top: 66px;
}
#saltThree {
    left: -32.9%;
    top: 33%;
}
#saltFour {
    top: 29%;
}
#saltImageDescriptionTwo {
    top: 23%;
}
#saltSubThree {
    top: 440px;
}
#saltFive {
    top: 32%;
}
#saltSix {
    top: 26%;
}
#saltImageDescriptionThree {
    top: 5.2%;
}
#saltSubFour {
    top: 360px;
}
#saltSeven {
    top: 17.5%;
    left: 34.6%;
}
#saltImageDescriptionFour {
    top: 28.2%;
}
#saltEight {
    top: 18%;
    left: 1.05%;
}
#saltNine {
    top: -19.2%;
    left: 34.6%;
}
#saltSubFive {
    top: 380px;
}
#saltTen {
    top: 26%;
}
#saltSubSix {
    top: -340px;
}
#saltEleven {
    top: 28.5%;
}
#saltImageDescriptionSix {
    top: 23.5%;
}
.saltQuoteTwo {
    top: 20.5%;
}
#saltImageDescriptionSeven {
    top: 19%;
}
.endlineSaltTwo {
    top: 33%;
}
#saltImageDescriptionEight {
    top: 51%;
}
#saltSubSeven {
    top: -830px;
}
}
@media (min-width: 1600px) and (max-width: 1699px) 
and (min-height: 901px) and (max-height: 1051px)
{
    .saltCopyOne {
top: -65.5%;
}
#saltImageDescriptionOne {
    top: -36%;
}
#saltTwo {
    top: -33%;
}
#saltVideoOne
{
    top: -34%;
}

#saltSubTwo {
    top: 5px;
}
#saltThree {
    left: -32.9%;
    top: 28%;
}
#saltFour {
    top: 23%;
}
#saltImageDescriptionTwo {
    top: 17%;
}
#saltSubThree {
    top: 200px;
}
#saltFive {
    top: 28%;
}
#saltSix {
    top: 22%;
}
#saltImageDescriptionThree {
    top: 4.2%;
}
#saltSubFour {
    top: -40px;
}
.saltQuote
{
    top: 21%;
}
#saltSeven {
    top: 15.5%;
    left: 34.6%;
}
#saltImageDescriptionFour {
    top: 24.2%;
}
#saltEight {
    top: 17%;
    left: 1.05%;
}
#saltNine {
    top: -16.6%;
    left: 34.6%;
}
#saltSubFive {
    top: -210px;
}
#saltTen {
    top: 22%;
}
#saltSubSix {
    top: -1140px;
}
#saltEleven {
    top: 25.5%;
}
#saltImageDescriptionSix {
    top: 19.5%;
}
.saltQuoteTwo {
    top: 17.5%;
}
#saltImageDescriptionSeven {
    top: 19%;
}
.endlineSaltTwo {
    top: 33%;
}
#saltImageDescriptionEight {
    top: 51%;
}
#saltSubSeven {
    top: -1850px;
}
}

@media (min-width: 1900px) and (max-width: 1999px)
{
    .saltContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
    height: 100%;
}

#saltSubTwo
{
    top: 97px;
}

#saltSubThree
{
    top: 613px;
}

#saltSubFour
{
    top: 626px;
}

#saltSubFive
{
    top: 702px;
}

#saltSubSix
{
    top: -183px;
}

#saltSubSeven
{
    top: -615px;
    height: 20vh;
}

#saltOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#saltTwo
{
    position: relative;
    z-index: 0;
    top: -41%;
    left: 7.7%;
    visibility: hidden;
}

#saltThree
{
    position: relative;
    z-index: 0;
    top: 37%;
    left: -32.9%;
}

#saltFour
{
    position: relative;
    z-index: 0;
    top: 32%;
    left: -32.9%;
}

#saltFive
{
    position: relative;
    z-index: 0;
    top: 37%;
    left: -32.9%;
}

#saltSix
{
    position: relative;
    z-index: 0;
    top: 32%;
    left: 7.7%;
}

#saltSeven
{
    position: relative;
    z-index: 0;
    top: 16%;
    left: 34.7%;
}

#saltEight
{
    position: relative;
    z-index: 0;
    top: 17%;
    left: 1.2%;
}

#saltNine
{
    position: relative;
    z-index: 0;
    top: -19.8%;
    left: 34.7%;
}

#saltTen
{
    position: relative;
    z-index: 0;
    top: 25%;
    left: 7.6%;
}

#saltEleven
{
    position: relative;
    z-index: 0;
    top: 32%;
    left: -5.3%;
    width: 102vw;
    height: auto;
}

.saltCopyOne
{
    position: relative;
    top: -72%;
    left: 35.2%;
    width: 26%;
}

#saltImageDescriptionOne
{
    position: relative;
    top: -48%;
    left: 35.3%;
    width: 10%;
}

#saltImageDescriptionTwo
{
    position: relative;
    top: 26%;
    left: 35.3%;
    width: 13%;
}

#saltImageDescriptionThree
{
    position: relative;
    top: 11.2%;
    left: 35.3%;
    width: 13%
}

#saltImageDescriptionFour
{
    position: relative;
    top: 29.2%;
    left: 8.3%;
    width: 13%;
}

#saltImageDescriptionFive
{
    position: relative;
    top: 18.2%;
    left: 35.3%;
    width: 13%;
}

#saltImageDescriptionSix
{
    position: relative;
    top: 27.5%;
    left: 35.3%;
    width: 14%;
}

#saltImageDescriptionSeven
{
    position: relative;
    top: 2%;
    left: 35.3%;
    width: 19%;
}

#saltImageDescriptionEight
{
    position: relative;
    top: 10%;
    left: 35.3%;
    width: 21%;
}

#saltVideoOne
{
    position: relative;
    width: 45.7vw;
    height: 45.7vh;
    top: -47%;
    left: -49.7%;
}

.saltQuote
{
    position: relative;
    width: 16%;
    left: 8.3%;
    top: 24%;
}

.saltQuoteTwo
{
    position: relative;
    width: 18%;
    left: 8.3%;
    top: 24%;
}

.endlineSalt
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineSaltTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 2px dotted black
}

}
@media (min-width: 1900px) and (max-width: 1999px) 
and (min-height: 920px) and (max-height: 950px)
{
    .saltContainer
    {
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
    height: 100%;
    }

#saltSubTwo
{
    top: 236px;
}

#saltSubThree
{
    top: 990px;
}

#saltSubFour
{
    top: 1250px;
}

#saltSubFive
{
    top: 1510px;
}

#saltSubSix
{
    top: 850px;
}

#saltSubSeven
{
    top: 680px;
    height: 20vh;
}

#saltOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#saltTwo
{
    position: relative;
    z-index: 0;
    top: -48%;
    left: 7.7%;
}

#saltThree
{
    position: relative;
    z-index: 0;
    top: 44%;
    left: -32.9%;
}

#saltFour
{
    position: relative;
    z-index: 0;
    top: 40%;
    left: -32.9%;
}

#saltFive
{
    position: relative;
    z-index: 0;
    top: 44%;
    left: -32.9%;
}

#saltSix
{
    position: relative;
    z-index: 0;
    top: 40%;
    left: 7.7%;
}

#saltSeven
{
    position: relative;
    z-index: 0;
    top: 16%;
    left: 34.7%;
}

#saltEight
{
    position: relative;
    z-index: 0;
    top: 17%;
    left: 1.2%;
}

#saltNine
{
    position: relative;
    z-index: 0;
    top: -25.8%;
    left: 34.7%;
}

#saltTen
{
    position: relative;
    z-index: 0;
    top: 30%;
    left: 7.6%;
}

#saltEleven
{
    position: relative;
    z-index: 0;
    top: 40%;
    left: -5.3%;
    width: 102vw;
    height: auto;
}

.saltCopyOne
{
    position: relative;
    top: -82.5%;
    left: 35.2%;
    width: 26%;
}

#saltImageDescriptionOne
{
    position: relative;
    top: -56%;
    left: 35.3%;
    width: 10%;
}

#saltImageDescriptionTwo
{
    position: relative;
    top: 35%;
    left: 35.3%;
    width: 13%;
}

#saltImageDescriptionThree
{
    position: relative;
    top: 16.2%;
    left: 35.3%;
    width: 13%
}

#saltImageDescriptionFour
{
    position: relative;
    top: 29.2%;
    left: 8.3%;
    width: 13%;
}

#saltImageDescriptionFive
{
    position: relative;
    top: 18.2%;
    left: 35.3%;
    width: 13%;
}

#saltImageDescriptionSix
{
    position: relative;
    top: 36%;
    left: 35.3%;
    width: 14%;
}

#saltImageDescriptionSeven
{
    position: relative;
    top: 2%;
    left: 35.3%;
    width: 19%;
}

#saltImageDescriptionEight
{
    position: relative;
    top: 10%;
    left: 35.3%;
    width: 21%;
}

#saltVideoOne
{
    position: relative;
    width: 45.7vw;
    height: 45.7vh;
    top: -55%;
    left: -49.7%;
}

.saltQuote
{
    position: relative;
    width: 16%;
    left: 8.3%;
    top: 24%;
}

.saltQuoteTwo
{
    position: relative;
    width: 18%;
    left: 8.3%;
    top: 31%;
}

.endlineSalt
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineSaltTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 2px dotted black
}
}
@media (min-width: 1900px) and (max-width: 1999px) 
and (min-height: 951px) and (max-height: 1008px)
{
    .saltContainer
    {
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
    height: 100%;
    }

#saltSubTwo
{
    top: 156px;
}

#saltSubThree
{
    top: 770px;
}

#saltSubFour
{
    top: 870px;
}

#saltSubFive
{
    top: 1040px;
}

#saltSubSix
{
    top: 250px;
}

#saltSubSeven
{
    top: -70px;
    height: 20vh;
}

#saltOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#saltTwo
{
    position: relative;
    z-index: 0;
    top: -48%;
    left: 7.7%;
}

#saltThree
{
    position: relative;
    z-index: 0;
    top: 39%;
    left: -32.9%;
}

#saltFour
{
    position: relative;
    z-index: 0;
    top: 35%;
    left: -32.9%;
}

#saltFive
{
    position: relative;
    z-index: 0;
    top: 39%;
    left: -32.9%;
}

#saltSix
{
    position: relative;
    z-index: 0;
    top: 34%;
    left: 7.7%;
}

#saltSeven
{
    position: relative;
    z-index: 0;
    top: 16%;
    left: 34.7%;
}

#saltEight
{
    position: relative;
    z-index: 0;
    top: 17%;
    left: 1.2%;
}

#saltNine
{
    position: relative;
    z-index: 0;
    top: -22.8%;
    left: 34.7%;
}

#saltTen
{
    position: relative;
    z-index: 0;
    top: 26%;
    left: 7.6%;
}

#saltEleven
{
    position: relative;
    z-index: 0;
    top: 34%;
    left: -5.3%;
    width: 102vw;
    height: auto;
}

.saltCopyOne
{
    position: relative;
    top: -1161px;
    left: 35.2%;
    width: 26%;
}

#saltImageDescriptionOne
{
    position: relative;
    top: -52%;
    left: 35.3%;
    width: 10%;
}

#saltImageDescriptionTwo
{
    position: relative;
    top: 29%;
    left: 35.3%;
    width: 13%;
}

#saltImageDescriptionThree
{
    position: relative;
    top: 12.2%;
    left: 35.3%;
    width: 13%
}

#saltImageDescriptionFour
{
    position: relative;
    top: 29.2%;
    left: 8.3%;
    width: 13%;
}

#saltImageDescriptionFive
{
    position: relative;
    top: 18.2%;
    left: 35.3%;
    width: 13%;
}

#saltImageDescriptionSix
{
    position: relative;
    top: 29%;
    left: 35.3%;
    width: 14%;
}

#saltImageDescriptionSeven
{
    position: relative;
    top: 2%;
    left: 35.3%;
    width: 19%;
}

#saltImageDescriptionEight
{
    position: relative;
    top: 10%;
    left: 35.3%;
    width: 21%;
}

#saltVideoOne
{
    position: relative;
    width: 45.7vw;
    height: 45.7vh;
    top: -51%;
    left: -49.7%;
}

.saltQuote
{
    position: relative;
    width: 16%;
    left: 8.3%;
    top: 26%;
}

.saltQuoteTwo
{
    position: relative;
    width: 18%;
    left: 8.3%;
    top: 26%;
}

.endlineSalt
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineSaltTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 2px dotted black
}
}
@media (min-width: 1900px) and (max-width: 1999px) 
and (min-height: 1101px) and (max-height: 1210px)
{
    .saltContainer
    {
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
    height: 100%;
    }

#saltSubTwo
{
    top: 29px;
}

#saltSubThree
{
    top: 430px;
}

#saltSubFour
{
    top: 250px;
}

#saltSubFive
{
    top: 150px;
}

#saltSubSix
{
    top: -870px;
}

#saltSubSeven
{
    top: -1460px;
    height: 20vh;
}

#saltOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#saltTwo
{
    position: relative;
    z-index: 0;
    top: -39%;
    left: 7.7%;
}

#saltThree
{
    position: relative;
    z-index: 0;
    top: 35%;
    left: -32.9%;
}

#saltFour
{
    position: relative;
    z-index: 0;
    top: 31%;
    left: -32.9%;
}

#saltFive
{
    position: relative;
    z-index: 0;
    top: 33%;
    left: -32.9%;
}

#saltSix
{
    position: relative;
    z-index: 0;
    top: 27%;
    left: 7.7%;
}

#saltSeven
{
    position: relative;
    z-index: 0;
    top: 13%;
    left: 34.7%;
}

#saltEight
{
    position: relative;
    z-index: 0;
    top: 14%;
    left: 1.2%;
}

#saltNine
{
    position: relative;
    z-index: 0;
    top: -18.8%;
    left: 34.7%;
}

#saltTen
{
    position: relative;
    z-index: 0;
    top: 25%;
    left: 7.6%;
}

#saltEleven
{
    position: relative;
    z-index: 0;
    top: 29%;
    left: -5.3%;
    width: 102vw;
    height: auto;
}

.saltCopyOne
{
    position: relative;
    top: -66%;
    left: 35.2%;
    width: 26%;
}

#saltImageDescriptionOne
{
    position: relative;
    top: -43%;
    left: 35.3%;
    width: 10%;
}

#saltImageDescriptionTwo
{
    position: relative;
    top: 25%;
    left: 35.3%;
    width: 13%;
}

#saltImageDescriptionThree
{
    position: relative;
    top: 8.2%;
    left: 35.3%;
    width: 13%
}

#saltImageDescriptionFour
{
    position: relative;
    top: 25.2%;
    left: 8.3%;
    width: 13%;
}

#saltImageDescriptionFive
{
    position: relative;
    top: 18.2%;
    left: 35.3%;
    width: 13%;
}

#saltImageDescriptionSix
{
    position: relative;
    top: 23.5%;
    left: 35.3%;
    width: 14%;
}

#saltImageDescriptionSeven
{
    position: relative;
    top: 2%;
    left: 35.3%;
    width: 19%;
}

#saltImageDescriptionEight
{
    position: relative;
    top: 10%;
    left: 35.3%;
    width: 21%;
}

#saltVideoOne
{
    position: relative;
    width: 45.7vw;
    height: 45.7vh;
    top: -41%;
    left: -49.7%;
}

.saltQuote
{
    position: relative;
    width: 16%;
    left: 8.3%;
    top: 24%;
}

.saltQuoteTwo
{
    position: relative;
    width: 18%;
    left: 8.3%;
    top: 21%;
}

.endlineSalt
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineSaltTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 3%;
    left: 0%;
    border-bottom: 2px dotted black
}
}