.sedimentContainer
{
    max-width: 100vw;
    flex: 100%;
    /* height: 100vh; */
    display: block;
    z-index: 10;
}

#sedimentOne
{
    position: relative;
    top: 0.5vh;
    left: -6vw;
    width: 105vw;
    height: auto;
    z-index: -10;
}

#sedimentTwo
{
    position: absolute;
    left: -6.2vw;
    top: 51%;
}

#sedimentThree
{
    position: relative;
    left: 26vw;
    top: -120%;
    width: 40vw;
}

#sedimentFour
{
    position: relative;
    left: 34.6%;
    top: -22%;
    width: 31.3vw;
}

#sedimentFive
{
    position: absolute;
    left: 8.2%;
    top: 45%;
    width: 19vw;
}

#sedimentSix
{
    position: absolute;
    left: 15.5%;
    top: 10%;
}

#sedimentSeven
{
    position: absolute;
    left: 34.2%;
    top: 19%; 
}

#sedimentEight
{
    position: absolute;
    left: 34.2%;
    top: 75%;
    width: 32vw;
    z-index: -3;
}

#sedimentNine
{
    position: relative;
    left: -32.9%;
    top: -10%;
    z-index: -5;
    width: 45.7vw;
}

#sedimentTen
{
    position: relative;
    left: 7.4%;
    top: -28%;
    z-index: -5;
}

#sedimentEleven
{
    position: absolute;
    left: 40.5%;
    top: 134%;
}

#sedimentTwelve
{
    position: absolute;
    left: 12.8%;
    top: 2%;
}

#sedimentThirteen
{
    position: relative;
    left: 34.5%;
    top: 19.4%;
}

#sedimentFourteen
{
    position: absolute;
    left: 32.2%;
    top: -14%;
}

#sedimentFifteen
{
    position: relative;
    left: 1.1%;
    top: 55%;
    width: 31vw;
    z-index: 5;
}


#sedimentCopy
{
    font-size: 34px;
    line-height: 36px;
    top: 16.1%;
}

.copyTextLeft
{
    position: absolute;
    top: 23%;
    left: 1.8%;
    width: 26%;
    text-align: left;
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
}

/* #sedimentOne
{
    top: 7vh;
    left: 3vw;
} */

#sedimentSubTwo
{
    top: 5vh
}

#sedimentSubThree
{
    top: 15vh;
}

#sedimentSubFour
{
    top: -70vh;
}

#sedimentSubSix
{
    top: -105vh;
}

#sedimentSubFive
{
    top: -120vh;
}

#sedimentSubSeven
{
    top: -15vh;
}

#sedimentSubEight
{
    top: -88vh;
}

#sedimentSubNine
{   
    top: -156vh;
}

#sedimentSubTen
{
    top: -155vh;
}

#sedimentGridOne
{
    position: relative;
    top: 11%;
    left: -43.2%;
}

#sedimentGridTwo
{
    position: relative;
    top: -75.5%;
    left: -16.3%;
}

#sedimentGridThree
{
    position: relative;
    top: 20%;
    left: -16%;
}

#sedimentGridFour
{
    position: absolute;
    top: 60vh;
    left: 33vw;
}

#sedimentGridFive
{
    position: absolute;
    top: 60vh;
    left: 48.7vw;
}

#sedimentGridSix 
{
    position: absolute;
    top: 75%;
    left: 1vw;
}

#sedimentGridEight
{
    position: absolute;
    top: 1%;
    left: 15%;
}

#sedimentGridSeven
{
    position: relative;
    top: -3%;
    left: -47.5%;
}

#sedimentGridNine
{
    position: absolute;
    top: 1%;
    left: 31%;
}

#sedimentGridTen
{
    position: relative;
    top: 18%;
    left: -16.15%;
}

#sedimentGridEleven
{
    position: relative;
    top: 20%;
    left: -16.2%;
}

#sedimentGridTwelve
{
    position: relative;
    top: 37%;
    left: -49.5%;
}

#sedimentGridThirteen
{
    position: relative;
    left: -16.3%;
    top: -67%;
}

#sedimentImageDescriptionOne
{
    position: relative;
    left: 8.3%;
    top: -165%;
    width: 14%;
    z-index: 5;
}

#sedimentImageDescriptionTwo
{
    position: relative;
    left: 35.3%;
    top: -20%;
    width: 13%;
}

#sedimentImageDescriptionThree
{
    position: relative;
    left: 8.3%;
    top: 12%;
    width: 13%;
}

#sedimentImageDescriptionFour
{
    position: absolute;
    left: 1%;
    top: 135%;
    width: 25%;
}

#sedimentImageDescriptionFive
{
    position: relative;
    left: 8.3%;
    top: 27%;
    width: 14%;
}

#sedimentImageDescriptionSix
{
    position: relative;
    left: 8.3%;
    top: -15%;
    width: 12%;
    z-index: -5;
}

#sedimentImageDescriptionSeven
{
    position: relative;
    left: 52%;
    top: 20.5%;
    width: 14%;
}

#sedimentImageDescriptionEight
{
    position: relative;
    left: 35.3%;
    top: -30%;
    width: 14%;
}

#sedimentImageDescriptionNine
{
    position: relative;
    left: 12%;
    top: 72%;
    width: 13%;
}

#sedimentImageDescriptionTen
{
    position: relative;
    left: 52.3%;
    top: -50%;
    width: 12vw;
}

#sedimentImageDescriptionEleven
{
    position: relative;
    left: 8.3%;
    top: -77%;
    width: 14%;
    z-index: -5;
}

#sedimentImageDescriptionTwelve
{
    position: relative;
    left: 8.3%;
    top: 11%;
    width: 14%;
    z-index: -5;
}

#sedimentImageDescriptionThirteen
{
    position: relative;
    left: 52.5%;
    top: -67%;
    width: 12vw;
}

.mediumVideos
{
    width: 30vw;
    margin-left: 25px;
    margin-bottom: 25px;
}

.endlineSediment
{
    width: 64.5vw;
    height: 1vh;
    position: absolute;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineSedimentTwo
{
    width: 64.5vw;
    height: 1vh;
    position: absolute;
    top: 230%;
    left: 0%;
    border-bottom: 2px solid black;
}

.endlineSedimentThree
{
    width: 64.5vw;
    height: 1vh;
    position: absolute;
    top: 142%;
    left: 0%;
    border-bottom: 1px dotted black;
}

#sedimentReferenceContainer
{
    width: 69%;
    height: 35%;
    position: absolute;
    top: 2%;
    border-bottom: black dotted 1px;
}

#referenceBlockOne
{
    position: relative;
    top: 5%;
    left: 51%;
    width: 71%;
    display: block;
}

#referenceBlockTwo
{
    position: absolute;
    top: 5%;
    left: 27%;
    width: 70%;
    display: block;
}

#referenceBlockThree
{
    position: relative;
    top: -77%;
    left: 75.5%;
    width: 65%;
    display: block;
}

.referencesSediment
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}

.sedimentGridText
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 25%;
    height: 50%;
    text-align: left;
    left: 13%;
}

/* sup
{
    font-size: 10px;
    line-height: 0;
} */

#sedimentVideoOne
{
    width: 30vw;
    height: 30vh;
    position: relative;
    left: -0.3%;
    top: 16%;
}

#sedimentVideoTwo
{
    width: 30vw;
    height: 40vh;
    position: relative;
    left: -32.75%;
    top: 45%;
}

#sedimentVideoThree
{
    position: relative;
    left: -3.5%;
    top: 52%;
    width: 105vw;
    height: 105vh;
    z-index: -5;
}

#sedimentVideoFour
{
    position: relative;
    left: -32.7%;
    top: -35%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -5;
}

#sedimentVideoFive
{
    position: relative;
    bottom: 7%;
    left: 3%;
    width: 30vw;
    height: 30vh;
    z-index: -5;
}


#sedimentTitleOne
{
    position: relative;
    top: 0%;
    left: 1.7%;
}

.sedimentCopyOne
{
    position: relative;
    top: 1%;
    left: 8.3%;
}

.sedimentCopyTwo
{
    position: relative;
    top: -3%;
    left: 8.3%;
    width: 19%;
}

.sedimentCopyThree
{
    position: relative;
    top: 50%;
    left: 8.3%;
    width: 19%;
}

.sedimentCopyFour
{
    position: relative;
    top: -3%;
    left: 8.3%;
    width: 25%;
}

.sedimentCopyFive
{
    position: relative;
    top: 24%;
    left: 1.7%;
    width: 25%;
}

.sedimentCopySix
{
    position: relative;
    top: 24%;
    left: 8.3%;
    width: 16%;
}

.sedimentcopySeven
{
    position: relative;
    top: 25%;
    left: 1.9%;
}

#sedimentGridImage
{
    position: relative;
    top: 40%;
    margin-right: 1vw;
    width: 14.5vw;
    height: auto;
}

#sedimentGirdImageTwo
{
    width: 23.5vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none
}