.sedimentContainer
{
    max-width: 100vw;
    flex: 100%;
    /* height: 100vh; */
    display: block;
    z-index: 10;
}

#sedimentOne
{
    position: relative;
    top: 0.5vh;
    left: -6vw;
    width: 105vw;
    height: auto;
    z-index: -10;
}

#sedimentTwo
{
    position: relative;
    left: -6.2vw;
    top: 51%;
}

#sedimentThree
{
    position: relative;
    left: 26vw;
    top: -120%;
    width: 40vw;
}

#sedimentFour
{
    position: relative;
    left: 34.6%;
    top: -22%;
    width: 31.3vw;
}

#sedimentFive
{
    position: relative;
    left: 8.2%;
    top: 45%;
    width: 19vw;
}

#sedimentSix
{
    position: relative;
    left: 15.5%;
    top: 10%;
}

#sedimentSeven
{
    position: relative;
    left: 34.7%;
    top: -0.5%; 
}

#sedimentEight
{
    position: relative;
    left: 34.2%;
    top: -96%;
    width: 32vw;
    z-index: -3;
}

#sedimentNine
{
    position: relative;
    left: -32.9%;
    top: -10%;
    z-index: -5;
    width: 30vw;
}

#sedimentTen
{
    position: relative;
    left: 7.4%;
    top: -47%;
    z-index: -5;
}

#sedimentEleven
{
    position: relative;
    left: 40.5%;
    top: 134%;
}

#sedimentTwelve
{
    position: relative;
    left: 12.8%;
    top: 2%;
}

#sedimentThirteen
{
    position: relative;
    left: 34.5%;
    top: 19.4%;
}

#sedimentFourteen
{
    position: relative;
    left: 32.2%;
    top: -14%;
}

#sedimentFifteen
{
    position: relative;
    left: 1.1%;
    top: -19.5%;
    width: 31vw;
    z-index: 5;
}


#sedimentCopy
{
    font-size: 34px;
    line-height: 36px;
    top: 16.1%;
}

/* #sedimentOne
{
    top: 7vh;
    left: 3vw;
} */

#sedimentSubTwo
{
    top: 5vh
}

#sedimentSubThree
{
    top: 18vh;
}

#sedimentSubFour
{
    top: -70vh;
}

#sedimentSubSix
{
    top: -105vh;
}

#sedimentSubFive
{
    top: -137vh;
}

#sedimentSubSeven
{
    top: -13vh;
}

#sedimentSubEight
{
    top: -98vh;
}

#sedimentSubNine 
{
    top: -171vh;
}

#sedimentSubTen
{
    top: -167vh;
}

#sedimentGridOne
{
    position: relative;
    top: 11%;
    left: -43.2%;
}

#sedimentGridTwo
{
    position: relative;
    top: -75.5%;
    left: -16.3%;
}

#sedimentGridThree
{
    position: relative;
    top: 20%;
    left: -16%;
}

#sedimentGridFour
{
    position: relative;
    top: 60vh;
    left: 33vw;
}

#sedimentGridFive
{
    position: relative;
    top: 60vh;
    left: 48.7vw;
}

#sedimentGridSix 
{
    position: relative;
    top: -18%;
    left: -49%;
}

#sedimentGridEight
{
    position: relative;
    top: 1%;
    left: 15%;
}

#sedimentGridSeven
{
    position: relative;
    top: -3%;
    left: -47.5%;
}

#sedimentGridNine
{
    position: relative;
    top: 1%;
    left: 31%;
}

#sedimentGridTen
{
    position: relative;
    top: -2.5%;
    left: -16.15%;
}

#sedimentGridEleven
{
    position: relative;
    top: 8.5%;
    left: -16.2%;
}

#sedimentGridTwelve
{
    position: relative;
    top: -18%;
    left: -49.5%;
}

#sedimentGridThirteen
{
    position: relative;
    left: -16.3%;
    top: -82.7%;
}

#sedimentImageDescriptionOne
{
    position: relative;
    left: 8.3%;
    top: -165%;
    width: 14%;
    z-index: 5;
}

#sedimentImageDescriptionTwo
{
    position: relative;
    left: 35.3%;
    top: -20%;
    width: 13%;
}

#sedimentImageDescriptionThree
{
    position: relative;
    left: 8.3%;
    top: 3.8%;
    width: 13%;
}

#sedimentImageDescriptionFour
{
    position: relative;
    left: 1%;
    top: 135%;
    width: 25%;
}

#sedimentImageDescriptionFive
{
    position: relative;
    left: 8.3%;
    top: -105%;
    width: 14%;
}

#sedimentImageDescriptionSix
{
    position: relative;
    left: 8.3%;
    top: -6%;
    width: 12%;
    z-index: -5;
}

#sedimentImageDescriptionSeven
{
    position: relative;
    left: 52%;
    top: 2.5%;
    width: 14%;
}

#sedimentImageDescriptionEight
{
    position: relative;
    left: 35.3%;
    top: -49%;
    width: 14%;
}

#sedimentImageDescriptionNine
{
    position: relative;
    left: 12%;
    top: 72%;
    width: 13%;
}

#sedimentImageDescriptionTen
{
    position: relative;
    left: 52.3%;
    top: -104.5%;
    width: 12vw;
}

#sedimentImageDescriptionEleven
{
    position: relative;
    left: 8.3%;
    top: -89.7%;
    width: 14%;
    z-index: -5;
}

#sedimentImageDescriptionTwelve
{
    position: relative;
    left: 8.3%;
    top: 1%;
    width: 14%;
    z-index: -5;
}

#sedimentImageDescriptionThirteen
{
    position: relative;
    left: 52.5%;
    top: -120%;
    width: 12vw;
}

#sedimentImageDescriptionFourteen
{
    position: relative;
    left: 35.3%;
    top: 3%;
}

#sedimentImageDescriptionFifteen
{
    position: relative;
    left: 52.2%;
    top: -26%;
    width: 14%;
}

.mediumVideos
{
    width: 30vw;
    margin-left: 25px;
    margin-bottom: 25px;
}

.endlineSediment
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineSedimentTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 230%;
    left: 0%;
    border-bottom: 2px solid black;
}

.endlineSedimentThree
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: -129%;
    left: 0%;
    border-bottom: 1px dotted black;
}

#sedimentReferenceContainer
{
    width: 69%;
    height: 35%;
    position: relative;
    top: 2%;
    border-bottom: black dotted 1px;
}

#referenceBlockOne
{
    position: relative;
    top: 5%;
    left: 51%;
    width: 71%;
    display: block;
}

#referenceBlockTwo
{
    position: relative;
    top: 5%;
    left: 27%;
    width: 70%;
    display: block;
}

#referenceBlockThree
{
    position: relative;
    top: -77%;
    left: 75.5%;
    width: 65%;
    display: block;
}

.referencesSediment
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
}

.sedimentGridText
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 25%;
    height: 50%;
    text-align: left;
    left: 13%;
}

/* sup
{
    font-size: 10px;
    line-height: 0;
} */

#sedimentVideoOne
{
    width: 30vw;
    height: 30vh;
    position: relative;
    left: -0.05%;
    top: -9%;
}

#sedimentVideoTwo
{
    width: 30vw;
    height: 40vh;
    position: relative;
    left: -32.75%;
    top: 20%;
}

#sedimentVideoThree
{
    position: relative;
    left: -3.5%;
    top: 41%;
    width: 105vw;
    height: 105vh;
    z-index: -5;
}

#sedimentVideoFour
{
    position: relative;
    left: -32.9%;
    top: -35%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -5;
}

#sedimentVideoFive
{
    position: relative;
    bottom: 7%;
    left: 3%;
    width: 30vw;
    height: 30vh;
    z-index: -5;
}


#sedimentTitleOne
{
    position: relative;
    top: 0%;
    left: 1.7%;
}

.sedimentCopyOne
{
    position: relative;
    top: -1%;
    left: 1.7%;
    width: 25%;
}

.sedimentCopyTwo
{
    position: relative;
    top: -3%;
    left: 8.3%;
    width: 19%;
}

.sedimentCopyThree
{
    position: relative;
    top: 50%;
    left: 8.3%;
    width: 19%;
}

.sedimentCopyFour
{
    position: relative;
    top: -3%;
    left: 8.3%;
    width: 25%;
}

.sedimentCopyFive
{
    position: relative;
    top: 24%;
    left: 1.7%;
    width: 25%;
}

.sedimentCopySix
{
    position: relative;
    top: 22%;
    left: 8.3%;
    width: 16%;
}

.sedimentcopySeven
{
    position: relative;
    top: 24%;
    left: 1.9%;
}

#sedimentCopyEight
{
    position: relative;
    top: 5%;
}

#sedimentCopyNine
{
    position: relative;
    top: 23%;
    left: 1.7%;
    width: 25%;
}

#sedimentCopyTen
{
    position: relative;
    top: 25%;
    width: 25%;
    left: 1.7%;
}

#sedimentCopyEleven
{
    position: relative;
    top: 22%;
    width: 31%;
    left: 1.7%;
}

#sedimentCopyTwelve
{
    position: relative;
    top: 25%;
    width: 31%;
    left: 1.7%;
}

#sedimentCopyThirteen
{
    position: relative;
    top: 25%;
    width: 31%;
    left: 1.7%;
}

#sedimentCopyFourteen
{
    position: relative;
    top: 22%;
    width: 20%;
    left: 8.3%;
}

#sedimentGridImage
{
    position: relative;
    top: -10%;
    margin-right: 0.7vw;
    width: 14.5vw;
    height: auto;
    left: -0.7%;
}

#sedimentGirdImageTwo
{
    width: 23.5vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none
}

@media(max-width: 1299px) 
{
    #sedimentCopy 
    {
        font-size: 22px;
        line-height: 25px;
        top: 20%;
    }

    #sedimentSubTwo 
    {
        top: 60vh;
    }

    #sedimentSubThree 
    {
        top: 80vh;
    }

    #sedimentSubFive 
    {
        top: -60vh;
    }

    #sedimentSubSix 
    {
        top: 3vh;
    }

    #sedimentSubFour 
    {
        top: 5vh;
    }

    #sedimentSubSeven 
    {
        top: 150vh;
    }

    #sedimentSubEight 
    {
        top: 88vh;
    }

    #sedimentSubNine 
    {
        top: 27vh;
    }

    #sedimentSubTen 
    {
        top: 65vh;
    }

    #sedimentCopyOne 
    {
        font-size: 22px;
        line-height: 25px;
        top: 20.1%;
    }

    .sedimentCopyThree 
    {
        top: 60%;
        left: 8.3%;
    }

    #sedimentCopyEleven 
    {
        top: 28%;
    }

    .sedimentCopyFour 
    {
        top: -3%;
        left: 8.3%;
    }

    .sedimentCopySix 
    {
        top: 30%;
        left: 8.3%;
    }

    .sedimentcopySeven 
    {
        top: 33%;
        left: 1.9%;
    }

    #sedimentCopyEight
    {
        top: 30%;
        left: 1.6%;
    }

    #sedimentCopyNine 
    {
        top: 30%;
    }

    .sedimentCopyOne 
    {
        width: 24%;
        top: 2%;
    }

    .sedimentCopyFive 
    {
        top: 30%;
        left: 1.7%;
    }

    #sedimentCopyTen 
    {
        top: 31%;
    }

    #sedimentCopyTwelve
    {
        top: 29%;
    }

    #sedimentGridOne 
    {
        top: 4%;
        left: -44.1%;
    }

    #sedimentGridTwo 
    {
        top: -92%;
        left: -17.1%;
    }

    #sedimentGridSix 
    {
        top: -25%;
        left: -49%;
    }

    #sedimentGridTen 
    {
        top: -1%;
        left: -16.8%;
    }

    #sedimentGridThirteen 
    {
        left: -17.3%;
        top: -100%;
    }

    #sedimentGridEleven 
    {
        top: 10%;
        left: -16.7%;
    }

    #sedimentThree 
    {
        left: 26vw;
        top: -146%;
    }

    #sedimentFour 
    {
        left: 34.5%;
        top: -29%;
        width: 31.6vw;
    }

    #sedimentCopyFourteen 
    {
        top: 28%;
    }

    #sedimentFifteen 
    {
        left: 1%;
        top: -25%;
    }

    #sedimentNine 
    {
        left: -32.9%;
        top: -13%;
    }

    #sedimentSeven 
    {
        position: relative;
        left: 34.2%;
        top: -1%;
    }

    #sedimentEight 
    {
        left: 34.2%;
        top: -123%;
    }

    #sedimentTen 
    {
        left: 7.4%;
        top: -66%;
    }

    #sedimentVideoOne 
    {
        left: 0.2%;
        top: -10%;
    }

    #sedimentVideoTwo 
    {
        left: -32.8%;
        top: 19%;   
    }

    #sedimentVideoThree 
    {
        left: -13.5%;
        top: 44%;
        width: 115vw;
        height: 130vh;
    }

    #sedimentVideoFive 
    {
        bottom: 7%;
        left: 4%;
    }

    #sedimentVideoFour
    {
        left: -32.7%;
        top: -54%;
    }

    #sedimentImageDescriptionOne 
    {
        left: 35.3%;
        top: -154%;
    }

    #sedimentImageDescriptionThree 
    {
        left: 8.3%;
        top: 1%;
        width: 13%;
    }

    #sedimentImageDescriptionFive 
    {
        left: 8.3%;
        top: -134%; 
    }

    #sedimentImageDescriptionSix 
    {
        top: -1%;
    }

    #sedimentImageDescriptionSeven 
    {
        left: 52%;
        top: -1%;
    }

    #sedimentImageDescriptionEight 
    {
        left: 35.3%;
        top: -65%;
    }

    #sedimentImageDescriptionEleven 
    {
        left: 8.3%;
        top: -114%;
        width: 14%;
    }

    #sedimentImageDescriptionTwelve 
    {
        left: 8.3%;
        top: -0.5%;
    }

    #sedimentImageDescriptionTwo 
    {
        top: -29%;
    }

    #sedimentImageDescriptionFourteen 
    {
        left: 35.3%;
        top: 3%;
        width: 15%;
    }

    #sedimentImageDescriptionFifteen 
    {
        left: 52.2%;
        top: -36%;
        width: 14%;
    }

    #sedimentImageDescriptionThirteen 
    {
        left: 52.5%;
        top: -152%;
    }

    #sedimentImageDescriptionTen 
    {
        left: 53.3%;
        top: -134%;
    }

    .endlineSedimentThree 
    {
        top: -161%;
        left: 0%;
    }

    #sedimentGridSeven
    {
        top: -10%;
        left: -46.3%;
    }

    #sedimentGridTwelve 
    {
        top: -30%;
        left: -47%;
    }

    #sedimentCopyThirteen 
    {
        top: 30%;
        left: 1.7%;
    }
}

@media (min-width: 1300px) and (max-width: 1399px) 
{

    #sedimentSubThree 
    {
        top: 10vh;
    }

    #sedimentSubFour 
    {
        top: -85vh;
    }

    #sedimentSubFive 
    {
        top: -153vh;
    }

    #sedimentSubSix 
    {
        top: -130vh;
    }

    #sedimentSubSeven 
    {
        top: -42vh;
    }

    #sedimentSubEight 
    {
        top: -130vh;
    }

    #sedimentSubNine 
    {
        top: -203vh;
    }

    #sedimentSubTen 
    {
        top: -200vh;
    }

    #sedimentMainTitle
    {
        top: 17%;
    }

    #sedimentCopy 
    {
        font-size: 22px;
        line-height: 25px;
        top: 16%;
    }

    .sedimentCopySix 
    {
        top: 27%;
        left: 8.3%;
    }

    .sedimentcopySeven 
    {
        top: 29%;
        left: 1.9%;
    }

    #sedimentGridTwo 
    {
        top: -72.5%;
        left: -17%;
    }

    #sedimentGridOne 
    {
        top: 11%;
        left: -44%;
    }

    #sedimentGridSix 
    {
        top: -14%;
        left: -49.2%;
    }

    #sedimentGridTen 
    {
        top: 3.5%;
        left: -16.7%;
    }

    #sedimentGridEleven 
    {
        top: 14.3%;
        left: -16.2%;
    }

    #sedimentGridThirteen 
    {
        left: -17%;
        top: -77.7%;
    }

    #sedimentGridEleven 
    {
        top: 14.3%;
        left: -16.7%;
    }

    #sedimentGridSeven 
    {
        top: -4%;
        left: -46.6%;
    }

    #sedimentFour 
    {
        left: 34.8%;
        top: -14%;
    }

    #sedimentSeven 
    {
        left: 34.4%;
        top: 5.5%;
    }

    #sedimentEight 
    {
        left: 34.6%;
        top: -93%;
    }

    #sedimentNine 
    {
        left: -32.9%;
        top: -3.5%; 
    }

    #sedimentTen 
    {
        left: 7.4%;
        top: -49%;
    }

    #sedimentFifteen 
    {
        left: 1.1%;
        top: -13.9%;
    }

    #sedimentImageDescriptionTwo 
    {
        left: 35.7%;
        top: -12%;
    }

    #sedimentImageDescriptionThree 
    {
        left: 8.3%;
        top: 11.3%;
    }

    #sedimentImageDescriptionFive 
    {
        left: 8.3%;
        top: -101.5%;
    }

    #sedimentImageDescriptionSix 
    {
        left: 8.3%;
        top: 0%;
    }

    #sedimentImageDescriptionTen
    {
        left: 52.3%;
        top: -104%;
    }

    #sedimentImageDescriptionTwelve 
    {
        left: 8.3%;
        top: 6%;
    }

    .sedimentCopyThree 
    {
        top: 50%;
        left: 8.3%;
    }

    .sedimentCopyFour 
    {
        top: 5%;
        left: 8.3%;
    }

    .sedimentCopyFive 
    {
        top: 29%;
        left: 1.7%;
    }
    
    #sedimentCopyNine 
    {
        top: 28%;
        left: 1.7%;
    }

    #sedimentCopyTen 
    {
        top: 28%;
        left: 1.7%;
    }

    #sedimentCopyEleven 
    {
        top: 29%;
        left: 1.7%;
    }

    #sedimentCopyFourteen 
    {
        top: 26%;
        left: 8.3%;
    }

    #sedimentCopyTwelve 
    {
        top: 27%;
        left: 1.7%;
    }

    #sedimentVideoOne 
    {
        left: -0%;
        top: -2.8%;
    }

    #sedimentVideoTwo 
    {
        left: -33%;
        top: 26%;
    }
    
    #sedimentVideoFive 
    {
        bottom: 7%;
        left: 3.8%;
    }

    .endlineSedimentThree 
    {
        top: -128%;
    }

    #gridImageSediment 
    {
        width: 14.3vw;
        margin-left: 4px;
        height: auto;
    }

}

@media (min-width: 1400px) and (max-width: 1499px) 
{
    #sedimentCopy 
    {
        font-size: 22px;
        line-height: 25px;
        top: 17.5%;
    }

    #sedimentSubTwo 
    {
        top: 21vh;
    }

    #sedimentSubThree 
    {
        top: 31vh;
    }

    #sedimentSubFour 
    {
        top: -62vh;
    }    

    #sedimentSubFive 
    {
        top: -133vh;
    }

    #sedimentSubSix 
    {
        top: -95vh;
    }

    #sedimentSubSeven 
    {
        top: 1vh;
    }

    #sedimentSubEight 
    {
        top: -91vh;
    }

    #sedimentSubNine 
    {
        top: -165vh;
    }

    #sedimentSubTen 
    {
        top: -158vh;
    }

    .sedimentCopyTwo 
    {
        top: -3%;
        left: 8.3%;
        width: 16%;
    }

    .sedimentCopyFour 
    {
        top: 3%;
        left: 8.3%;
        width: 22%;
    }

    .sedimentCopyFive 
    {
        top: 27%;
        left: 1.7%;
        width: 25%;
    }

    #sedimentCopyNine 
    {
        top: 24%;
        left: 1.7%;
        width: 25%;
    }

    #sedimentCopyEleven 
    {
        top: 22%;
        width: 27%;
        left: 1.7%;
    }

    #sedimentCopyFourteen 
    {
        top: 24%;
        width: 17%;
        left: 8.3%;
    }

    .sedimentCopySix 
    {
        top: 24%;
        left: 8.3%;
        width: 16%;
    }

    .sedimentcopySeven 
    {
        top: 26%;
        left: 1.9%;
    }

    #sedimentFifteen 
    {
        left: 1%;
        top: -18.9%;
        width: 31.2vw;
    }

    #sedimentEight 
    {
        left: 34.2%;
        top: -103%;
    }

    #sedimentTen 
    {
        left: 7.8%;
        top: -52%;
    }

    #sedimentCopyTen 
    {
        top: 25%;
        width: 23%;
        left: 1.7%;
    }

    #sedimentGridOne 
    {
        top: 15%;
        left: -43.8%;
    }

    #sedimentGridTwo 
    {
        top: -73.2%;
        left: -16.85%;
    }

    #sedimentGridSix 
    {
        top: -20%;
        left: -49%;
    }

    #sedimentGridEleven 
    {
        top: 11.5%;
        left: -16.5%;
    }

    #sedimentGridThirteen 
    {
        left: -16.9%;
        top: -80%;
    }

    #sedimentGridTen 
    {
        top: 2.5%;
        left: -16.6%;
    }

    #sedimentGridSeven 
    {
        top: -3%;
        left: -46.5%;
    }

    #sedimentThree 
    {
        left: 26vw;
        top: -122%;
    }

    #sedimentFour 
    {
        left: 34.6%;
        top: -20%;
        width: 31.3vw;
    }

    #sedimentSeven 
    {
        left: 34.7%;
        top: 1.4%;
    }

    #sedimentNine 
    {
        left: -32.9%;
        top: -4.5%;
        width: 30vw;
    }

    #sedimentImageDescriptionOne 
    {
        left: 8.3%;
        top: -171.5%;
    }

    #sedimentImageDescriptionTwo 
    {
        left: 35.3%;
        top: -18%;
        width: 13%;
    }

    #sedimentImageDescriptionThree 
    {
        left: 8.3%;
        top: 9.8%;
        width: 13%;
        z-index: 5;
    }

    #sedimentImageDescriptionEleven 
    {
        left: 8.3%;
        top: -85.7%;
    }

    #sedimentImageDescriptionFive 
    {
        left: 8.3%;
        top: -111%;
        width: 14%;
    }

    #sedimentImageDescriptionSix 
    {
        left: 8.3%;
        top: -5%;
    }

    #sedimentImageDescriptionTwelve 
    {
        left: 8.3%;
        top: 3.6%;
    }

    #sedimentImageDescriptionEight 
    {
        left: 35.3%;
        top: -51%;
    }

    #sedimentImageDescriptionThirteen 
    {
        left: 52.5%;
        top: -125.5%;
    }

    #sedimentImageDescriptionFourteen 
    {
        left: 35.3%;
        top: 2%;
    }

    #sedimentImageDescriptionTen 
    {
        left: 52.3%;
        top: -108.4%;
    }

    #sedimentVideoOne 
    {
        left: 0.1%;
        top: -4.2%;
    }

    #sedimentVideoTwo 
    {
        left: -32.8%;
        top: 24.5%;
    }

    #sedimentVideoThree 
    {
        left: -8.5%;
        top: 48%;
        width: 108vw;
        height: 108vh;
    }

    #sedimentVideoFive 
    {
        bottom: 7%;
        left: 3.4%;
        width: 30vw;
        height: 30vh;
    }

    .endlineSedimentThree 
    {
        top: -133%;
    }

    #gridImageSediment 
    {
        width: 14.3vw;
        margin-left: 5px;
    }

}

@media (min-width: 1500px) and (max-width: 1599px) 
{
    #sedimentCopy 
    {
        font-size: 25px;
        line-height: 28px;
        top: 19.1%;
    }

    #sedimentSubTwo 
    {
        top: 35vh;
    }

    #sedimentSubThree {
        top: 80vh;
    }

    #sedimentSubFour {
        top: 5vh;
    }

    #sedimentSubFive {
        top: -65vh;
    }

    #sedimentSubSix {
        top: -29vh;
    }

    #sedimentSubSeven {
        top: 100vh;
    }

    #sedimentSubEight {
        top: 30vh;
    }

    #sedimentSubNine {
        top: -40vh;
    }

    #sedimentSubTen {
        top: -15vh;
    }

    #sedimentGridOne 
    {
        top: 10%;
        left: -43.7%;
    }

    #sedimentGridTwo {
        top: -83.7%;
        left: -17.6%;
    }

    #sedimentGridSix 
    {
        top: -25%;
        left: -49%;
    }

    #sedimentGridEleven {
        top: 8.5%;
        left: -16.5%;
    }

    #sedimentGridThirteen 
    {
        left: -17.6%;
        top: -86.9%;
    }

    #sedimentGridTen {
        top: -3.1%;
        left: -16.4%;
    }

    #sedimentGridSeven 
    {
        top: -1%;
        left: -47.5%;
    }

    #sedimentGridTwelve 
    {
        top: -21%;
        left: -48.5%;
    }

    .sedimentCopyOne 
    {
        top: -1%;
        left: 1.7%;
        width: 31%;
    }

    .sedimentCopyThree 
    {
        top: 62%;
        left: 8.3%;
    }

    .sedimentCopyFour 
    {
        top: -3%;
        left: 8.3%;
    }    

    .sedimentCopyFive 
    {
        top: 30%;
        left: 1.7%;
    }

    .sedimentCopySix {
        top: 26%;
        left: 8.3%;
    }

    .sedimentcopySeven {
        top: 28%;
        left: 1.9%;
    }

    #sedimentCopyTwelve 
    {
        top: 28%;
        left: 1.7%;
    }

    #sedimentCopyFourteen
    {
        top: 26%;
        left: 8.3%;
    }

    #sedimentCopyTen 
    {
        top: 31%;
        left: 1.7%;
    }    

    #sedimentCopyEleven 
    {
        top: 26%;
        left: 1.7%;
    }

    #sedimentCopyTwelve 
    {
        top: 28%;
        left: 1.7%;
    }

    #sedimentCopyThirteen 
    {
        top: 28%;
        left: 1.7%;
    }

    #sedimentCopyThirteen 
    {
        top: 28%;
        left: 1.7%;
    }    

    #sedimentThree 
    {
        left: 26vw;
        top: -130%;
        width: 40vw;
    }

    #sedimentFour 
    {
        left: 34.6%;
        top: -28.5%;
    }

    #sedimentSeven
    {
        left: 34.7%;
        top: -2.5%;
    }

     #sedimentEight 
     {
        left: 34.2%;
        top: -117.5%;
    }

    #sedimentNine 
    {
        left: -32.9%;
        top: -15.5%;
    }

    #sedimentTen 
    {
        left: 7.4%;
        top: -62%;
    }

    #sedimentFifteen
    {
        left: 1.1%;
        top: -25.3%;
    }

    #sedimentImageDescriptionOne 
    {
        left: 8.3%;
        top: -185%;
    }

    #sedimentImageDescriptionTwo 
    {
        left: 35.3%;
        top: -26%;
    }

    #sedimentImageDescriptionThree 
    {
        left: 8.3%;
        top: 2.2%;
    }

    #sedimentImageDescriptionEleven
    {
        left: 8.3%;
        top: -93%;
    }

    #sedimentImageDescriptionFive 
    {
        left: 8.3%;
        top: -125.5%;   
    }

    #sedimentImageDescriptionSix 
    {
        left: 8.3%;
        top: -5%;
    }

    #sedimentImageDescriptionSeven 
    {
        left: 52%;
        top: -2.5%;
    }

    #sedimentImageDescriptionEight 
    {
        left: 35.3%;
        top: -61%;
    }

    #sedimentImageDescriptionTwelve 
    {
        left: 8.3%;
        top: 0%;
    }

    #sedimentImageDescriptionThirteen 
    {
        left: 52.5%;
        top: -137%;
    }

    #sedimentImageDescriptionTen 
    {
        left: 52.3%;
        top: -120.5%;
    }    

    #sedimentVideoOne 
    {
        left: -0.05%;
        top: -11.7%;
    }

    #sedimentVideoTwo 
    {
        left: -32.85%;
        top: 17%;
    }

    #sedimentVideoThree 
    {
        left: -3.5%;
        top: 42%;
    }

    #sedimentVideoFour 
    {
        left: -32.9%;
        top: -36.5%;
    }

    #sedimentVideoFive 
    {
        left: 3.5%;
    }

    .endlineSedimentThree 
    {
        top: -145%;
        left: 0%;
    }
}