.spaceContainer {
	max-width: 100vw;
	flex: 100%;
	height: 100%;
	display: block;
	z-index: 10;
}
#spaceSubTwo {
	top: -35vh;
}
#spaceSubThree {
	top: -70vh;
}
#spaceSubFour {
	top: -32vh;
}
#spaceSubFive {
	top: -89vh;
}
#spaceSubSix {
	top: -113vh;
}
#spaceSubSeven {
	top: -76vh;
}
#spaceSubEight {
	top: -5vh;
	height: 85vh;
}
.copyTextSpace {
	position: relative;
	top: 24%;
	left: 8.3%;
	width: 17%;
}
.copyTextSpaceTwo {
	position: relative;
	top: 25%;
	left: 8.3%;
	width: 20%;
	text-align: left;
}
.copyTextSpaceThree {
	position: relative;
	top: 17%;
	left: 35.3%;
	width: 25%;
}
.copyTextSpaceFour {
	position: relative;
	top: 6%;
	left: 35.3%;
	width: 25%;
}
.copyTextSpaceFive {
	width: 28%;
}
#spaceOne {
	position: relative;
	top: 20%;
	left: -5%;
	z-index: -5;
	width: 102vw;
}
#spaceTwo {
	position: relative;
	top: 35%;
	left: 7.5%;
}
#spaceThree {
	position: relative;
    top: -5%;
    left: 34.9%;
    z-index: -6;
    width: 25vw;
}
#spaceGridOne {
    position: relative;
    top: 5%;
    left: -43.7%;
}
#spaceGridTwo {
	position: relative;
	top: 25%;
	left: -43.25%;
}
#spaceGridThree {
    position: relative;
    top: 25%;
    left: -12.2%;	
}
#spaceImageDescriptionOne {
	position: relative;
	top: -15%;
	left: 35.3%;
	width: 14%;
}
#spaceImageDescriptionTwo {
	position: relative;
	top: 50%;
	left: 35.3%;
	width: 14%;
}
#spaceImageDescriptionThree {
	position: relative;
	top: -5%;
	left: 35.3%;
	width: 14%;
}
#spaceImageDescriptionFour {
    position: relative;
    top: 5.3%;
    left: 35.3%;
    width: 9%;
}
#spaceImageDescriptionFive {
	position: relative;
	top: 45%;
	left: 35.3%;
	width: 14%;
}
#spaceImageDescriptionSix {
    position: relative;
    top: 47%;
    left: 35.3%;
    width: 14%;
}
#spaceImageDescriptionSeven {
	position: relative;
	top: 16%;
	left: 8.3%;
	width: 14%;
}
#spaceImageDescriptionEight {
	position: relative;
	top: 5%;
	left: 35.3%;
	width: 24%;
}
#spaceImageDescriptionNine {
	position: relative;
	top: 8%;
	left: 35.3%;
	width: 25%;
}
#SpaceVideoOne {
    position: relative;
    left: -32.8%;
    top: 8%;
    width: 62vw;
    height: 62vh;
    z-index: -5;
}
#SpaceVideoTwo {
    position: relative;
    left: -32.9%;
    top: 53%;
    width: 61.5vw;
    height: 61.6vh;
    z-index: -5;
}
#SpaceVideoThree {
    position: relative;
    left: -32.8%;
    top: 49%;
    width: 61.5vw;
    height: 61.6vh;
    z-index: -6;
}
#SpaceVideoFour {

    position: relative;
    left: -34.3%;
    top: 46%;
    width: 28.5vw;
    height: 28.5vh;
    z-index: -6;

}
#SpaceVideoFive {
    position: relative;
    left: -32.9%;
    top: 45%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -10;
}
#SpaceVideoSix {
    position: relative;
    left: -32.9%;
    top: 40%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -6;
}
#SpaceVideoSeven {
    position: relative;
    left: -32.9%;
    top: 57%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -5;
}
#SpaceVideoEight {
    position: relative;
    left: -32.9%;
    top: 52%;
    width: 61.5vw;
    height: 61.5vh;
    z-index: -6;
}
.endlineSpace {
	width: 64.5vw;
	height: 1vh;
	position: relative;
	top: 3%;
	left: 0%;
	border-bottom: 1px solid black;
}
.endlineSpaceTwo {
	width: 64.5vw;
	height: 1vh;
	position: relative;
	top: 6%;
	left: 0%;
	border-bottom: 2px dotted black;
}
.referencesSpace {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
	width: 30%;
	height: 50%;
	text-align: left;
}
.referenceBlockSpace {
	width: 102%;
	height: 6%;
	position: relative;
	top: 8%;
	left: 35.2%;
}
.referenceBlockSpaceTwo {
	width: 102%;
	height: 6%;
	position: relative;
	top: 35%;
	left: 35.2%;
}
#gridImageMiddleSpace {
	width: 23.5vw;
	margin-left: 30px;
	margin-right: 5px;
	margin-top: 3vh;
	height: auto;
	pointer-events: none;
}

.hideImage
{
	visibility: hidden;
}
/* -------------------------- Katie's dope resposive code ---------------------------------*/

@media (max-width: 1299px) {
.copyTextSpaceThree {
    top: 20.7% !important;
}
#spaceOne {
	top: 28%;
}
.copyTextSpaceFour {
	top: 20% !important;
}
#spaceSubTwo {
    top: 4vh;
}
.copyTextSpace {
	top: 43% !important;
}
#spaceGridOne {
    left: -44.3%;
    top: 8.5%;
}
#spaceImageDescriptionSeven {
	top: 32%;
}
#SpaceVideoOne {
    top: 12%;
}
#spaceSubThree {
	top: -13vh;
}
#SpaceVideoThree {
    top: 61%;
    height: 76vh;
}
#SpaceVideoTwo {
    top: 63%;
    height: 76vh;
}
#spaceSubFour {
	top: 65vh;
}
.copyTextSpaceTwo {
    top: 30% !important;
}
#spaceGridTwo {
    top: 35%;
    left: -44.3%;
}
#spaceThree {
    top: -2%;
}
#spaceSubFive {
    top: 32vh;
}
#spaceGridThree {
    position: relative;
    top: 31%;
    left: -12.4%;
}
#SpaceVideoFour {
    top: 56.5%;
    height: 35vh;
}
#spaceImageDescriptionFour {
	top: 6%;
}
#spaceSubSix {
    top: 36vh;
}

#SpaceVideoFive {

    left: -32.9%;
    top: 54%;
    height: 76vh;

}
#SpaceVideoSix {
    top: 51%;
    height: 76vh;
}
#spaceSubSeven {
    top: 115vh;
}
#SpaceVideoSeven {
    top: 70%;
    height: 76vh;
}
#SpaceVideoEight {
    top: 67%;
    height: 76vh;
}
#spaceImageDescriptionSix {
    top: 63%;
}
#spaceSubEight {
    top: 237vh;
}
}

@media (min-width: 1300px) and (max-width: 1399px) 
{
#spaceMainTitle
{
	top: 17%;
}	
#spaceSubTwo {
    top: -54.4vh;
}
#spaceGridOne {
    top: 7%;
    left: -44%;
}
#SpaceVideoOne {
	top: 10%;
}
#spaceSubThree {
	top: -91vh;
}
#spaceSubFour {
    top: -60vh;
}
#spaceGridTwo {
    top: 27%;
    left: -44%;
}
#spaceThree {
    top: -2%;
}
#spaceSubFive {
	top: -126vh;
}
#spaceGridThree {
	top: 28%;
    left: -13%;
}
#SpaceVideoFour {
	top: 42%;
}
#spaceImageDescriptionFour {
	top: 8.7%;
}
#spaceSubSix {
	top: -153.5vh;
}
.copyTextSpaceTwo {
    position: relative;
    top: 27%;
}
#spaceSubSeven {
    top: -125vh;
}
#spaceSubEight {
    top: -55vh;
    height: 85vh;
}
}

@media (min-width: 1400px) and (max-width: 1499px) 
{
.copyTextSpaceThree {
    top: 18%;
}
		#spaceImageDescriptionSeven {
    top: 16.4%;
}
.copyTextSpaceFour {
    top: 6.4%;
}
#spaceSubTwo {
	top: -38vh;
}
#spaceSubTwo .copyText {
top: 18%;
}
#spaceGridOne {
    left: -44.2%;
    top: 3%;
}
#SpaceVideoOne {
    height: 65.5vh;
    top: 6%;
}
#spaceSubThree {
	top: -68.5vh;
}
.copyTextSpaceFive {
    top: 18%;
}
#SpaceVideoThree {
    top: 47%;
    height: 65vh;
}
#SpaceVideoTwo {
    top: 51%;
    height: 65vh;
}
#spaceSubFour {
	top: -29vh;
}
#spaceGridTwo {
    left: -44%;
}
		#spaceSubFour .copyText {
top: 18%;
}
		#spaceSubFour .copyTextSpaceTwo {
top:25%;
}
#spaceSubFive {
    top: -85vh;
}
#spaceGridThree {
	left: -12.9%;
    top: 26%;
}
#SpaceVideoFour {
    height: 30vh;
    left: -34.5%;
    top: 41%;
}
#spaceSubSix {
  
    top: -103vh;

}
#SpaceVideoFive {
	left: -32.9%;
    height: 65vh;
    top: 44%;
}
#SpaceVideoSix {
    height: 65vh;
    left: -32.9%;
}
#spaceSubSeven {
	top: -61vh;
}
#SpaceVideoSeven {
	left: -32.9%;
    height: 65vh;
    top: 57%;
}
#SpaceVideoEight {
	height: 65vh;
}
#spaceImageDescriptionEight {
    top: 7.3%;
}
.endlineSpaceTwo {
    top: 11.5%;
}
#spaceImageDescriptionNine {
    top: 16.5%;
}
#spaceSubEight {
    top: 15vh;
    height: 94vh;
}

.copyTextSpaceSix
{
	top: 18.5%;
}
}

@media (min-width: 1500px) and (max-width: 1599px) {
	
	.copyTextSpaceThree {
		top: 20%;
	}
	#spaceOne {
		top: 22%;
	}
	#spaceImageDescriptionSeven {
		top: 17%;
	}
	#spaceSubTwo {
		top: -14vh;
	}
	#spaceGridOne {
		top: 11%;
	}
	#SpaceVideoOne {
		left: -32.8%;
		top: 14%;
		height: 73vh;
	}
	#spaceSubThree {
		top: -20vh;
	}
	#SpaceVideoThree {
		top: 58%;
    height: 73vh;
	}
	#SpaceVideoTwo {
	
		top: 62%;
		height: 72.8vh;
	
	}
	#spaceSubFour {
		top: 48vh;
	}
	#spaceGridTwo {
		top: 30%;
		left: -43.7%;
	}
	#spaceSubFive {
		top: 9vh;
	}
	#spaceSubSix {
		top: 3vh;
	}

	#SpaceVideoFour {
		left: -34.3%;
		top: 49.5%;
		width: 28.5vw;
		height: 33.5vh;
	}
	#SpaceVideoFive {
		top: 55.5%;
		left: -32.9%;
		height: 72.7vh;
	}
	#SpaceVideoSix {
		top: 52%;
		height: 73vh;
	}
	#spaceSubSeven {
	    top: 79vh;
	}
	#SpaceVideoSeven {
	    top: 71%;
    height: 73vh;
	}
	#SpaceVideoEight {
		top: 67%;
		height: 73vh;
	}

	#spaceImageDescriptionFour {
		top: 2.3%;
		left: 35.3%;
		width: 9%;
	}
	#spaceImageDescriptionSix {
		top: 63%;

	}
	#spaceSubEight {
		top: 195vh;
		height: 95vh;
	}
	#spaceImageDescriptionEight {
		top: 8%;
	}
	.endlineSpaceTwo {
		top: 12%;
	}
	#spaceImageDescriptionNine {
		top: 17%;
	}
	}

	/* common - 1600×750, 1600×900 */
@media (min-width: 1600px) and (max-width: 1699px) {
	.copyTextSpaceThree {
    top: 20.5%;
}
#spaceOne {
    top: 21%;
}
#spaceSubTwo {
    top: -42vh;
}
	#spaceGridOne {
    position: relative;
    top: 18%;
    left: 6.3%;
}
#spaceSubThree {
    top: -88vh;
}
#spaceSubFour {
    top: -101vh;
}
#spaceGridTwo {
    top: 33%;
    left: -43.55%;
}
#spaceSubFive {
    top: -143.5vh;
}
#spaceSubSix {
    top: -154.5vh;
}
#spaceSubSeven {
    top: -163vh;
}
#spaceSubEight {
    top: -130vh;
    height: 80vh;
}
#spaceImageDescriptionEight {
    top: 8%;
}
.endlineSpaceTwo {
    top: 11%;
}
#spaceImageDescriptionNine {
    top: 15%;
}
#spaceSubEight {
    top: -130vh;
    height: 89vh;
}
	
}