.tanksContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    height: 100%;
    z-index: 10;
}

#tanksSubTwo
{
    top: -40vh;
}

#tanksSubThree
{
    top: 0vh;
}

#tanksSubFour
{
    top: 96vh;
}

#tanksSubFive
{
    top: 170vh;
}

#tanksSubSix
{
    top: 245vh;
}

#tanksSubSeven
{
    top: 245vh;

}

#tanksSubEight
{
    top: 305vh;
}

#tanksSubNine
{
    top: 380vh;
    height: 65vh;
}

#tanksOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#tanksTwo
{
    position: relative;
    top: 14%;
    left: -32.9%;
}

#tanksThree
{
    position: relative;
    top: -13%;
    left: 7.6%;
}

#tanksFour
{
    position: relative;
    top: 15%;
    left: -32.9%;
    z-index: 5;
}

#tanksFive
{
    position: relative;
    top: -8%;
    left: -32.9%;
}

#tanksSix
{
    position: relative;
    top: 16%;
    left: -32.9%;
}

#tanksSeven
{
    position: relative;
    top: 13%;
    left: 7.5%;
}

#tanksEight
{
    position: relative;
    top: -7%;
    left: -32.9%;
    z-index: -5;
}

#tanksNine
{
    position: relative;
    top: -14%;
    left: 7.9%;
    z-index: -5;
}

#tanksTen
{
    position: relative;
    top: -45%;
    left: -45.3%;
    z-index: 5;
    width: 7vw;
}

#tanksEleven
{
    position: relative;
    top: -18%;
    left: -49.4%;
    z-index: -5;
}

#tanksTwelve
{
    position: relative;
    top: -29%;
    left: 7.8%;
    z-index: -5;
}

#tanksThirteen
{
    position: relative;
    top: -10%;
    left: -32.9%;
    z-index: -5;
}

.copyTanksOne
{
    position: relative;
    top: -6%;
    left: 35.3%;
}

.copyTanksTwo
{
    position: relative;
    top: -11%;
    left: 35.3%;
}

.copyTanksThree
{
    position: relative;
    top: -13%;
    left: 35.3%;
}

.copyTanksFour
{
    position: relative;
    top: -32%;
    left: 35.3%;
}

.copyTanksFive
{
    position: relative;
    top: 0%;
    left: 35.3%;
}

#tanksGridOne
{
    position: relative;
    left: -32.4%;
    top: -8%;
}

#tanksGridTwo
{
    position: relative;
    left: -43.3%;
    top: -22%;
}

#tanksGridThree
{
    position: relative;
    left: -16.3%;
    top: -55%;
}

#tanksGridFour
{
    position: relative;
    left: -49.5%;
    top: -10%;
}

#tanksGridFive
{
    position: relative;
    left: -16.3%;
    top: -62.5%;
}

#tanksGridSix
{
    position: relative;
    left: -39%;
    top: 13%;
}

#tanksGridSeven
{
    position: relative;
    left: -16.3%;
    top: -72%;
}

#tanksGridEight
{
    position: relative;
    left: -43.3%;
    top: 1%;
}

#tanksGridNine
{
    position: relative;
    left: -16.3%;
    top: -95%;
}

#tanksGridTen
{
    position: relative;
    left: -16.3%;
    top: -30%;
}

#tanksGridEleven
{
    position: relative;
    left: -43.3%;
    top: -6%;
}

#tanksImageDescriptionOne
{
    position: relative;
    top: 10%;
    left: 8.3%;
    width: 14%;
}

#tanksImageDescriptionTwo
{
    position: relative;
    top: 10%;
    left: 8.3%;
    width: 15%;
}

#tanksImageDescriptionThree
{
    position: relative;
    top: 6%;
    left: 8.3%;
    width: 15%;
}

#tanksImageDescriptionFour
{
    position: relative;
    top: -30%;
    left: 8.3%;
    width: 15%;
}

#tanksImageDescriptionFive
{
    position: relative;
    top: 11%;
    left: 8.3%;
    width: 17%;
}

#tanksImageDescriptionSix
{
    position: relative;
    top: 8%;
    left: 8.3%;
    width: 20%;
    padding-bottom: 5vh;
}


#tanksVideoOne
{
    width: 61.5vw;
    height: 61.5vh;
    position: relative;
    left: -32.9%;
    top: 11%;
}

#tanksVideoTwo
{
    width: 50vw;
    height: 50vh;
    position: relative;
    left: -42.5vw;
    top: 24vh;
    z-index: -5;
}

#tanksVideoThree
{
    width: 25vw;
    height: 25vh;
    position: relative;
    left: 1.54vw;
    top: 2vh;
}

#tanksVideoFour
{
    width: 61.5vw;
    height: 61.5vh;
    position: relative;
    left: -32.9%;
    top: 15%;
}

#tanksVideoFive
{
    width: 61.5vw;
    height: 61.5vh;
    position: relative;
    left: -32.9%;
    top: 15%;
}

.endlineTanks
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

#gridImageMiddleTanks
{
    width: 23.5vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

#gridImageMiddleTanksTwo
{
    width: 30vw;
    margin-left: 19px;
    margin-right: 2px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

#gridImageSmallTanks {
    width: 19.3vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

#gridImageMiddleTanksThree {
    width: 23.5vw;
    margin-left: 16px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

/* -------------------------- Andy's dope resposive code ---------------------------------*/

@media(max-width: 1299px) 
{
    #tanksSubTwo 
    {
        top: -10vh;
    }

    #tanksSubThree 
    {
        top: 75vh;
    }

    #tanksSubFour 
    {
        top: 235vh;
    }

    #tanksSubFive 
    {
        top: 350vh;
    }

    #tanksSubSeven 
    {
        top: 485vh;
    }

    #tanksSubEight 
    {
        top: 580vh;
    }

    #tanksSubNine 
    {
        top: 680vh;
        height: 65vh;
    }

    .copyTanksOne 
    {
        top: -10%;
    }

    .copyTanksTwo 
    {
        top: -13.5%;
        left: 35.3%;
    }

    .copyTanksThree 
    {
        top: -16%;
        left: 35.3%;
    }

    .copyTanksFour 
    {
        top: -40%;
        left: 35.3%;
    }

    #tanksImageDescriptionOne 
    {
        top: 12%;
    }

    #tanksImageDescriptionTwo 
    {
        top: 14%;
        left: 8.3%;
    }

    #tanksImageDescriptionThree 
    {
        top: 10%;
        left: 8.3%;
    }

    #tanksImageDescriptionFour 
    {
        top: -27%;
        left: 8.3%;
    }

    #tanksImageDescriptionFive 
    {
        top: 14%;
        left: 8.3%;
    }

    #tanksImageDescriptionFive 
    {
        top: 14%;
        left: 8.3%;
    }

    #tanksImageDescriptionSix
    {
        position: relative;
        top: 8%;
        left: 8.3%;
        width: 20%;
    }


    #tanksGridOne 
    {
        top: -11%;
    }

    #tanksGridTwo 
    {
        left: -44.1%;
        top: -20%;
    }

    #tanksGridThree
    {
        left: -17.3%;
        top: -64%;
    }

    #tanksGridFour 
    {
        left: -48.5%;
        top: -10%;
    }

    #tanksGridFive 
    { 
        left: -17.3%;
        top: -74%;
    }

    #tanksGridSix 
    {
        left: -38.8%;
        top: 13%;
    }

    #tanksGridSeven 
    {
        left: -17.3%;
        top: -80%;
    }

    #tanksGridEight 
    {
        left: -44.2%;
        top: 1%;
    }

    #tanksGridNine 
    {
        left: -17.3%;
        top: -115%;
    }

    #tanksGridEleven 
    {       
        left: -44.1%;
        top: -8%;
    }

    #tanksThree 
    {
        top: -16%;
        left: 7.95%;
    }

    #tanksSix 
    {
        top: 15%;
        left: -32.9%;
    }

    #tanksSeven 
    {
        top: 18%;
        left: 7.5%;
    }

    #tanksEight 
    {
        top: -6%;
        left: -25.9%;
    }

    #tanksNine 
    {
        top: -12%;
        left: 7.6%;
    }

    #tanksTen 
    {
        top: -49%;
        left: -40%;
        width: 8vw;
    }

    #tanksEleven 
    {
        top: -21%;
        left: -49.4%;
    }

    #tanksTwelve 
    {
        top: -31%;
        left: 7.5%;
    }

    #tanksThirteen 
    {
        top: -18%;
        left: -32.9%;
    }

    #gridImageMiddleTanksTwo 
    {
        width: 30vw;
        margin-left: 2px;
        margin-right: 2px;
    }

    #tanksGridOne 
    {
        left: -32.3%;
        top: -10%;
    }

    #tanksTwelve 
    {
        top: -31%;
        left: 7.5%;
    }

    #gridImageMiddleTanksThree 
    {
        width: 23.5vw;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 3vh;
        height: auto;
        pointer-events: none;
    }
    
}

@media (min-width: 1300px) and (max-width: 1399px) 
{

    #tanksSubOne
    {
        top: -5vh;
    }

    #tanksSubTwo
    {
        top: -50vh;
    }

    #tanksSubThree 
    {
        top: -20vh;
    }

    #tanksSubFour 
    {
        top: 72vh;
    }

    #tanksSubFive 
    {
        top: 142vh;
    }

    #tanksSubSeven 
    {
        top: 212vh;
    }

    #tanksSubEight 
    {
        top: 266vh;
    }

    #tanksSubNine 
    {
        top: 334vh;
        height: 65vh;
    }

    #tanksGridOne 
    { 
        left: -32.5%;
        top: -8%;
    }

    #tanksGridTwo 
    {
        left: -44%;
        top: -20%;
    }

    #tanksGridThree 
    {
        left: -17%;
        top: -54%;
    }

    #tanksGridFour 
    {
        left: -48.7%;
        top: -10%;
    }

    #tanksGridFive 
    {
        left: -17%;
        top: -62.5%;
    }    

    #tanksGridSix 
    {
        left: -39%;
        top: 13%;
    }    

    #tanksGridSeven 
    {
        left: -17%;
        top: -71%;
    }

    #tanksGridEight 
    {
        left: -44%;
        top: -1%;
    }

    #tanksGridNine 
    {
        left: -17%;
        top: -97%;
    }

    #tanksGridEleven 
    {
        left: -44%;
        top: -6%;
    }

    #gridImageMiddleTanksTwo 
    {
        width: 30vw;
        margin-left: 5px;
        margin-right: 0px;
    }

    #gridImageMiddleTanksThree 
    {
        width: 23.5vw;
        margin-left: 3px;
        margin-right: 5px;
    }

    #tanksThree 
    {
        top: -14%;
        left: 7.7%;
    }

    #tanksFive 
    {
        top: -6%;
        left: -32.9%;
    }

    #tanksSeven 
    {
        top: 13%;
        left: 7.7%;
    }

    #tanksNine 
    {
        top: -14%;
        left: 7.6%;
    }

    #tanksTwelve
     {
        top: -29%;
        left: 7.5%;
    }
}

@media (min-width: 1400px) and (max-width: 1499px)
{

    #tanksSubOne
    {
        top: -4vh;
    }

    #tanksSubTwo 
    {
        top: -41vh;
    }

    #tanksSubThree 
    {
        top: 4vh;
    }

    #tanksSubFour 
    {
        top: 105vh;
    }

    #tanksSubFive 
    {
        top: 181vh;
    }
    
    #tanksSubSeven
    {
        top: 257vh;
    }

    #tanksSubEight 
    {
        top: 321vh;
    }

    #tanksSubNine 
    {
        top: 385.5vh;
        height: 65vh;
    }

    #gridImageMiddleTanksTwo 
    {
        width: 30vw;
        margin-left: 4px;
    }

    #gridImageMiddleTanksThree 
    {
        width: 23.5vw;
        margin-left: 5px;
        margin-right: 5px;
    }

    #tanksImageDescriptionFour 
    {
        top: -33%;
        left: 8.3%;
    }

    #tanksImageDescriptionFive 
    {
        top: 10.7%;
        left: 8.3%;
    }

    #tanksGridOne 
    {
        left: -32.4%;
        top: -8%;
    }

    #tanksGridTwo 
    {
        left: -43.8%;
        top: -22%;
    }

    #tanksGridThree
    {
        left: -16.85%;
        top: -58%;
    }

    #tanksGridFour 
    {
        left: -48.7%;
        top: -10%;
    }

    #tanksGridFive 
    {
        left: -16.9%;
        top: -65%;
    }

    #tanksGridSix 
    {   
        left: -39%;
        top: 13%;
    }

    #tanksGridSeven 
    {
        left: -16.9%;
        top: -76%;
    }

    #tanksGridEight 
    {
        left: -43.8%;
        top: 1%;
    }

    #tanksGridNine 
    {
        left: -16.8%;
        top: -99%;
    }

    #tanksGridEleven 
    {
        left: -43.8%;
        top: -8%;
    }

    #tanksThree 
    {
        top: -13%;
        left: 7.9%;
    }

    #tanksSeven 
    {
        top: 13%;
        left: 7.7%;
    }

    #tanksNine 
    {
        top: -17%;
        left: 7.6%;
    }

    #tanksTen 
    {
        top: -47%;
        left: -45.3%;
    } 
    
    #tanksTwelve 
    {
        top: -29%;
        left: 7.6%;
    }

    #tanksThirteen 
    {
        top: -18%;
        left: -32.9%;
    }

    .copyTanksTwo 
    {
        top: -10%;
        left: 35.3%;
    }
}

@media (min-width: 1500px) and (max-width: 1599px) 
{
    .copyTanksSix
    {
        top: 19.9%;
    }

    #tanksSubTwo {
        top: -20.5vh;
    }

    #tanksSubThree {
        top: 52.7%;
    }

    #tanksSubFour {
        top: 190.2vh;
    }

    #tanksSubFive {
        top: 285.5vh;
    }

    #tanksSubSeven {
        top: 388vh;
    }

    #tanksSubEight {
        top: 474.5vh;
    }

    #tanksSubNine {
        top: 558vh;
        height: 65vh;
    }

    #tanksGridOne { 
        left: -32.4%;
        top: -8%;
    }

    #tanksGridTwo {
        left: -43.6%;
        top: -22%;
    }

    #tanksGridThree {
        left: -16.7%;
        top: -62.2%;
    }

    #tanksGridFour {
        left: -48.9%;
        top: -11%;
    }

    #tanksGridFive {
        left: -16.7%;
        top: -72.3%;
    }

    #tanksGridSix {
        left: -39%;
        top: 13%;
    }

    #tanksGridSeven {
        left: -16.75%;
        top: -83%;
    }

    #tanksGridEight {
        left: -43.6%;
        top: 1%;
    }

    #tanksGridNine {
        left: -16.7%;
        top: -113%;
    }

    #tanksGridEleven {
        left: -43.6%;
        top: -12%;
    }

    #gridImageMiddleTanksTwo {
        margin-left: 8px;
        margin-right: 2px;
    }

    #gridImageMiddleTanksThree {
        margin-left: 7px;
    }

    #tanksThree
    {
        top: -13.5%;
        left: 7.6%;
    }

    #tanksSeven {
        top: 13%;
        left: 7.8%;
    }

    #tanksFive {
        top: -8.5%;
        left: -32.9%;
    }

    #tanksEight {
        top: -10%;
        left: -32.9%;
    }

    #tanksNine {
        top: -19%;
        left: 7.7%;
    }

    #tanksTen {
        top: -52%;
        left: -45.3%;
    }

    #tanksEleven {
        top: -23%;
        left: -49.4%;
    }

    #tanksTwelve {
        top: -34%;
        left: 7.8%;
    }

    #tanksThirteen {
        top: -22%;
        left: -32.9%;
    }

    .copyTanksThree {
        top: -16.5%;
        left: 35.3%;
    }

    .copyTanksFour {
        top: -38%;
        left: 35.3%;
    }

    .copyTanksFive {
        top: -3%;
        left: 35.3%;
    }

    #tanksImageDescriptionFour 
    {
        top: -35%;
        left: 8.3%;
    }

    #tanksImageDescriptionFive 
    {
        top: 11%;
        left: 8.3%;
        width: 11%;
    }
}

    /* common - 1600×750, 1600×900 */
    @media (min-width: 1600px) and (max-width: 1699px) 
    {
        #tanksSubTwo {
            top: -18vh;
        }
        #tanksSubThree {
            top: 45vh;
        }
        #tanksSubFour {
            top: 174vh;
        }
        #tanksSubFive {
            top: 263vh;
        }

        #tanksSubSeven {
            top: 369vh;
        }

        #tanksSubEight {
            top: 447vh;
        }

        #tanksSubNine {
            top: 524vh;
            height: 65vh;
        }

        #gridImageMiddleTanksTwo 
        {
            width: 30vw;
            margin-left: 8px;
        }

        #gridImageMiddleTanksThree 
        {
            width: 23.8vw;
            margin-left: 7px;
            margin-right: 5px;
        }

        #tanksImageDescriptionFour
        {
            top: -33%;
            left: 8.3%;
            width: 15%;
        }

        .copyTanksTwo {
            top: -9%;
            left: 35.3%;
        }

        #tanksFive {
            top: -6%;
            left: -32.9%;
        }

        #tanksSeven {
            top: 13%;
            left: 7.5%;
        }

        #tanksNine {
            top: -18%;
            left: 7.7%;
        }

        #tanksTen {
            top: -56%;
            left: -45.3%;
        }

        #tanksTwelve {
            top: -33%;
            left: 7.7%;
        }

        #tanksGridTwo {
            left: -43.65%;
            top: -22%;
        }

        #tanksGridThree 
        {
            left: -16.65%;
            top: -60%;
        }

        #tanksGridFour {
            left: -48.9%;
            top: -11%;
        }

        #tanksGridFive {
            left: -16.7%;
            top: -73%;
        }

        #tanksGridSix {
            left: -38.7%;
            top: 13%;
        }

        #tanksGridSeven {
            left: -16.65%;
            top: -77%;
        }

        #tanksGridEight {
            left: -43.65%;
            top: 1%;
        }

        #tanksGridNine {
            left: -16.65%;
            top: -113%;
        }

        #tanksGridEleven {
            left: -43.65%;
            top: -8%;
        }

        .copyTanksSeven
        {
            top: -10%;
        }

        #tanksThirteen {
            top: -19%;
            left: -32.9%;
        }

        .copyTanksThree 
        {
            top: -17%;
            left: 35.3%;
        }

        .copyTanksFour {
            top: -39%;
            left: 35.3%;
        }

        .copyTanksFive {
            top: 0%;
            left: 35.3%;
        }
    }