.timeContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
}

#timeOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#timeTwo
{
    position: relative;
    left: 34.7%;
    top: 11%;
}

#timeThree
{
    position: relative;
    left: 1%;
    top: -13%;
    z-index: 5;
}

#timeFour
{
    position: relative;
    left: 12vw;
    top: 40vh;
}

#timeFive
{
    position: relative;
    left: -33%;
    top: -25%;
    z-index: -5;
}

#timeSix
{
    position: relative;
    left: -16.9%;
    top: 42%;
}

#timeSeven
{
    position: relative;
    left: -83%;
    top: 55%;
}

#timeEight
{
    position: relative;
    left: 7.5%;
    top: -6%;
}

#timeNine
{
    position: relative;
    left: -31.9%;
    top: -2%;
    width: 63vw;
}

#timeTen
{
    position: relative;
    left: 29.1%;
    top: -48%;
    z-index: 0;
    width: 36.2vw;
}

#timeEleven
{
    position: relative;
    left: 34.7%;
    top: -45%;
    z-index: 0;
}

#timeSubTwo
{
    position: relative;
    top: -40vh;
}

#timeSubThree
{
    top: -20vh;
}

#timeSubFour
{
    top: -30vh;
}

#timeSubFive
{
    top: -25vh;
}

#timeSubSix
{
    top: 55vh;
}

#timeSubSeven
{
    top: 132vh;
}

#timeSubEight
{
    top: 170vh;
}

#timeSubNine
{
    top: 130vh;
}

#timeSubTen
{
    top: 110vh;
    height: 50vh;
}

#gridImageMiddleLarge
{
    width: 29.7vw;
    margin-left: 25px;
}

#timeGridOne
{
    top: 64%;
    left: 5.3%;
    z-index: 1;
    pointer-events: none;
}

#timeGridTwo
{
    position: relative;
    left: -43.3%;
    top: 0%;
    z-index: 5;
}

#timeGridThree
{
    position: relative;
    left: -43.3%;
    top: 15%;
    z-index: -5;
}

#timeGridFour
{
    position: relative;
    left: -43.3%;
    top: -43%;
    z-index: 5;
}

#timeGridFive
{
    position: relative;
    left: 40.7%;
    top: 140vh;
}

#timeGridSix
{
    position: relative;
    left: -44.7%;
    top: -22%;
}

#timeGridSeven
{
    position: relative;
    left: -48.5%;
    top: -14%;
}

#timeGridEight
{
    position: relative;
    left: -14.7%;
    top: -80%;
}

#timeHorizontalGridOne
{
    top: 42%;
    left: 1.25%;
    z-index: 1;
    pointer-events: none;
}

#timeHorizontalGridTwo
{
    top: 72%;
    left: 0.25%;
    z-index: 1;
    pointer-events: none;
}

#timeHorizontalGridThree
{
    top: 102%;
    left: 0.25%;
    z-index: 1;
    pointer-events: none;
}

#timeHorizontalGridFour
{
    top: 132%;
    left: 1.25%;
    z-index: 1;
    pointer-events: none;
}

#timeVideoOne
{
    position: relative;
    top: 0%;
    left: -33%;
    z-index: 0;
}

#timeVideoTwo
{
    position: relative;
    top: 40%;
    left: 1.6vw;
    z-index: 0;
    width: 40vw;
    z-index: 3;
}

#timeVideoThree
{
    position: relative;
    top: 17%;
    left: 8vw;
    z-index: 0;
    width: 40vw;
}

#timeVideoFour
{
    position: relative;
    top: 42%;
    left: 9.5vw;
    z-index: 0;
    width: 40vw;
}

#timeVideoFive
{
    position: relative;
    top: 44%;
    left: -32.9%;
    z-index: 0;
}

#timeVideoSix
{
    position: relative;
    width: 61.5vw;
    height: 61.5vh;
    top: 15%;
    left: -32.9%;
}

#timeVideoSeven
{
    position: relative;
    width: 30vw;
    height: 36vh;
}

#timeVideoEight
{
    position: relative;
    width: 61.5vw;
    height: 61.5vh;
    top: 15%;
    left: -32.9%;
}

#timeVideoNine
{
    position: relative;
    top: 3%;
    width: 30vw;
    margin-top: 3vh;
    height: 30vh;
}

#timeVideoTen
{
    position: relative;
    top: -30%;
    left: -32.9%;
    width: 61.5vw;
    height: 61.5vh;
}

#timeImageDescriptionOne
{
    top: 82%;
    left: 35.3%;
    z-index: 1;
    pointer-events: none;
    width: 13%;
}

#timeImageDescriptionTwo
{
    top: 78%;
    left: 51%;
    z-index: 1;
    pointer-events: none;
    width: 20%;
}

#timeImageDescriptionThree
{
    top: 78%;
    left: 51.7%;
    z-index: 1;
    pointer-events: none;
    width: 20%;
}

#timeImageDescriptionFour
{
    top: 70%;
    left: 35.3%;
    z-index: 1;
    pointer-events: none;
    width: 12%;
}

#timeImageDescriptionFive
{
    top: 5%;
    left: 35.3%;
    z-index: 1;
    pointer-events: none;
    width: 23%;
}

#timeImageDescriptionSix
{
    top: 25%;
    left: 35.3%;
    z-index: 1;
    pointer-events: none;
    width: 24%;
}

.timeCopyOne
{
    position: relative;
    top: 60%;
    width: 26%; 
}

.timeCopyTwo
{
    position: relative;
    top: 10%;
    width: 26%;
}

.timeCopyThree
{
    position: relative;
    top: 15%;
    width: 26%;
}

#gridImageTime
{
    width: 23.7vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

#gridImageTimeTwo
{
    width: 30vw;
    margin-left: 23px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

#gridImageTimeThree
{
    width: 30vw;
    margin-left: 18px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

.endLineTime
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endLineTimeTwo
{
    width: 64.5vw;
    height: 1vh;
    position: relative;
    top: 16%;
    left: 0%;
    border-bottom: 2px dotted black;
}