.weedsContainer
{
    max-width: 100vw;
    flex: 100%;
    display: block;
    z-index: 10;
}

#weedsSubTwo
{
    top: -40vh;
}

#weedsSubThree
{
    top: -70vh;
}

#weedsSubFour
{
    top: -40vh;
}

#weedsSubFive
{
    top: 83vh;
}

#weedsSubSix
{
    top: 52vh;
}

#weedsSubSeven
{
    top: 69vh;
}

#weedsOne
{
    position: relative;
    z-index: -5;
    top: 0%;
    left: -4%;
    width: 102vw;
    height: auto;
}

#weedsTwo
{
    position: relative;
    top: 14%;
    left: -32.65%;
    z-index: -5;
}

#weedsThree
{
    position: relative;
    top: 13.8%;
    left: -32.5%;
    z-index: -5;
}

#weedsFour
{
    position: relative;
    top: -31%;
    left: 7.7%;
    z-index: -2;
}

#weedsFive
{
    position: relative;
    top: -25%;
    left: 34.8%;
    z-index: -2;
}

#weedsSix
{
    position: relative;
    top: 14%;
    left: -32.8%;
    z-index: -5;
    width: 61.5vw;
}

#weedsSeven
{
    position: relative;
    top: -42%;
    left: 7.6%;
    z-index: 0;
}

#weedsEight
{
    position: relative;
    top: 14%;
    left: 34.7%;
    z-index: 0;
}

#weedsNine
{
    position: relative;
    top: 15%;
    left: -32.9%;
    z-index: 0;
}

#weedsCopyOne
{
    position: relative;
    top: 10%;
    left: 35.5%;
    z-index: -6;
}

#weedsCopyThree
{
    position: relative;
    top: 11%;
    left: 8.3%;
    z-index: -6;
    width: 16%;
}

#weedsCopyFour
{
    position: relative;
    top: 4%;
    left: 35.5%;
    z-index: -6;
}

#weedsCopyFive
{
    position: relative;
    top: 15%;
    left: 35.3%;
    z-index: -6;
}

#weedsCopySix
{
    position: relative;
    top: 10%;
    left: 35.5%;
    z-index: -6;
}

#weedsCopyTwo
{
    position: relative;
    top: -23%;
    left: 35.2%;
    z-index: -6;
}

#weedsGridOne
{
    position: relative;
    top: -20%;
    left: -43.4%;
    z-index: 0;
}

#weedsGridTwo
{
    position: relative;
    top: -50%;
    left: -43.2%;
    z-index: 0;
}

#weedsGridThree 
{
    position: relative;
    top: -83.5%;
    left: -16.3%;
    z-index: 0;
}

#weedsGridFour
{
    position: relative;
    top: -23%;
    left: -43.35%;
    z-index: 0;
}

#weedsGridFive
{
    position: relative;
    top: -78%;
    left: -16.3%;
    z-index: 0;
}

#weedsGridSix
{
    position: relative;
    top: -41%;
    left: -43.4%;
    z-index: 0;
}

#weedsGridSeven
{
    position: relative;
    top: -27%;
    left: -43.3%;
    z-index: 0;
}

#weedsGridEight
{
    position: relative;
    top: -122%;
    left: -32.5%;
    z-index: 0;
}

#weedsVideoOne
{
    position: relative;
    top: 5%;
    left: 18.5%;
    z-index: -5;
    overflow: hidden;
    width: 45.7vw;
    height: 51vh;
}

.endlineWeeds
{
    width: 64.5vw;
    height: 1vh;
    position: absolute;
    top: 0%;
    left: 0%;
    border-bottom: 1px solid black;
}

.endlineWeedsTwo
{
    width: 64.5vw;
    height: 1vh;
    position: absolute;
    top: 20%;
    left: 0%;
    border-bottom: 2px dotted black;
}

.endlineWeedsThree
{
    width: 64.5vw;
    height: 1vh;
    position: absolute;
    top: 11%;
    left: 0%;
    border-bottom: 2px dotted black
}


#weedsGridImage
{
    width: 23.7vw;
    margin-left: 30px;
    margin-right: 5px;
    margin-top: 3vh;
    height: auto;
    pointer-events: none;
}

.referenceWeeds
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
    top: 2%;
    left: 35.2%;
}

.referencesWeedsTwo
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
    top: -37%;
    left: 35.3%;    
}

.referencesWeedsThree
{
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    width: 30%;
    height: 50%;
    text-align: left;
    top: -79%;
    left: 35.3%;   
}

/* ----------------------Responsive code starts here --------------------------*/

@media (max-width: 1299px) {
#weedsSubTwo {
    top: -8vh;
}

#weedsCopyOne {
    top: 13%;
}
#weedsGridOne {
    left: -44.2%;
}
#weedsSubThree {
    top: -5vh;
}
#weedsFour {
    top: -39.2%;
    left: 7.4%;
}
#weedsFive {
    top: -32%;
    left: 34.4%;
}
	#weedsCopyTwo {
    top: -30%;
}
#weedsGridThree {
    top: -104%;
    left: -17.3%;
}
#weedsGridTwo {
    top: -63%;
    left: -44.2%;
}
#weedsSubFour {
    top: 66.6vh;
}

#weedsCopyFour {
    top: 6%;
    left: 35.2%;
}
#weedsSeven {
    top: -39.3%;
left: 7.5%;
}
#weedsCopyThree {
    top: 19%;
}
#weedsVideoOne {
    top: 9.9%;
    height: 65vh;
}
#weedsGridFour {
    top: -30%;
    left: -44.2%;
}

#weedsGridFive {
    top: -91%;
    left: -17.3%;
}

#weedsSubFive {
    top: 255vh;
}

#weedsGridSix {
    top: -51.6%;
    left: -44.2%;
}

#weedsEight {
    top: 14%;
    left: 34.4%;
}
#weedsSubSix {
    top: 255vh;
}

#weedsGridSeven {
    top: -36%;
    left: -44.2%;
}

#weedsCopySix {
    top: 13.5%;
    left: 35.5%;
}
#weedsSubSeven {
    top: 300vh;
}
.endlineWeedsTwo {
    top: 21.3%;
}
.referencesWeedsTwo {
    top: -27%;
}

.referenceWeeds,.referencesWeedsTwo, .referencesWeedsThree {
    font-size: 9px;
    line-height: 12px;
}

.referenceWeeds
{
    top: 6%;
}

.referencesWeedsTwo
{
    top: -26%;
}

.endlineWeedsThree {
    top: 35%;
}

.referencesWeedsThree {
    top: -65%;
}

#weedsGridEight {
    top: -105%;
}
#gridImageSmallerMargin {
    width: 14vw;
    margin-left: 10.6px;
}

#weedsGridEight {
    left: -32.3%;
}
	
}